<table id="address_results">
  <tr>
    <th><%= translate_helper("address_results_name_column") %></th>
    <th><%= translate_helper("address") %></th>
    <th><%= translate_helper("city") %></th>
    <th><%= translate_helper("state") %></th>
    <th><%= translate_helper("phone_number") %></th>
    <th><%= translate_helper("in_district") %></th>
    <th><%= translate_helper("address_notes") %></th>
    <% if can? :edit, Vehicle %>
    <th></th>
    <% end %>
  </tr>
  <% if @provider.addresses.size == 0 %>
    <tr><td ><%= translate_helper("no_addresses_yet") %></td></tr>
  <% else %>
    <tr><td ><%= translate_helper("search_for_address") %></td></tr>
  <% end %>
</table>