= form_for @provider, :html => { :multipart => true } do |f|
  - if @provider.errors.any?
    .panel.panel-danger
      .panel-heading= translate_helper("provider_form_error", count: @provider.errors.count)
      .panel-body
        %ul
          - @provider.errors.full_messages.each do |msg|
            %li= msg
  .row
    .col-sm-12.col-md-6
      .panel.panel-primary
        .panel-heading= translate_helper("provider_form_details_heading")
        .panel-body.form-horizontal
          .form-group
            = f.label :name, translate_helper("provider_form_name"), class: "col-md-2 control-label"
            .col-md-10
              = f.text_field :name, class: 'form-control', disabled: @readonly
          .form-group
            = f.label :logo, translate_helper("provider_form_logo"), class: "col-md-2 control-label"
            .col-md-10
              - if @provider.logo.present? && !@provider.new_record?
                = image_tag @provider.logo.url(:small)
              - unless @readonly
                = f.file_field :logo, class: 'form-control'
          .form-group
            = f.label :phone_number, translate_helper("phone_number"), class: "col-md-2 control-label"
            .col-md-10
              - if @readonly
                %p.form-control
                  = format_phone_number(@provider.phone_number)
              - else
                = f.text_field :phone_number, class: "form-control"
          .form-group
            = f.label :alt_phone_number, translate_helper("alt_phone_number"), class: "col-md-2 control-label"
            .col-md-10
              - if @readonly
                %p.form-control
                  = format_phone_number(@provider.alt_phone_number)
              - else
                = f.text_field :alt_phone_number, class: "form-control"
          .form-group
            = f.label :url, translate_helper("provider_form_website"), class: "col-md-2 control-label"
            .col-md-10
              - if @readonly
                = link_to @provider.url, @provider.url if @provider.url
              - else
                = f.url_field :url, class: 'form-control', disabled: @readonly
      .panel.panel-primary
        .panel-heading= translate_helper("provider_form_primary_contact_heading")
        .panel-body.form-horizontal      
          .form-group
            = f.label :primary_contact_name, translate_helper("provider_form_primary_contact_name"), class: "col-md-2 control-label"
            .col-md-10
              = f.text_field :primary_contact_name, class: 'form-control', disabled: @readonly
          .form-group
            = f.label :primary_contact_phone_number, translate_helper("provider_form_primary_contact_phone"), class: "col-md-2 control-label"
            .col-md-10
              - if @readonly
                %p.form-control
                  = format_phone_number(@provider.primary_contact_phone_number)
              - else
                = f.text_field :primary_contact_phone_number, class: "form-control"
          .form-group
            = f.label :primary_contact_email, translate_helper("provider_form_primary_contact_email"), class: "col-md-2 control-label"
            .col-md-10
              = f.email_field :primary_contact_email, class: 'form-control', disabled: @readonly
          .form-group
            = f.label :admin_name, translate_helper("provider_form_admin_name"), class: "col-md-2 control-label"
            .col-md-10
              = f.text_field :admin_name, class: 'form-control', disabled: @readonly

    .col-sm-12.col-md-6
      - prefix = "provider_business_address_attributes"
      .panel.panel-primary
        .panel-heading= translate_helper("provider_form_business_address_heading")
        .panel-body.form-horizontal
          = f.fields_for :business_address, @provider.business_address do |address_form|
            = render 'addresses/non_geocoding_form_fields', address_form: address_form, readonly: @readonly

      - prefix = "provider_mailing_address_attributes"
      .panel.panel-primary
        .panel-heading= translate_helper("provider_form_mailing_address_heading")
        .panel-body.form-horizontal
          = f.fields_for :mailing_address, @provider.mailing_address do |address_form|
            = render 'addresses/non_geocoding_form_fields', address_form: address_form, readonly: @readonly

      - if @readonly
        - logs = TrackerActionLog.for(@provider).order(created_at: :desc) 
        = render 'shared/action_log_panel', logs: logs if logs.any? 

      = render 'addresses/google_place_autocomplete_js'
      :javascript
        $(function() {
          // Force uppercase text
          $('[data-convert="uppercase"]').keyup(function(evt) {
            convert_uppercase(this);
          });
        });
 

:javascript
  $(function() {
    $('#provider_form_submit').click(function() {
      $('form').submit();
    });
  });