#inactivateProviderDialog.modal.fade.col-sm-12{:role => "dialog", "aria-hidden" => 'true', :tabindex => "-1"}
  .modal-dialog
    .modal-content
      = form_for @provider, :url=>inactivate_provider_path(@provider), :html=>{:method=>:post} do |f|
        .modal-header
          .pull-right
            = button_tag translate_helper(:inactivate), type: :submit, style: "margin-right: 5px;", class: "btn action-button"
            = button_tag class: 'btn action-button', data: {dismiss: 'modal'} do
              = translate_helper(:cancel)
          .modal-title{:style => "text-align:left;"}
            %strong
              = translate_helper(:inactivate_provider_confirmation)
        .modal-body.row{:style => "text-align:left;"}
          .form-group.col-sm-12
            .col-sm-3
              = f.label :inactivated_reason, translate_helper(:inactivated_reason) 
            .col-sm-9
              = f.text_area :inactivated_reason, class: 'form-control'
