<%= render 'users_header' %>
<fieldset style="padding: 0px;">
<% if @provider.roles.empty? %>
  <p><%= translate_helper("no_users_yet") %></p>
<% else %>
  <table>
    <tr>
      <th><%= translate_helper("name") %></th>
      <th><%= translate_helper("email") %></th>
      <th><%= translate_helper("role") %></th>
      <th><%= translate_helper("last_login") %></th>
      <th><%= translate_helper("expires_at") %></th>
      <% if can? :edit, Role %>
      <th></th>
      <th></th>
      <% end %>
    </tr>

    <% for role in @provider.roles.joins(:user).reorder("lower(users.last_name)", "lower(users.first_name)") %>
    <tr>
      <td> 
        <% if can? :show, role.user %>
          <%= link_to role.user.name_with_username, user_path(role.user) %>
        <% else %>
          <%= role.user.name_with_username %> </td>
        <% end %>
      <td class="<%= role.name.downcase %>">
        <%= role.user.email %>
        <% if can? :manage, role.user %>
          <span class="separator">|</span> <%= link_to translate_helper("change_email"), show_change_email_path(id: role.user.try(:id)), :class=>'change-email' %>
        <% end %>
      </td>
      <td><%= role.name %></td>
      <td><%= role.user.last_sign_in_at %></td>
      <td><%= link_to_if role.user != current_user, role.user.expires_at.present? ? role.user.expires_at : "N/A", show_change_expiration_path(id: role.user.id), :class=>'change-expiration' %></td>
      <% if can?(:manage, role) %>
        <td>
          <%= form_for(role, :url=>provider_change_role_path(@provider.id), :html => { :method => :post }) do |f| %>
            <%= f.hidden_field :id %>
            <%= f.select :level, Role.editable_role_array_by_user(current_user) %>
            <%= f.submit translate_helper("change_role") %>
          <% end %>
        </td>
        <td><%= button_to translate_helper("delete"), provider_delete_role_path(@provider.id, :role_id=>role.id), data: {:confirm => translate_helper((role.user.driver.present? ? "delete_driver_user_role_confirm" : "delete_role_confirm"))}, :class=>'delete' %></td>
      <% end %>
    </tr>
    <% end %>
 </table>
<% end %>
</fieldset>