<div id="page-header">
  <h1><%= translate_helper("provider_index_heading") %></h1>
</div>

<table>
<tr>
  <th><%= translate_helper("provider_index_name") %></th>
  <th><%= translate_helper("provider_index_users") %></th>
  <th></th>
</tr>

<% @providers.each do |provider| %>
<tr>
<td><%= provider.name %></td>
<td><%= provider.users.size %></td>
<td><%= link_to translate_helper("provider_index_details"), provider_path(provider) %></td>
</tr>
<% end %>
</table>

<% if can? :edit, Provider %>
<p><%= link_to translate_helper("new_provider_link_text"), new_provider_path, :class=>'action-bttn new-provider' %></p>
<% end %>