<% google_maps_callbacks = [] %>
<%= render 'shared/highlight_active_tab_js', is_primary_nav: false, tab_class: 'provider' %>
<div id="page-header" class="clearfix">
  <h1><%= translate_helper("show_provider_heading", provider: @provider.name) %></h1>
</div>

<h2 class="section-header"><%= translate_helper("show_provider_address_heading") %></h2>

<%= form_tag search_provider_common_addresses_path, :method => :get, :remote => true, :id => "search_addresses" do %>
  <%= hidden_field_tag :provider_id, @provider.id %>
  <fieldset>
    <ol class="section fourth">
      <li>
        <%= label_tag translate_helper("show_provider_search_addresses") %>
        <%= text_field_tag :name %>
        <%= submit_tag translate_helper("search") %>
      </li>
    </ol>
  </fieldset>
<% end %>

<table id="address_results">
  <tr>
    <th><%= translate_helper("address_results_name_column") %></th>
    <th><%= translate_helper("address") %></th>
    <th><%= translate_helper("city") %></th>
    <th><%= translate_helper("state") %></th>
    <th><%= translate_helper("phone_number") %></th>
    <th><%= translate_helper("in_district") %></th>
    <th><%= translate_helper("address_notes") %></th>
    <% if can? :edit, Vehicle %>
    <th></th>
    <% end %>
  </tr>
  <% if @provider.addresses.size == 0 %>
    <tr><td ><%= translate_helper("no_addresses_yet") %></td></tr>
  <% else %>
    <tr><td ><%= translate_helper("search_for_address") %></td></tr>
  <% end %>
</table>

<%= render 'addresses/upload_form', provider: @provider %>

<%= render 'add_address_dialog' %>

<p><%= link_to translate_helper("create_provider_address_text"), '#', id: 'addProviderCommonAddress', class:'newAddress action-bttn' %></p>

<hr />

<h2 class="section-header">Users</h2>

<% if @provider.roles.empty? %>
  <p><%= translate_helper("no_users_yet") %></p>
<% else %>
  <table>
    <tr>
      <th><%= translate_helper("name") %></th>
      <th><%= translate_helper("email") %></th>
      <th><%= translate_helper("role") %></th>
      <th><%= translate_helper("last_login") %></th>
      <th><%= translate_helper("expires_at") %></th>
      <% if can? :edit, Role %>
      <th></th>
      <th></th>
      <% end %>
    </tr>

    <% for role in @provider.roles.joins(:user).reorder("lower(users.last_name)", "lower(users.first_name)") %>
    <tr>
      <td> 
        <% if can? :show, role.user %>
          <%= link_to role.user.name_with_username, user_path(role.user) %>
        <% else %>
          <%= role.user.name_with_username %> </td>
        <% end %>
      <td class="<%= role.name.downcase %>">
        <%= role.user.email %>
        <% if can? :manage, role.user %>
          <span class="separator">|</span> <%= link_to translate_helper("change_email"), show_change_email_path(id: role.user.try(:id)), :class=>'change-email' %>
        <% end %>
      </td>
      <td><%= role.name %></td>
      <td><%= role.user.last_sign_in_at %></td>
      <td><%= link_to_if role.user != current_user, role.user.expires_at.present? ? role.user.expires_at : "N/A", show_change_expiration_path(id: role.user.id), :class=>'change-expiration' %></td>
      <% if can?(:manage, role) %>
        <td>
          <%= form_for(role, :url=>provider_change_role_path(@provider.id), :html => { :method => :post }) do |f| %>
            <%= f.hidden_field :id %>
            <%= f.select :level, Role.editable_role_array_by_user(current_user) %>
            <%= f.submit translate_helper("change_role") %>
          <% end %>
        </td>
        <td><%= button_to translate_helper("delete"), provider_delete_role_path(@provider.id, :role_id=>role.id), data: {:confirm => translate_helper((role.user.driver.present? ? "delete_driver_user_role_confirm" : "delete_role_confirm"))}, :class=>'delete' %></td>
      <% end %>
    </tr>
    <% end %>
 </table>
<% end %>

<% if is_add_user_allowed?(current_user) %>
  <p><%= link_to translate_helper("create_user_link_text"), new_user_provider_users_path(@provider), :class=>'new-user action-bttn' %></p>
<% end %>

<hr />

<h2 class="section-header"><%=translate_helper("configure_provider_driver_requirement_templates")%></h2>
<%=link_to link_to translate_helper("provider_driver_requirement_templates_link_text"), driver_requirement_templates_path(provider_id: current_provider_id)%>
<hr />

<h2 class="section-header"><%=translate_helper("configure_provider_vehicle_maintenance_types")%></h2>
<%=link_to link_to translate_helper("provider_vehicle_maintenance_types_link_text"), vehicle_maintenance_schedule_types_path%>
<hr />

<h2 class="section-header"><%=translate_helper("configure_provider_lookup_tables")%></h2>
<%=link_to link_to translate_helper("provider_lookup_tables_link_text"), provider_lookup_tables_path%>
<hr />

<h2 class="section-header"><%=translate_helper("configure_provider_operating_hours")%></h2>
<%= form_for current_provider, url: save_operating_hours_provider_path(current_provider) do |f| %>
  <% if current_provider.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading"><%= translate_helper("driver_form_error", count: current_provider.errors.count) %></div>
      <div class="panel-body">
        <ul>
          <% current_provider.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <%= render 'shared/operating_hours' %>
  <div class="actions">
    <%= submit_tag translate_helper("update_provider_operating_hours") %>
  </div>
<% end %>

<hr />

<h2 class="section-header"><%=translate_helper("cab")%></h2>
<% if can? :edit, @provider %>
  <%= form_tag change_cab_enabled_provider_path(@provider) do %>
    <fieldset>
      <ol class="section fourth">
        <li>
          <%= label_tag translate_helper("enabled") %>
          <%= select_tag "cab_enabled", options_for_select( [["No", false], ["Yes", true]], @provider.try(:cab_enabled?) ), { :onchange => "form.submit();" } %>
        </li>
      </ol>
    </fieldset>
  <% end %>
<% end %>

<hr />

<h2 class="section-header"><%=translate_helper("provider_form_scheduling")%></h2>
<% if can? :edit, @provider %>
  <%= form_tag change_scheduling_provider_path(@provider) do %>
    <fieldset>
      <ol class="section fourth">
        <li>
          <%= label_tag translate_helper("enabled") %>
          <%= select_tag "scheduling", options_for_select( [["No", false], ["Yes", true]], @provider.scheduling? ), { :onchange => "form.submit();" } %>
        </li>
      </ol>
    </fieldset>
  <% end %>
<% end %>

<hr />

<h2 class="section-header"><%=translate_helper("provider_form_run_tracking")%></h2>
<% if can? :edit, @provider %>
  <%= form_tag change_run_tracking_provider_path(@provider) do %>
    <fieldset>
      <ol class="section fourth">
        <li>
          <%= label_tag translate_helper("enabled") %>
          <%= select_tag "run_tracking", options_for_select( [["No", false], ["Yes", true]], @provider.run_tracking? ), { :onchange => "form.submit();" } %>
        </li>
      </ol>
    </fieldset>
  <% end %>
<% end %>

<hr />

<h2 class="section-header"><%=translate_helper("advance_day_scheduling")%></h2>
<% if can? :edit, @provider %>
  <%= form_tag change_advance_day_scheduling_provider_path(@provider) do %>
    <fieldset>
      <ol class="section fourth">
        <li>
          <%= label_tag translate_helper("days_in_advance") %>
          <%= select_tag "advance_day_scheduling", options_for_select( [[7, 7], [14, 14], [21, 21]], @provider.get_advance_day_scheduling), { :onchange => "form.submit();" } %>
        </li>
      </ol>
    </fieldset>
  <% end %>
<% end %>

<hr />

<h2 class="section-header"><%=translate_helper("age_eligibility")%></h2>
<% if can? :edit, @provider %>
  <%= form_tag change_eligible_age_provider_path(@provider) do %>
    <fieldset>
      <ol class="section fourth">
        <li>
          <%= label_tag translate_helper("eligible_age") %>
          <%= number_field_tag "eligible_age", @provider.eligible_age || Provider::DEFAULT_ELIGIBLE_AGE, { class: 'form-control' } %>
        </li>
      </ol>
      <div class="actions">
        <%= submit_tag translate_helper("update") %>
      </div>
    </fieldset>
  <% end %>
<% end %>

<hr />

<h2 class="section-header"><%= translate_helper("provider_form_fields_required_for_run_completion") %></h2>
<% if can? :edit, @provider %>
  <%= form_tag change_fields_required_for_run_completion_provider_path(@provider) do %>
    <fieldset>
      <% field_groups = Run::FIELDS_FOR_COMPLETION.map(&:to_s).sort.in_groups(2) %>
      <% %w(first second).each do |group| %>
        <ol class="section <%= group %>">
          <% field_groups.send(group).each do |field| %>
            <% if field.present? %>
              <li>
                <%= label_tag do %>
                  <%= check_box_tag "fields_required_for_run_completion[]", field, @provider.fields_required_for_run_completion.include?(field) %>
                  <%= field.humanize %>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ol>
      <% end %>
      <div class="actions">
        <%= submit_tag translate_helper("submit_fields_required_for_run_completion") %>
      </div>
    </fieldset>
  <% end %>
<% end %>

<h2 class="section-header"><%= translate_helper("reimbursement_rates") %></h2>
<% if can? :edit, @provider %>
  <%= form_tag change_reimbursement_rates_provider_path(@provider) do %>
    <fieldset>
      <ol class="section first">
        <li><h2><%= translate_helper("reimbursement_rates_heading") %></h2></li>
        <li>
          <%= label_tag :oaa3b_per_ride_reimbursement_rate, translate_helper("oaa3b_per_ride_reimbursement_rate") %>
          <%= number_field_tag :oaa3b_per_ride_reimbursement_rate, number_with_precision(@provider.oaa3b_per_ride_reimbursement_rate, :precision => 2), :size => 4, :min => "0", :max => "9999", :step => "0.01" %>
        </li>
        <li>
          <%= label_tag :ride_connection_per_ride_reimbursement_rate, translate_helper("ride_connection_per_ride_reimbursement_rate") %>
          <%= number_field_tag :ride_connection_per_ride_reimbursement_rate, number_with_precision(@provider.ride_connection_per_ride_reimbursement_rate, :precision => 2), :size => 4, :min => "0", :max => "9999", :step => "0.01" %>
        </li>
        <li>
          <%= label_tag :trimet_per_ride_reimbursement_rate, translate_helper("tri_met_per_ride_reimbursement_rate") %>
          <%= number_field_tag :trimet_per_ride_reimbursement_rate, number_with_precision(@provider.trimet_per_ride_reimbursement_rate, :precision => 2), :size => 4, :min => "0", :max => "9999", :step => "0.01" %>
        </li>
        <li>
          <%= label_tag :stf_van_per_ride_reimbursement_rate, translate_helper("stf_van_per_ride_reimbursement_rate") %>
          <%= number_field_tag :stf_van_per_ride_reimbursement_rate, number_with_precision(@provider.stf_van_per_ride_reimbursement_rate, :precision => 2), :size => 4, :min => "0", :max => "9999", :step => "0.01" %>
        </li>
      </ol>
      <ol class="section second">
        <li><h2><%= translate_helper("taxi_per_ride_reimbursement_rates") %></h2></li>
        <li>
          <%= label_tag :stf_taxi_per_ride_administrative_fee, translate_helper("administrative_fee") %>
          <%= number_field_tag :stf_taxi_per_ride_administrative_fee, number_with_precision(@provider.stf_taxi_per_ride_administrative_fee, :precision => 2), :size => 4, :min => "0", :max => "9999", :step => "0.01" %>
        </li>
        <li>
          <%= label_tag :stf_taxi_per_ride_ambulatory_load_fee, translate_helper("ambulatory_load_fee") %>
          <%= number_field_tag :stf_taxi_per_ride_ambulatory_load_fee, number_with_precision(@provider.stf_taxi_per_ride_ambulatory_load_fee, :precision => 2), :size => 4, :min => "0", :max => "9999", :step => "0.01" %>
        </li>
        <li>
          <%= label_tag :stf_taxi_per_ride_wheelchair_load_fee, translate_helper("wheelchair_load_fee") %>
          <%= number_field_tag :stf_taxi_per_ride_wheelchair_load_fee, number_with_precision(@provider.stf_taxi_per_ride_wheelchair_load_fee, :precision => 2), :size => 4, :min => "0", :max => "9999", :step => "0.01" %>
        </li>
        <li>
          <%= label_tag :stf_taxi_per_mile_ambulatory_reimbursement_rate, translate_helper("ambulatory_reimbursement_rate") %>
          <%= number_field_tag :stf_taxi_per_mile_ambulatory_reimbursement_rate, number_with_precision(@provider.stf_taxi_per_mile_ambulatory_reimbursement_rate, :precision => 2), :size => 4, :min => "0", :max => "9999", :step => "0.01" %>
        </li>
        <li>
          <%= label_tag :stf_taxi_per_mile_wheelchair_reimbursement_rate, translate_helper("wheelchair_reimbursement_rate") %>
          <%= number_field_tag :stf_taxi_per_mile_wheelchair_reimbursement_rate, number_with_precision(@provider.stf_taxi_per_mile_wheelchair_reimbursement_rate, :precision => 2), :size => 4, :min => "0", :max => "9999", :step => "0.01" %>
        </li>
      </ol>
      <div class="actions">
        <%= submit_tag translate_helper("submit_reimbursement_rates") %>
      </div>
    </fieldset>
  <% end %>
<% end %>

<h2 class="section-header"><%= translate_helper("device_pools") %></h2>
<% if @provider.dispatch? && can?(:edit, DevicePool) %>
  <% if @provider.device_pools.size == 0 %>
    <p><%= translate_helper("no_device_pool") %></p>
  <% else %>
    <table>
      <tr>
        <th><%= translate_helper("name") %></th>
        <th></th>
        <th></th>
        <th></th>
        <th><%= translate_helper("drivers") %></th>
      </tr>
      <% for device_pool in @provider.device_pools.sort {|a,b| a.name <=> b.name} %>
        <tr>
          <td><%= device_pool.name %></td>
          <td><span class="device-pool-color" style="background-color:#<%= device_pool.color %>;"> </span></td>
          <td>
            <% if can? :edit, device_pool %>
              <%= link_to translate_helper("edit"), edit_device_pool_path(device_pool), :class => "edit" %>
            <% end %>
          </td>
          <td>
            <% if can? :delete, device_pool %>
              <%= link_to translate_helper("delete"), device_pool, :confirm => translate_helper("device_pool_delete_confirm"), :method => "delete", :class => "delete" %>
            <% end %>
          </td>
          <td>
            <table>
            <% if device_pool.device_pool_drivers.length == 0 %>
              <tr class="empty"><td><%= translate_helper("no_drivers") %></td></tr>
            <% else %>
              <% for device_pool_driver in device_pool.device_pool_drivers.sort {|a,b| a.name <=> b.name} %>
                <%= render "device_pool_drivers/device_pool_driver_row", :device_pool_driver => device_pool_driver %>
              <% end %>
            <% end %>
            </table>
            <% if @provider == current_user.current_provider && can?( :create, DevicePoolDriver ) %>
              <p><%= link_to translate_helper("add_driver_to_device_pool"), "#", :class=>'action-bttn add_device_pool_driver' %></p>
              <p style="display:none;">
                <%= select_tag "new_device_pool_driver_#{device_pool.id}", new_device_pool_members_options(@unassigned_drivers), :class => "new_device_pool_driver" %>
                <%= link_to translate_helper("add_driver_to_device_pool"), device_pool_device_pool_drivers_path(device_pool), :class => "add_driver_to_pool" %>
              </p>
              <p><%= link_to translate_helper("add_vehicle_to_device_pool"), "#", :class=>'action-bttn add_device_pool_vehicle' %></p>
              <p style="display:none;">
                <%= select_tag "new_device_pool_driver_#{device_pool.id}", new_device_pool_members_options(@unassigned_vehicles), :class => "new_device_pool_vehicle" %>
                <%= link_to translate_helper("add_vehicle_to_device_pool"), device_pool_device_pool_drivers_path(device_pool), :class => "add_vehicle_to_pool" %>
              </p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  
  <% if @provider == current_user.current_provider %>
    <p><%= link_to translate_helper("new_device_pool_link_text"), new_device_pool_path, :class=>'action-bttn' %>
  <% else %>
    <%= translate_helper("switch_providers_to_add_device_pool", current_provider: current_user.current_provider.name, provider: @provider.name) %>
  <% end %>
<% end %>

<hr />

<h2 class="section-header"><%= translate_helper("region_heading") %></h2>

<div id="region">
  <div id="region-form">
    <% if @provider.region_nw_corner
         nw_y = @provider.region_nw_corner.y
         nw_x = @provider.region_nw_corner.x
       else
         nw_y = ''
         nw_x = ''
       end
       if @provider.region_se_corner
         se_y = @provider.region_se_corner.y
         se_x = @provider.region_se_corner.x
       else
         se_y = ''
         se_x = ''
       end
    %>
    <%= form_tag save_region_provider_path do %>
      <table>
      <tr><th colspan="2"><h3><%= translate_helper("northwest_corner") %></h3></th></tr>
      <tr>
        <td><%= label_tag translate_helper("latitude") %></td>
        <td>
          <%= text_field_tag :region_north, nw_y %>
          <span class="hint">(e.g. <%= GOOGLE_MAP_DEFAULTS[:bounds][:north] %>)</span>
        </td>
      <tr>
        <td><%= label_tag translate_helper("longitude") %></td>
        <td>
          <%= text_field_tag :region_west, nw_x %>
          <span class="hint">(e.g. <%= GOOGLE_MAP_DEFAULTS[:bounds][:west] %>)</span>
        </td>
      </tr>
      <tr><th colspan="2"><h3><%= translate_helper("southeast_corner") %></h3></th></tr>
      <tr>
        <td><%= label_tag translate_helper("latitude") %></td>
        <td>
          <%= text_field_tag :region_south, se_y %>
          <span class="hint">(e.g. <%= GOOGLE_MAP_DEFAULTS[:bounds][:south] %>)</span>
        </td>
      </tr>
      <tr>
        <td><%= label_tag translate_helper("longitude") %></td>
        <td>
          <%= text_field_tag :region_east, se_x %>
          <span class="hint">(e.g. <%= GOOGLE_MAP_DEFAULTS[:bounds][:east] %>)</span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><%= submit_tag translate_helper("save_region_submit") %></td>
      </tr>
      </table>
    <% end %>
  </div>
  <% if @provider.region_nw_corner and @provider.region_se_corner %>
    <div id="region-preview"></div>
    <%= javascript_tag do %>
      function readyRegionPreview () {
        // Size the map to be the same as the form height.
        $("#region-preview").height($("#region-form").height() - 15);
    
        var region_preview = new GoogleMap($("#region-preview"), {
          north: <%= @provider.region_nw_corner.y %>,
          west:  <%= @provider.region_nw_corner.x %>,
          south: <%= @provider.region_se_corner.y %>,
          east:  <%= @provider.region_se_corner.x %>
        }, GoogleMapDefaults.viewport);

        if (region_preview.errors.length > 0) {
          html = "<h3>Boundary Errors</h3><ul>";
          for (i in region_preview.errors) {
            html += '<li>' + region_preview.errors[i] + '</li>';
          }
          html += '</ul>';
          $("#region-preview").css("border", "none").addClass("error").append(html);
        } else {
          region_preview.display_region();
        }
      }
    <% end %>
    <% google_maps_callbacks << "readyRegionPreview" %>
  <% end %>
</div>
<div class="clearfix"></div>

<hr />

<h2 class="section-header"><%= translate_helper("dispatch_view_heading") %></h2>

<div id="viewport">
  <div id="viewport-form">
    <% if @provider.viewport_center
         center_lat = @provider.viewport_center.y
         center_lng = @provider.viewport_center.x
       else
         center_lat = ''
         center_lng = ''
       end
    %>
    <%= form_tag save_viewport_provider_path do %>
      <table>
      <tr><th colspan="2"><h3><%= translate_helper("map_center") %></h3></th></tr>
      <tr>
        <td><%= label_tag translate_helper("latitude") %></td>
        <td>
          <%= text_field_tag :viewport_lat, center_lat %>
          <span class="hint">(e.g. <%= GOOGLE_MAP_DEFAULTS[:viewport][:center_lat] %>)</span>
        </td>
      <tr>
        <td><%= label_tag translate_helper("longitude") %></td>
        <td>
          <%= text_field_tag :viewport_lng, center_lng %>
          <span class="hint">(e.g. <%= GOOGLE_MAP_DEFAULTS[:viewport][:center_lng] %>)</span>
        </td>
      </tr>
      <tr>
        <th colspan="2"><%= translate_helper("zoom_level") %></th>
      </tr>
      <tr>
        <td><%= label_tag translate_helper("zoom") %></td>
        <td>
          <%= select_tag :viewport_zoom, options_for_select(@zoom_choices, [@provider.viewport_zoom.to_s, @provider.viewport_zoom.to_s]) %>
          <span class="hint">(e.g. <%= GOOGLE_MAP_DEFAULTS[:viewport][:zoom] %>)</span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><%= submit_tag translate_helper("save_viewport_submit") %></td>
      </tr>
      </table>
    <% end %>
  </div>
  <% if @provider.viewport_center and @provider.viewport_zoom %>
    <div id="viewport-preview"></div>
    <%= javascript_tag do %>
      function readyViewportPreview () {
        $("#viewport-preview").height($("#viewport-form").height() - 15);
    
        var viewport_preview = new GoogleMap($("#viewport-preview"), GoogleMapDefaults.bounds, {
          center_lat: <%= @provider.viewport_center.y %>,
          center_lng: <%= @provider.viewport_center.x %>,
          zoom:       <%= @provider.viewport_zoom %>
        });

        if (viewport_preview.errors.length < 0) {
          html = '<h3>Viewport Errors</h3><ul>';
          for (i in viewport_preview.errors) {
            html += '<li>' + viewport_preview.errors[i] + '</li>';
          }
          html += '</ul>';
          $('#viewport-preview').css('border', 'none').addClass('error').append(html);
        } else {
          viewport_preview.display_viewport();
        }
      }
    <% end %>
    <% google_maps_callbacks << "readyViewportPreview" %>
  <% end %>
</div>
<div class="clearfix"></div>
<% content_for :footer do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      <% google_maps_callbacks.each do |callback| %>
        <%= "#{callback}();" %>
      <% end %>
    });
  <% end %>
  <%= render "shared/google_maps/content_for_footer" %>
<% end %>
