<%= render 'shared/highlight_active_tab_js', is_primary_nav: false, tab_class: 'vehicles-drivers-users' %>
<div id="page-header">
  <h1><%= translate_helper("show_provider_heading", provider: @provider.name) %></h1>
</div>

<h2 class="section-header"><%= translate_helper("show_provider_address_heading") %></h2>

<% form_tag search_addresses_path, :method => :get, :remote => true, :id => "search_addresses" do %>
  <%= hidden_field_tag :provider_id, @provider.id %>
  <fieldset>
    <ol class="section fourth">
      <li>
        <%= label_tag translate_helper("show_provider_search_addresses") %>
        <%= text_field_tag :name %>
        <%= submit_tag translate_helper("search") %>
      </li>
    </ol>
  </fieldset>
<% end %>

<table id="address_results">
  <tr>
    <th><%= translate_helper("address_results_name_column") %></th>
    <th><%= translate_helper("address_results_building_name_column") %></th>
    <th><%= translate_helper("address") %></th>
    <th><%= translate_helper("city") %></th>
    <th><%= translate_helper("state") %></th>
    <th><%= translate_helper("phone_number") %></th>
    <th></th>
    <% if can? :edit, Vehicle %>
    <th></th>
    <% end %>
  </tr>
  <% if @provider.addresses.size == 0 %>
    <tr><td ><%= translate_helper("no_addresses_yet") %></td></tr>
  <% else %>
    <tr><td ><%= translate_helper("search_for_address") %></td></tr>
  <% end %>
</table>

<hr />

<h2 class="section-header">Users</h2>

<% if @provider.roles.size == 0 %>
  <p><%= translate_helper("no_users_yet") %></p>
<% else %>
  <table>
    <tr>
      <th><%= translate_helper("email") %></th>
      <th><%= translate_helper("role") %></th>
      <th><%= translate_helper("last_login") %></th>
      <% if can? :edit, Role %>
      <th></th>
      <th></th>
      <% end %>
    </tr>

    <% for role in @provider.roles %>
    <tr>
      <td class="<%= role.name.downcase %>">
        <%= role.user.email %>
        <% if role.user == current_user %>
        <span class="separator">|</span> <%= link_to translate_helper("change_password"), show_change_password_path, :class=>'change-password' %>
        <% end %>
      </td>
      <td><%= role.name %></td>
      <td><%= role.user.last_sign_in_at %></td>
      <% if can? :edit, role %>
      <td>
        <%= form_for(role, :url=>provider_change_role_path(@provider.id), :html => { :method => :post }) do |f| %>
          <%= f.hidden_field :id %>
          <%= f.select :level, Role.editable_role_array_by_user(current_user) %>
          <%= f.submit translate_helper("change_role") %>
        <% end %>
      </td>
      <td><%= button_to translate_helper("delete"), provider_delete_role_path(@provider.id, :role_id=>role.id), :confirm => translate_helper("delete_role_confirm"), :class=>'delete' %></td>
      <% end %>
    </tr>
    <% end %>
 </table>
<% end %>

<% if is_add_user_allowed?(current_user) %>
  <p><%= link_to translate_helper("create_user_link_text"), new_user_path, :class=>'new-user action-bttn' %></p>
<% end %>

<hr />

<h2 class="section-header"><%=translate_helper("dispatch")%></h2>
<% if can? :edit, @provider %>
  <%= form_tag change_dispatch_provider_path(@provider) do %>
    <fieldset>
      <ol class="section fourth">
        <li>
          <%= label_tag translate_helper("enabled") %>
          <%= select_tag "dispatch", options_for_select( [["No", false], ["Yes", true]], @provider.dispatch? ), { :onchange => "form.submit();" } %>
        </li>
      </ol>
    </fieldset>
  <% end %>
<% end %>

<hr />

<h2 class="section-header"><%=translate_helper("scheduling")%></h2>
<% if can? :edit, @provider %>
  <%= form_tag change_scheduling_provider_path(@provider) do %>
    <fieldset>
      <ol class="section fourth">
        <li>
          <%= label_tag translate_helper("enabled") %>
          <%= select_tag "scheduling", options_for_select( [["No", false], ["Yes", true]], @provider.scheduling? ), { :onchange => "form.submit();" } %>
        </li>
      </ol>
    </fieldset>
  <% end %>
<% end %>

<hr />

<h2 class="section-header"><%= translate_helper("add_trips_from_run_pages") %></h2>
<% if can? :edit, @provider %>
  <%= form_tag change_allow_trip_entry_from_runs_page_provider_path(@provider) do %>
    <fieldset>
      <ol class="section fourth">
        <li>
          <%= label_tag translate_helper("enabled") %>
          <%= select_tag "allow_trip_entry_from_runs_page", options_for_select( [["No", false], ["Yes", true]], @provider.allow_trip_entry_from_runs_page? ), { :onchange => "form.submit();" } %>
        </li>
      </ol>
    </fieldset>
  <% end %>
<% end %>

<h2 class="section-header"><%= translate_helper("reimbursement_rates") %></h2>
<% if can? :edit, @provider %>
  <%= form_tag change_reimbursement_rates_provider_path(@provider) do %>
    <fieldset>
      <ol class="section first">
        <li><h2><%= translate_helper("reimbursement_rates_heading") %></h2></li>
        <li>
          <%= label_tag :oaa3b_per_ride_reimbursement_rate, translate_helper("oaa3b_per_ride_reimbursement_rate") %>
          <%= number_field_tag :oaa3b_per_ride_reimbursement_rate, number_with_precision(@provider.oaa3b_per_ride_reimbursement_rate, :precision => 2), :size => 4, :min => "0", :max => "9999", :step => "0.01" %>
        </li>
        <li>
          <%= label_tag :ride_connection_per_ride_reimbursement_rate, translate_helper("ride_connection_per_ride_reimbursement_rate") %>
          <%= number_field_tag :ride_connection_per_ride_reimbursement_rate, number_with_precision(@provider.ride_connection_per_ride_reimbursement_rate, :precision => 2), :size => 4, :min => "0", :max => "9999", :step => "0.01" %>
        </li>
        <li>
          <%= label_tag :trimet_per_ride_reimbursement_rate, translate_helper("tri_met_per_ride_reimbursement_rate") %>
          <%= number_field_tag :trimet_per_ride_reimbursement_rate, number_with_precision(@provider.trimet_per_ride_reimbursement_rate, :precision => 2), :size => 4, :min => "0", :max => "9999", :step => "0.01" %>
        </li>
        <li>
          <%= label_tag :stf_van_per_ride_reimbursement_rate, translate_helper("stf_van_per_ride_reimbursement_rate") %>
          <%= number_field_tag :stf_van_per_ride_reimbursement_rate, number_with_precision(@provider.stf_van_per_ride_reimbursement_rate, :precision => 2), :size => 4, :min => "0", :max => "9999", :step => "0.01" %>
        </li>
      </ol>
      <ol class="section second">
        <li><h2><%= translate_helper("taxi_per_ride_reimbursement_rates") %></h2></li>
        <li>
          <%= label_tag :stf_taxi_per_ride_administrative_fee, translate_helper("administrative_fee") %>
          <%= number_field_tag :stf_taxi_per_ride_administrative_fee, number_with_precision(@provider.stf_taxi_per_ride_administrative_fee, :precision => 2), :size => 4, :min => "0", :max => "9999", :step => "0.01" %>
        </li>
        <li>
          <%= label_tag :stf_taxi_per_ride_ambulatory_load_fee, translate_helper("ambulatory_load_fee") %>
          <%= number_field_tag :stf_taxi_per_ride_ambulatory_load_fee, number_with_precision(@provider.stf_taxi_per_ride_ambulatory_load_fee, :precision => 2), :size => 4, :min => "0", :max => "9999", :step => "0.01" %>
        </li>
        <li>
          <%= label_tag :stf_taxi_per_ride_wheelchair_load_fee, translate_helper("wheelchair_load_fee") %>
          <%= number_field_tag :stf_taxi_per_ride_wheelchair_load_fee, number_with_precision(@provider.stf_taxi_per_ride_wheelchair_load_fee, :precision => 2), :size => 4, :min => "0", :max => "9999", :step => "0.01" %>
        </li>
        <li>
          <%= label_tag :stf_taxi_per_mile_ambulatory_reimbursement_rate, translate_helper("ambulatory_reimbursement_rate") %>
          <%= number_field_tag :stf_taxi_per_mile_ambulatory_reimbursement_rate, number_with_precision(@provider.stf_taxi_per_mile_ambulatory_reimbursement_rate, :precision => 2), :size => 4, :min => "0", :max => "9999", :step => "0.01" %>
        </li>
        <li>
          <%= label_tag :stf_taxi_per_mile_wheelchair_reimbursement_rate, translate_helper("wheelchair_reimbursement_rate") %>
          <%= number_field_tag :stf_taxi_per_mile_wheelchair_reimbursement_rate, number_with_precision(@provider.stf_taxi_per_mile_wheelchair_reimbursement_rate, :precision => 2), :size => 4, :min => "0", :max => "9999", :step => "0.01" %>
        </li>
      </ol>
      <div class="actions">
        <%= submit_tag translate_helper("submit_reimbursement_rates") %>
      </div>
    </fieldset>
  <% end %>
<% end %>

<h2 class="section-header"><%= translate_helper("device_pools") %></h2>
<% if @provider.dispatch? && can?(:edit, DevicePool) %>
  <% if @provider.device_pools.size == 0 %>
    <p><%= translate_helper("no_device_pool") %></p>
  <% else %>
    <table>
      <tr>
        <th><%= translate_helper("name") %></th>
        <th></th>
        <th></th>
        <th></th>
        <th><%= translate_helper("drivers") %></th>
      </tr>
      <% for device_pool in @provider.device_pools.sort {|a,b| a.name <=> b.name} %>
        <tr>
          <td><%= device_pool.name %></td>
          <td><span class="device-pool-color" style="background-color:#<%= device_pool.color %>;"> </span></td>
          <td>
            <% if can? :edit, device_pool %>
              <%= link_to translate_helper("edit"), edit_device_pool_path(device_pool), :class => "edit" %>
            <% end %>
          </td>
          <td>
            <% if can? :delete, device_pool %>
              <%= link_to translate_helper("delete"), device_pool, :confirm => translate_helper("device_pool_delete_confirm"), :method => "delete", :class => "delete" %>
            <% end %>
          </td>
          <td>
            <table>
            <% if device_pool.device_pool_drivers.length == 0 %>
              <tr class="empty"><td><%= translate_helper("no_drivers") %></td><td></td></tr>
            <% else %>
              <% for device_pool_driver in device_pool.device_pool_drivers.sort {|a,b| a.name <=> b.name} %>
                <%= render "device_pool_drivers/device_pool_driver_row", :device_pool_driver => device_pool_driver %>
              <% end %>
            <% end %>
            </table>
            <% if @provider == current_user.current_provider && can?( :create, DevicePoolDriver ) %>
              <p><%= link_to translate_helper("add_driver_to_device_pool"), "#", :class=>'action-bttn add_device_pool_driver' %></p>
              <p style="display:none;">
                <%= select_tag "new_device_pool_driver_#{device_pool.id}", new_device_pool_members_options(@unassigned_drivers), :class => "new_device_pool_driver" %>
                <%= link_to translate_helper("add_driver_to_device_pool"), device_pool_device_pool_drivers_path(device_pool), :class => "add_driver_to_pool" %>
              </p>
              <p><%= link_to translate_helper("add_vehicle_to_device_pool"), "#", :class=>'action-bttn add_device_pool_vehicle' %></p>
              <p style="display:none;">
                <%= select_tag "new_device_pool_driver_#{device_pool.id}", new_device_pool_members_options(@unassigned_vehicles), :class => "new_device_pool_vehicle" %>
                <%= link_to translate_helper("add_vehicle_to_device_pool"), device_pool_device_pool_drivers_path(device_pool), :class => "add_vehicle_to_pool" %>
              </p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
  
  <% if @provider == current_user.current_provider %>
    <p><%= link_to translate_helper("new_device_pool_link_text"), new_device_pool_path, :class=>'action-bttn' %>
  <% else %>
    <%= translate_helper("switch_providers_to_add_device_pool", current_provider: current_user.current_provider.name, provider: @provider.name) %>
  <% end %>
<% end %>

<hr />

<h2 class="section-header">Drivers</h2>

<% if @provider.drivers.size == 0 %>
  <p><%= translate_helper("no_drivers") %></p>
<% else %>
  <table>
    <tr>
      <th><%= translate_helper("name") %></th>
      <th><%= translate_helper("active") %></th>
      <th><%= translate_helper("driver_paid") %></th>
      <% if can? :edit, Driver %>
      <th></th>
      <th></th>
      <% end %>
    </tr>
    <% for driver in @provider.drivers %>
    <tr>
      <td class="<%= driver.active ? 'active' : 'inactive' %>"><%= driver.name %></td>
      <td><%= driver.active ? translate_helper("active") : translate_helper("inactive") %></td>
      <td><%= driver.paid ? translate_helper("driver_paid") : translate_helper("volunteer") %></td>
      <% if can? :edit, Driver %>
      <td><%= link_to translate_helper("edit"), edit_driver_path(driver), :class=>'edit edit-driver' %></td>
      <td><%= link_to translate_helper("delete"), driver, :confirm => translate_helper("delete_driver_confirm"), :method => :delete, :class=>'delete' %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
<% end %>

<% if @provider == current_user.current_provider %>
  <p><%= link_to translate_helper("new_driver_link_text"), new_driver_path, :class=>'new-driver action-bttn' %>
<% else %>
  <%= translate_helper("switch_providers_to_create_driver", current_provider: current_user.current_provider.name, provider: @provider.name) %>
<% end %>

<hr />

<h2 class="section-header">Vehicles</h2>

<% if @provider.vehicles.size == 0 %>
  <p><%= translate_helper("no_vehicles") %></p>
<% else %>
  <table>
    <tr>
      <th><%= translate_helper("name") %></th>
      <th><%= translate_helper("vehicle_year") %></th>
      <th><%= translate_helper("vehicle_make") %></th>
      <th><%= translate_helper("vehicle_model") %></th>
      <th><%= translate_helper("license_plate") %></th>
      <th><%= translate_helper("vin") %></th>
      <th><%= translate_helper("vehicle_location") %></th>
      <th><%= translate_helper("default_driver") %></th>
      <th></th>
      <% if can? :edit, Vehicle %>
      <th></th>
      <th></th>
      <% end %>
    </tr>
    <% for vehicle in @provider.vehicles %>
    <tr class="<%= vehicle.active ? 'active' : 'inactive' %>">
      <td class="name">
        <% if can? :edit, Vehicle %>
        <%= link_to vehicle.name, vehicle_path(vehicle) %>
        <% else %>
        <%= vehicle.name %>
        <% end %>
      </td>
      <td><%= vehicle.year %></td>
      <td><%= vehicle.make %></td>
      <td><%= vehicle.model %></td>
      <td><%= vehicle.license_plate %></td>
      <td><%= vehicle.vin %></td>
      <td><%= vehicle.garaged_location %></td>
      <td><%= vehicle.default_driver.try :name %></td>
      <td><%= vehicle.active ? translate_helper("active") : translate_helper("inactive") %></td>
      <% if can? :edit, Vehicle %>
      <td><%= link_to translate_helper("edit"), edit_vehicle_path(vehicle), :class=>'edit edit-vehicle' %></td>
      <td><%= link_to translate_helper("delete"), vehicle, :confirm => translate_helper("delete_vehicle_confirmation"), :method => :delete, :class=>'delete' %></td>
      <% end %>
    </tr>
    <% end %>
  </table>
<% end %>

<% if @provider == current_user.current_provider %>
  <p><%= link_to translate_helper("new_vehicle_link_text"), new_vehicle_path, :class=>'new-vehicle action-bttn' %></p>
<% else %>
  <%= translate_helper("switch_providers_to_create_vehicle", current_provider: current_user.current_provider.name, provider: @provider.name) %>
<% end %>
<hr />

<h2 class="section-header">Ethnicities</h2>

<% if @provider.ethnicities.size == 0 %>
  <p><%= translate_helper("no_ethnicities") %></p>
<% else %>
  <table>
    <tr>
      <th><%= translate_helper("name") %></th>
      <% if can? :edit, ProviderEthnicity %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
    <% for ethnicity in @provider.ethnicities %>
      <tr>
        <td class="name">
          <% if can? :edit, ProviderEthnicity %>
            <%= link_to ethnicity.name, provider_ethnicity_path(ethnicity) %>
          <% else %>
            <%= ethnicity.name %>
          <% end %>
        </td>
        <% if can? :edit, ProviderEthnicity %>
          <td><%= link_to translate_helper("edit"), edit_provider_ethnicity_path(ethnicity), :class=>'edit edit-ethnicity' %></td>
          <td><%= link_to translate_helper("delete"), ethnicity, :confirm => translate_helper("delete_provider_ethnicity_confirm"), :method => :delete, :class=>'delete' %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>

<% if @provider == current_user.current_provider %>
  <p><%= link_to translate_helper("new_ethnicity_link_text"), new_provider_ethnicity_path, :class=>'new action-bttn' %></p>
<% else %>
  <%= translate_helper("switch_providers_to_create_ethnicity", current_provider: current_user.current_provider.name, provider: @provider.name) %>
<% end %>
<hr />

<h2 class="section-header"><%= translate_helper("region_heading") %></h2>

<div id="region">
  <div id="region-form">
    <% if @provider.region_nw_corner
         nw_y = @provider.region_nw_corner.y
         nw_x = @provider.region_nw_corner.x
       else
         nw_y = ''
         nw_x = ''
       end
       if @provider.region_se_corner
         se_y = @provider.region_se_corner.y
         se_x = @provider.region_se_corner.x
       else
         se_y = ''
         se_x = ''
       end
    %>
    <% form_tag save_region_provider_path do %>
      <table>
      <tr><th colspan="2"><h3><%= translate_helper("northwest_corner") %></h3></th></tr>
      <tr>
        <td><%= label_tag translate_helper("latitude") %></td>
        <td>
          <%= text_field_tag :region_north, nw_y %>
          <span class="hint">(e.g. 45.971)</span>
        </td>
      <tr>
        <td><%= label_tag translate_helper("longitude") %></td>
        <td>
          <%= text_field_tag :region_west, nw_x %>
          <span class="hint">(e.g. -123.358)</span>
        </td>
      </tr>
      <tr><th colspan="2"><h3><%= translate_helper("southeast_corner") %></h3></th></tr>
      <tr>
        <td><%= label_tag translate_helper("latitude") %></td>
        <td>
          <%= text_field_tag :region_south, se_y %>
          <span class="hint">(e.g. 45.342)</span>
        </td>
      </tr>
      <tr>
        <td><%= label_tag translate_helper("longitude") %></td>
        <td>
          <%= text_field_tag :region_east, se_x %>
          <span class="hint">(e.g. -121.922)</span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><%= submit_tag translate_helper("save_region_submit") %></td>
      </tr>
      </table>
    <% end %>
  </div>
  <% if @provider.region_nw_corner and @provider.region_se_corner %>
    <div id="region-preview"></div>
  <% end %>
</div>
<div class="clearfix"></div>

<hr />

<h2 class="section-header"><%= translate_helper("dispatch_view_heading") %></h2>

<div id="viewport">
  <div id="viewport-form">
    <% if @provider.viewport_center
         center_lat = @provider.viewport_center.y
         center_lng = @provider.viewport_center.x
       else
         center_lat = ''
         center_lng = ''
       end
    %>
    <% form_tag save_viewport_provider_path do %>
      <table>
      <tr><th colspan="2"><h3><%= translate_helper("map_center") %></h3></th></tr>
      <tr>
        <td><%= label_tag translate_helper("latitude") %></td>
        <td>
          <%= text_field_tag :viewport_lat, center_lat %>
          <span class="hint">(e.g. 45.523)</span>
        </td>
      <tr>
        <td><%= label_tag translate_helper("longitude") %></td>
        <td>
          <%= text_field_tag :viewport_lng, center_lng %>
          <span class="hint">(e.g. -122.676)</span>
        </td>
      </tr>
      <tr>
        <th colspan="2"><%= translate_helper("zoom_level") %></th>
      </tr>
      <tr>
        <td><%= label_tag translate_helper("zoom") %></td>
        <td>
          <%= select_tag :viewport_zoom, options_for_select(@zoom_choices,
                [@provider.viewport_zoom.to_s, @provider.viewport_zoom.to_s]) %>
          <span class="hint">(e.g. 11)</span>
        </td>
      </tr>
      <tr>
        <td></td>
        <td><%= submit_tag translate_helper("save_viewport_submit") %></td>
      </tr>
      </table>
    <% end %>
  </div>
  <% if @provider.viewport_center and @provider.viewport_zoom %>
    <div id="viewport-preview"></div>
  <% end %>
</div>
<div class="clearfix"></div>

<script type="text/javascript" charset="utf-8">
  if ( window.location.protocol == "https:" )
    document.write('<scr' + 'ipt type="text/javascript" src="https://maps-api-ssl.google.com/maps/api/js?v=3.12&sensor=false"></scr' + 'ipt>');
  else
    document.write('<scr' + 'ipt type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.12&sensor=false"></scr' + 'ipt>');
</script>

<% if @provider.region_nw_corner and @provider.region_se_corner %>
<script type="text/JavaScript" charset="utf-8">
  $(document).ready(function() {
    // Size the map to be the same as the form height.
    $("#region-preview").height($("#region-form").height() - 15);

    errors = display_region($("#region-preview"), {
      north: <%= @provider.region_nw_corner.y %>,
      west:  <%= @provider.region_nw_corner.x %>,
      south: <%= @provider.region_se_corner.y %>,
      east:  <%= @provider.region_se_corner.x %>
    });
    if (errors) {
      html = "<h3>Boundary Errors</h3><ul>";
      for (i in errors) {
        html += '<li>' + errors[i] + '</li>';
      }
      html += '</ul>';
      $("#region-preview").css("border", "none");
      $("#region-preview").addClass("error");
      $("#region-preview").append(html);
    }
  });
</script>
<% end %>

<% if @provider.viewport_center and @provider.viewport_zoom %>
<script type="text/JavaScript" charset="utf-8">
  $(document).ready(function() {
    $("#viewport-preview").height($("#viewport-form").height() - 15);

    errors = display_viewport($("#viewport-preview"), {
      center_lat: <%= @provider.viewport_center.y %>,
      center_lng: <%= @provider.viewport_center.x %>,
      zoom:       <%= @provider.viewport_zoom %>
    });
    if (errors) {
      html = '<h3>Viewport Errors</h3><ul>';
      for (i in errors) {
        html += '<li>' + errors[i] + '</li>';
      }
      html += '</ul>';
      $('#viewport-preview').css('border', 'none');
      $('#viewport-preview').addClass('error');
      $('#viewport-preview').append(html);
    }
  });
</script>
<% end %>
