.row{style: (is_first_run ? '' : 'padding-top: 20px; border-top: solid 3px black;') }
  .pull-left{style: 'padding-left: 0px;font-size: 16px;font-weight: bold; max-width: 230px;'}
    %p= run.driver.try(:user_name) || "(#{translate_helper('no_driver')})"
    %p
      = "#{translate_helper('driver_manifest_vehicle')} #"
      %u
        =run.vehicle.try(:name)
    %p
      = translate_helper("driver_manifest_run") 
      = ": #{run.try(:name)}"
    %p
      = translate_helper("driver_manifest_scheduled_run_time") 
      = ": #{format_time_for_listing(run.scheduled_start_time)} - #{format_time_for_listing(run.scheduled_end_time)}"
  .pull-right{style: 'border: 1px solid black; padding: 0px; width: 470px;'}
    %table{style: 'font-size: 14px;'}
      %tbody
        %tr
          %td{style: 'width: 120px;'}
            = translate_helper("driver_manifest_run_start_time") 
            = ":"
          %td{style: 'border-bottom: 1px solid black; width: 100px;'}
          %td{style: 'width: 150px;'}
            = translate_helper("driver_manifest_run_end_time") 
            = ":"
          %td{style: 'border-bottom: 1px solid black; width: 100px;'}
        %tr
          %td{style: 'width: 120px;'}
            = translate_helper("driver_manifest_pullout_mileage") 
            = ":"
          %td{style: 'border-bottom: 1px solid black; width: 100px;'}
          %td{style: 'width: 150px;'}
            = translate_helper("driver_manifest_pullout_hour_minute") 
            = ":"
          %td{style: 'border-bottom: 1px solid black; width: 100px;'}
        %tr
          %td{style: 'width: 120px;'}
            = translate_helper("driver_manifest_pullin_mileage") 
            = ":"
          %td{style: 'border-bottom: 1px solid black; width: 100px;'}
          %td{style: 'width: 150px;'}
            = translate_helper("driver_manifest_pullin_hour_minute") 
            = ":"
          %td{style: 'border-bottom: 1px solid black; width: 100px;'}