#askCreatingReturnTripDialog.modal.fade.col-sm-12{:role => "dialog", "aria-hidden" => 'true', :tabindex => "-1", data: {"backdrop": "static", "keyboard": false }}
  = form_for :trip, url: return_trip_path(@trip), :method => :get do |f|
    .modal-dialog
      .modal-content
        .modal-header
          .pull-right
            = f.submit translate_helper(:yes), id: 'getReturnTrip', class: 'btn action-button', role: 'button'
            = link_to translate_helper(:no), trips_path, class: "btn action-button"
          .modal-title{:style => "text-align:left;"}
            %strong
              = translate_helper(:site_title)
        .modal-body.row{:style => "text-align:left; margin: 0px;"}
          = translate_helper(:ask_for_creating_return_trip_message)
          .col-sm-12{style: 'padding: 5px;'}
            = f.label :pickup_time, translate_helper("pickup_time")
            = render 'shared/time_inputs', field_name: :pickup_time, time: nil, f: f, required: false
          .col-sm-12{style: 'padding: 5px;'}
            = f.label :appointment_time, translate_helper("appointment_time")
            = render 'shared/time_inputs', field_name: :appointment_time, time: nil, f: f, required: false

  = render "shared/time_inputs_javascript"
