.col-sm-12#calendar{style: 'padding: 0px;'}
- resources = [] if !defined? resources
- events = [] if !defined? events
- currentDate = nil if !defined? currentDate

:javascript
  $(document).ready(function() { 
    var options = {
      header: false,
      defaultView: 'resourceDay',
      slotMinutes: 60,
      columnFormat: 'h(:mm)tt',
      resources: #{resources},
      events: #{events},
      eventClick: function ( event, jsEvent, view )  {
        window.location.href = "#{base_path}/" + event.id;
      }
    };

    if(#{currentDate.present?}) {
      options.currentDate = moment("#{currentDate.strftime('%Y-%m-%d') rescue nil}", "YYYY-MM-DD").toDate();
    }

    $('#calendar').fullCalendar(options);
  });