.panel.panel-primary#trip_customer_panel
  .panel-heading
    %h3.panel-title
      = translate_helper(:customer)
  .panel-body{style: 'padding: 5px;'}
    .form-group.col-sm-12
      %label.col-sm-3
        = translate_helper("customer")
      .col-sm-9{style: 'white-space: nowrap;'}
        - if @is_repeating_trip
          = render "trips/customer", :f => f, :trip => @trip, edit_mode: edit_mode, prefix: 'repeating_'
        - else
          = render "trips/customer", :f => f, :trip => @trip, edit_mode: edit_mode, prefix: ''
    .form-group.col-sm-12
      %label.col-sm-3{for:"customer_private_notes"}
        = translate_helper("customer_private_notes")
      .col-sm-9
        %textarea.form-control#customer_private_notes{name:"customer_private_notes", readonly:"readonly"}
          = @customer.try :private_notes
    .form-group.col-sm-12{style: 'display: none;', disabled: 'disabled'}
      %label.col-sm-3{for:"customer_flag_message"}
        = translate_helper("customer_flag_message")
      .col-sm-9
        %textarea.form-control#customer_flag_message{name:"customer_flag_message", readonly:"readonly"}
      
