<%- if @customer.try(:id).present? -%>
  <div id="trip_customer_name_wrapper">
    <strong id="trip_customer_name_string"><%= link_to @customer.name, @customer %></strong>
    <%- if edit_mode != :show %>
      &nbsp;&nbsp;&nbsp;&nbsp;(<a href="#" id="change_trip_customer_link"><%= translate_helper("change_customer") %></a>)
    <% end %>
  </div>
<% end %>
<%= autocomplete_field_tag 'customer_name', @customer.try(:name), autocomplete_customers_path(active_only: true), 
    :size => 30, 
    :update_elements => {
      :id                        => '#trip_customer_id,#trip_customer_attributes_id',
      :group                        => '#trip_group',
      :message                   => "#customer_flag_message"
    },
    :class => "form-control",
    :style => @customer.try(:id).present? ? 'display: none' : '', :autocomplete => "off"
%>
<%- if @customer.try(:id).blank? -%>
  <input type="button" class="btn" name="new_customer" value="<%= translate_helper("new") %>" id="new_customer" data-path="<%= new_customer_path %>">
<%- end -%>
<%= javascript_tag do %>
  $(document).ready(function(){
    $('#change_trip_customer_link').click(function(event){
      event.preventDefault();
      $('#trip_customer_name_wrapper').hide();
      $('#customer_name').show();
    });

    function popupFlagMessage(message) {
      if(message) {
        $('#customerFlagMessageText').text(message);
        $('#customerFlagMessageDialog').modal('show');
      }
    }

    // after a customer item is selected
    $('#customer_name').bind('railsAutocomplete.select', function(event, data){
      popupFlagMessage(data.item.message);
    });

    function updateUponCustomerChange(customerData) {
      $('#trip_customer_attributes_phone_number_1').val(customerData.phone_number_1); 
      $('#alt_phone').val(customerData.phone_number_2);
      $('#mobility_notes').val(customerData.mobility_notes);
      $('#trip_mobility_id').val(customerData.mobility_id);
      $('#customer_private_notes').val(customerData.private_notes);
      $("#trip_pickup_address_id").val(customerData.address_id);
      $("#pickup_search_address").val(customerData.address);
      $("#trip_funding_source_id").val(customerData.default_funding_source_id);
      $("#trip_service_level").val(customerData.default_service_level);
      $('#trip_medicaid_eligible').attr('checked',customerData.medicaid_eligible);
    }

    $('.trip_form #customer_name').bind('railsAutocomplete.select', function(event, data){ 
      if ($("#trip_group").val() == "true") {
        $("li.passengers").hide();
        $("li.group_size").show();
      } else {
        $("li.passengers").show();
        $("li.group_size").hide();
      }

      var customerId = data.item.id;
      $('#pickup_search_address').attr('data-autocomplete', "<%=autocomplete_addresses_path%>?customer_id=" + customerId);
      $('#dropoff_search_address').attr('data-autocomplete', "<%=autocomplete_addresses_path%>?customer_id=" + customerId);
      $('.address-search input[name=customer_id]').val(customerId);

      $.post("<%= data_for_trip_customers_path %>", {
          customer_id: customerId
        }, function(customerData) {
          updateUponCustomerChange(customerData);
        });
    });
  });
<% end %>