.panel.panel-primary#trip_eligibility_panel
  .panel-heading
    %h3.panel-title
      = translate_helper(:eligibility_and_accommodation)
  .panel-body{style: 'padding: 5px;'}
    .form-group.col-sm-12
      %label.col-sm-3
        = translate_helper("medicaid_eligible")  
      .col-sm-9
        = f.check_box :medicaid_eligible
    .form-group.col-sm-12
      %label.col-sm-3
        = translate_helper("trip_mobility_requirements")
      .col-sm-9
        = f.collection_select :mobility_id, @mobilities, :id, :name, {include_blank: true}, { class: 'form-control' }
    .form-group.col-sm-12
      .col-sm-3
        = f.label :mobility_device_accommodations, translate_helper("trip_form_mobility_device_accommodations_label")
      .col-sm-9
        = f.number_field :mobility_device_accommodations, min: 0, class: "form-control"
    .form-group.col-sm-12
      %label.col-sm-3{for:"mobility_notes"}
        = translate_helper("trip_mobility_notes")
      .col-sm-9
        %textarea.form-control#mobility_notes{rname:"mobility_notes", readonly:"readonly"}
          = @customer.try :mobility_notes
    .customer-eligibilities{style: (@customer ? "" : "display: none;")}
      %h4.col-sm-12= translate_helper('customer_eligibilities')
      .customer-eligibility-details
        = render 'customers/view_customer_eligibilities'
