.panel.panel-primary.filters-panel#trip_filter_panel
  .panel-heading
    %h3.panel-title
      = translate_helper(:trip_filter)
  .panel-body{style: 'padding: 5px;'}
    = form_for :trip_filters, url: trips_path, html: { :id => "trip_filter_form" }, :method => :get do |f|
      =f.hidden_field :days_of_week, class: 'days_of_week_hidden_field'
      .btns.pull-right
        = f.submit  translate_helper(:ok), id: 'runTripFilters', class: 'btn action-button', role: 'button'
        = button_tag  translate_helper(:reset), id: 'resetTripFilters', class: 'btn action-button', role: 'button'
      .col-sm-12{style: 'padding: 5px;'}
        = f.label :start, translate_helper("from_date")
        = f.text_field :start, :value => format_time_for_listing_day(@start_pickup_date), class: 'date-picker form-control', readonly: true
      .col-sm-12{style: 'padding: 5px;'}
        = f.label :end, translate_helper("to_date")
        = f.text_field :end, :value => format_time_for_listing_day(@end_pickup_date), class: 'date-picker form-control', readonly: true
      .col-sm-12{style: 'padding: 5px;'}
        = render partial: 'weekday_select'
      .col-sm-12{style: 'padding: 5px;'}
        = f.label :vehicle_id, translate_helper(:vehicle)
        = f.select :vehicle_id, options_from_collection_for_select( @vehicles, :id, :name, session[:vehicle_id]), {:include_blank => translate_helper(:all) }, { :class => 'form-control' }
      .col-sm-12{style: 'padding: 5px;'}
        = f.label :driver_id, translate_helper(:driver)
        = f.select :driver_id, options_from_collection_for_select( @drivers, :id, :name, session[:driver_id]), {:include_blank => translate_helper(:all) }, { :class => 'form-control' }
      .col-sm-12{style: 'padding: 5px;'}
        = f.label :status_id, translate_helper(:status)
        = f.select :status_id, options_for_select( [[translate_helper(:scheduled), 1], [translate_helper(:unscheduled), 2]], session[:status_id]), {:include_blank => translate_helper(:all) }, { :class => 'form-control' }
      .col-sm-12{style: 'padding: 5px;'}
        = f.label :trip_result_id, translate_helper(:trip_result)
        = f.select :trip_result_id, options_from_collection_for_select( TripResult.all, :id, :name, session[:trip_result_id]), {:include_blank => translate_helper(:all) }, { :class => 'form-control' }

= render "shared/date_time_picker_javascript"
:javascript
  $(document).ready(function(){
    makeDatePickers();
    
    $('#resetTripFilters').on('click', function() {
      $('#trip_filter_form input').val('');
      $('#trip_filter_form select').val('');

      $('#trip_filter_form select').submit();
    });

  });
      
    