.panel.panel-primary.filters-panel#trip_filter_panel
  .panel-heading
    %h3.panel-title
      = translate_helper(:trip_filter)
  .panel-body{style: 'padding: 5px;'}
    = form_for :trip_filters, url: trips_path, html: { :id => "trip_filter_form" }, :method => :get do |f|
      =f.hidden_field :days_of_week, class: 'days_of_week_hidden_field'
      .btns.pull-right
        = f.submit  translate_helper(:ok), id: 'runTripFilters', class: 'btn action-button', role: 'button'
        = button_tag  translate_helper(:reset), id: 'resetTripFilters', class: 'btn action-button', role: 'button'
      .filter-body
        .col-sm-12{style: 'padding: 5px;'}
          = f.label :start, translate_helper("from_date")
          = f.text_field :start, :value => format_time_for_listing_day(@start_pickup_date), class: 'date-picker form-control', readonly: true
        .col-sm-12{style: 'padding: 5px;'}
          = f.label :end, translate_helper("to_date")
          = f.text_field :end, :value => format_time_for_listing_day(@end_pickup_date), class: 'date-picker form-control', readonly: true
        .col-sm-12{style: 'padding: 5px;'}
          = render partial: 'weekday_select'
        .col-sm-12{style: 'padding: 5px;'}
          = f.label :status_id, translate_helper(:status)
          = f.select :status_id, options_for_select( [[translate_helper(:scheduled), 1], [translate_helper(:unscheduled), 2]], session[:trips_status_id]), {:include_blank => translate_helper(:all) }, { :class => 'form-control' }
        .col-sm-12{style: 'padding: 5px;'}
          = f.label :customer_id, translate_helper(:customer)
          - customer_name = Customer.find_by_id(session[:trips_customer_id]).name unless session[:trips_customer_id].blank?
          = autocomplete_field_tag 'customer_name', customer_name, autocomplete_customers_path(active_only: true), :delay => 200, :id_element => "#customer_id", :class => 'form-control', :placeholder => 'type first or last name (2 chars min.)'
          = hidden_field_tag 'trip_filters[customer_id]', session[:trips_customer_id], id: 'customer_id'
      = render 'trips/trip_result_filter', f: f, trip_result_session_name: :trips_trip_result_id

= render "shared/date_time_picker_javascript"
:javascript
  $(document).ready(function(){
    makeDatePickers();
    
    $('#resetTripFilters').on('click', function() {
      $('#trip_filter_form .filter-body input').val('');
      $('#trip_filter_form .filter-body select').val('');
      $('.trip_result-filter input[type=checkbox]').prop('checked', true);

      $('#trip_filter_form').submit();
    });

    $('#customer_name').change(function() {
      if($(this).val().trim().length < 1) {
        $('#customer_id').val('');
      }
    });
    $( "#customer_name" ).on( "autocompleteresponse", function( event, ui ) { 
      $('#customer_id').val('');
    });
  });
      
    