:ruby
  @is_repeating_trip = @trip.is_a? RepeatingTrip
  @trip_id = @trip ? @trip.id : nil

  @ridership_mobility_mappings = @trip.ridership_mobilities.group_by{|c|[c.mobility_id, c.ridership_id]}

= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: 'trips'
- edit_mode = :edit if !defined? edit_mode
= form_for @trip,
  html: { class: 'trip_form', "data-remote" => @remote } do |f|
  = hidden_field_tag :from_dispatch, params[:from_dispatch]
  = hidden_field_tag :run_id, params[:run_id]
  = hidden_field_tag :mobilities 

  - if @is_repeating_trip
    = render 'repeating_trips/form_header', edit_mode: edit_mode, f: f
  - else
    = render 'trips/form_header', edit_mode: edit_mode, f: f

  - if @trip.errors.any?
    #error_explanation
      %h2= translate_helper("trip_form_error_message", count: @trip.errors.count)

      %ul
        - @trip.errors.full_messages.each do |msg|
          %li= msg

  -# the customer id needs to be passed in this action
  = f.hidden_field :customer_id, class: 'trip-customer-id'
  = f.hidden_field :direction
  = f.hidden_field :linking_trip_id if @trip.outbound_trip

  .row
    - if @is_repeating_trip 
      .col-sm-12.col-md-6
        = render 'trips/required_trip_details_panel', f: f, edit_mode: edit_mode
        = render 'trips/mobility_panel', f: f, edit_mode: edit_mode 
        = render 'trips/notes_panel', f: f, edit_mode: edit_mode
        = render 'trips/trip_parameters_panel', f: f, edit_mode: edit_mode
      .col-sm-12.col-md-6
        = render 'repeating_trips/repetition_panel', f: f
        = render 'trips/eta_settings_panel', f: f, edit_mode: edit_mode
        = render 'trips/eligibility_panel', f: f, edit_mode: edit_mode
        = render 'trips/other_panel', f: f
        - if edit_mode == :show
          - logs = TrackerActionLog.for(@trip).order(created_at: :desc)
          - if logs.any?
            = render 'shared/action_log_panel', logs: logs
    - else
      .col-sm-12.col-md-6
        = render 'trips/required_trip_details_panel', f: f, edit_mode: edit_mode
        = render 'trips/mobility_panel', f: f, edit_mode: edit_mode 
        = render 'trips/notes_panel', f: f, edit_mode: edit_mode
        = render 'trips/trip_parameters_panel', f: f, edit_mode: edit_mode
      .col-sm-12.col-md-6
        = render 'trips/tracking_panel', f: f, edit_mode: edit_mode 
        = render 'trips/eta_settings_panel', f: f, edit_mode: edit_mode
        = render 'trips/eligibility_panel', f: f, edit_mode: edit_mode
        = render 'trips/fare_panel', f: f, edit_mode: edit_mode
        = render 'trips/other_panel', f: f
        - if edit_mode == :show
          - logs = TrackerActionLog.for(@trip).order(created_at: :desc)
          - if logs.any?
            = render 'shared/action_log_panel', logs: logs

  - if edit_mode != :show
    = render 'trips/customer_trip_summary_dialog'
    - if @is_repeating_trip
      :javascript
        $(function() {
          $('body').on('dblclick', '#customerTripSummaryTable td', function() {
            var trip_id = $(this).parents('tr').data('trip-id');
            window.location.href = "#{clone_from_daily_trip_repeating_trips_path}?trip_id=" + trip_id;
          });
        });
    - else
      :javascript
        $(function() {
          $('body').on('dblclick', '#customerTripSummaryTable td', function() {
            var trip_id = $(this).parents('tr').data('trip-id');
            window.location.href = "#{clone_trip_path('xxx')}".replace('xxx', trip_id);
          });
        });

= render 'trips/customer_message_dialog'

= render 'trips/shared_form_js'

- if @is_repeating_trip
  = render 'repeating_trips/form_js'
- else
  = render 'trips/form_js'

= render 'shared/time_inputs_javascript' if edit_mode != :show
