%tr.trip{data: {trip_id: trip.id, customer_id: trip.customer.try(:id) }}
  %td
    %input.trip-selected{type: "checkbox"}
  %td
    = link_to(translate_helper("view"), trip_path(trip))
    - if trip.repeating_trip_id.present?
      %span.label.label-info
        Recur
  %td
    = format_time_for_listing_day trip.pickup_time
  %td
    = link_to trip.customer.name, trip.customer, :title => translate_helper("view_customer_record_link_text")
  %td
    - if trip.customer.try(:phone_number_1)
      = format_phone_number(trip.customer.try(:phone_number_1))
    - if trip.customer.try(:phone_number_2)
      %br/
      = format_phone_number(trip.customer.try(:phone_number_2))
  %td
    = trip.is_return? ? translate_helper("return_trip") : translate_helper("outbound_trip")
    - if trip.is_linked?
      %br/
      (#{translate_helper(:linking_to)}:
      - if trip.is_return?
        %a{:href => "#{trip_path(trip.outbound_trip)}"}
          = trip.outbound_trip.id
      - else
        %a{:href => "#{trip_path(trip.return_trip)}"}
          = trip.return_trip.id
      )
  %td
    = trip.pickup_address.try :address_text
  %td
    = format_time_for_listing trip.pickup_time
  %td
    = trip.dropoff_address.try :address_text
  %td
    - if trip.appointment_time
      - if trip.appointment_time.try(:to_date) != trip.pickup_time.try(:to_date)
        = format_simple_full_datetime trip.appointment_time
      - else
        = format_time_for_listing trip.appointment_time
      
  %td.trip-status
    - if trip.run.present?
      = link_to trip.run_text, run_path(trip.run.id)
    - elsif trip.cab
      Cab
    - elsif trip.is_stand_by
      Standby
  %td
    - if can? :edit, trip
      = form_for trip, url: trip_callback_path(trip), remote: true, method: :patch, html: { class: 'change-trip-callback' } do |f|
        = f.check_box :customer_informed, :onclick => "$(this).parents('form').submit()"
    - else
      = image_tag("tick-circle.png") if trip.customer_informed
  %td.trip_table_result_column
    - if can? :edit, trip
      = form_for trip, url: trip_change_result_path(trip), remote: true, method: :patch, html: { class: 'change-trip-result' }  do |f|
        = f.select :trip_result_id, @trip_results,  { :include_blank => true }, {class: 'form-control', data: {result_id: trip.trip_result.try(:id)}} #, :onchange => "$(this).parents('form').submit()"}
        = f.text_field :result_reason, hidden: true
    - else
      = display_trip_result(trip.trip_result)
