:css
  span.run_summary p {
    display: inline;
    padding: 0px !important;
    margin: 0px !important;
  }

  span.run_summary .overdue-danger, span.run_summary .overdue-warning {
    padding: 5px !important;
  }
%span{style: 'font-size: small;'}
  - if @trip.run
    = "#{translate_helper(:assigned_to)} "
    = link_to @trip.run.name, run_path(@trip.run), target: '_blank'
    %span.run_summary
      = simple_format "#{run_summary(@trip.run)}"
  - elsif @trip.is_stand_by
    Standby
  - elsif @trip.cab
    Cab
  - else
    Unscheduled