 <tr>
  <td>
    <%= trip.pickup_time.strftime("%l:%M %p") %>
  </td>
  <td>
    <%= trip.customer.name %>
  </td>
  <td>
    <% if trip.pickup_address.present? %>
      <%= link_to (trip.pickup_address.in_district ? "Y" : "N"), edit_provider_common_address_path(trip.pickup_address), :title => trip.pickup_address.text %>
    <% else %>
      -
    <% end %>
    /
    <% if trip.dropoff_address.present? %>
      <%= link_to (trip.dropoff_address.in_district ? "Y" : "N"), edit_provider_common_address_path(trip.dropoff_address), :title => trip.dropoff_address.text %>
    <% else %>
      -
    <% end %>
  </td>
  <td>
    <%= trip.trip_purpose_name %>
  </td>
  <% if trip_fields.object.customer.group %>
    <td>
      Group size:
    </td>
    <td>
      <%= trip_fields.text_field :group_size, :size => 1 %>
    </td>
  <% else %>
    <td>
      <%= trip_fields.text_field :guest_count, :size => 1 %>
    </td>
    <td>
      <%= trip_fields.text_field :attendant_count, :size => 1 %>
    </td>
  <% end %>
  <td>
    <%= trip_fields.select :trip_result_id, @trip_results, :include_blank => true %>
  </td>
  <td>
    <%= reimbursement_cost_for_trips trip.provider, trip %>
  </td>
  <td class="nowrap">
    <%= link_to translate_helper("edit_trip_link_text"), [:edit,trip], :class => "edit" %>
  </td>
  <% if show_edit_run_link %>
    <td class="nowrap">
      <% if trip.run.present? %>
        <%= link_to(translate_helper("edit_run_link_text"), [:edit,trip.run], :class => "edit") %>
      <% elsif trip.cab %>
        <%= translate_helper("cab_trip") %>
      <% end %>
    </td>
  <% end %>
</tr>
