.panel.panel-primary#useful_info_panel
  .panel-heading
    %h3.panel-title
      = translate_helper(:trip_useful_info_panel)
  .panel-body
    - if !@is_repeating_trip && edit_mode == :show && @trip.is_linked?
      .form-group.col-sm-12
        .col-sm-3
          = label_tag :linked_trip, @trip.is_return? ?  translate_helper("outbound_trip_label") : translate_helper("return_trip_label")
        .col-sm-9
          - if @trip.is_return?
            %a{href: trip_path(@trip.outbound_trip) }
              = @trip.outbound_trip.id
          - else
            %a{href: trip_path(@trip.return_trip) }
              = @trip.return_trip.id
    - if @trip.provider && @trip.provider != current_provider
      .form-group.col-sm-12
        .col-sm-3
          = label_tag :trip_provider, translate_helper("trip_provider")
        .col-sm-9
          = @trip.provider.try(:name)

    .form-group.col-sm-12
      .col-sm-3
        = f.label :direction, translate_helper("trip_direction")
      .col-sm-9
        = @trip.is_return? ? translate_helper("return_trip") : translate_helper("outbound_trip")

    .form-group.col-sm-12
      = f.fields_for :customer do |c|
        .col-sm-3
          = c.label :phone_number_1, translate_helper("customer_phone")
        .col-sm-9
          - if edit_mode != :show
            = c.text_field :phone_number_1, class: 'form-control'
          - else
            = format_phone_number(c.object.phone_number_1)

      - if @trip.customer.try(:id).blank?
        %input#trip_customer_attributes_id{type:"hidden", name:"trip[customer_attributes][id]"}

    .form-group.col-sm-12
      .col-sm-3
        %label{for:"dropoff_phone"}
          = translate_helper("dropoff_phone")
      .col-sm-9
        %input.full.form-control#dropoff_phone{type:"text", size:"30", name:"dropoff_phone", value:"#{format_phone_number(@trip.dropoff_address.try(:phone_number))}", readonly:"readonly"}

    - if !@is_repeating_trip && edit_mode == :show
      .form-group.col-sm-12
        .col-sm-3
          = f.label :drive_distance, translate_helper("drive_distance")
        .col-sm-9
          = @trip.drive_distance ? pluralize(@trip.drive_distance.round(3), 'mile') : ''