%span.trip-status
  - if @trip.run
    = "#{translate_helper(:assigned_to)} "
    = link_to @trip.run.name, run_path(@trip.run), target: '_blank'
    %span.run_summary
      = simple_format "#{run_summary(@trip.run)}"
  - elsif @trip.is_stand_by
    Standby
  - elsif @trip.cab
    Cab
  - else
    Unscheduled