= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: 'trips'
.clearfix.row#page-header
  %h1= translate_helper("trips")
  = link_to translate_helper("new_trip_link_text"), new_trip_path, :class=>'btn btn-default pull-right'
  .clearfix

.col-md-3
  = render :partial => 'filters'
.col-md-9
  %div#calendar { data-start-time: @week_start.to_i * 1000}

  = render :partial => 'list'

  %hr

= render 'javascript'

