= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: 'trips'
.clearfix.row#page-header{style: 'padding: 0px;'}
  - if can? :create, Trip
    = link_to translate_helper("new_trip_link_text"), new_trip_path, :class=>'btn action-button pull-right'
  - if can? :create, RepeatingTrip
    = link_to translate_helper("new_repeating_trip_text"), new_repeating_trip_path, :class=>'btn action-button pull-right'
  - if can? :index, RepeatingTrip
    = link_to translate_helper("repeating_trips"), repeating_trips_path, :class=>'btn action-button pull-right'
  %h1= translate_helper("trips")+ ": " + format_time_as_title_for_listing_day(@start_pickup_date) + " - " + format_time_as_title_for_listing_day(@end_pickup_date)
  .clearfix

.col-md-3{style: 'padding: 0px 15px 0px 0px;'}
  = render :partial => 'filters'
.col-md-9{style: 'padding: 0px;'}
  .checkbox.pull-right
    %label
      %input#hide_trip_calendar{type: 'checkbox'}
      %b
        = translate_helper("hide_calendar")
  = render 'calendar', base_path: trips_path, resources: @day_resources, events: @trips_json

  = render 'list'

= render 'trip_result_reason_dialog'

:javascript
  $(function() {
    // hide/unhide calendar
    function manage_calendar_hidden_status() {
      var is_calendar_hidden = (localStorage.getItem('trip_calendar_hidden') == 'true');
      if(is_calendar_hidden) {
        $('#calendar').hide();
      } else {
        $('#calendar').show();
      }
    }

    $('#hide_trip_calendar').change(function() {
      var checked = $(this).prop('checked');
      localStorage.setItem('trip_calendar_hidden', checked || false);

      manage_calendar_hidden_status();
    });

    manage_calendar_hidden_status();
    $('#hide_trip_calendar').prop('checked', (localStorage.getItem('trip_calendar_hidden') == 'true'));

    // Show trip result reason modal dialog on result change to a cancellation code
    $('.trip_table_result_column select').change(function() {
      console.log("TRIP RESULT CHANGED");
      var parentForm = $(this).closest('form');
      var resultReasonInput = parentForm.find('input#trip_result_reason');
      var newResultCode = parseInt($(this).val());
      var cancelCodes = #{TripResult.cancel_codes.pluck(:id)};
      var isCancelCode = cancelCodes.includes(newResultCode);
      var reasonDialog = $('#tripResultReasonDialog');
      var reasonDialogTextInput = reasonDialog.find('.result-reason-text');
      if(isCancelCode) {
        // If changed to a cancellation code, show a modal to allow optional
        // entry of a result comment. On closing of modal, copy the comment
        // into the form and submit.
        console.log("CANCEL CODE");
        reasonDialog.modal('show');
        reasonDialogTextInput.val(resultReasonInput.val()); // Update modal input to existing value of reason result
        reasonDialog.find('.submit-result-reason').click(function() {
          var resultReasonText = reasonDialogTextInput.val();
          resultReasonInput.val(resultReasonText);
          parentForm.submit();
        });
        reasonDialog.find('.dismiss-result-reason').click(function() {
          console.log("RESULT REASON DISMISS CLICKED");
          parentForm.submit();
        });
      } else {
        // If not a cancellation code, make sure the result reason field is
        // empty and submit the form.
        console.log("NOT A CANCEL CODE");
        resultReasonInput.val("");
        parentForm.submit();
      }
    });

  });
