<div id="page-header">
  <h1>Unscheduled Trips</h1>
</div>

<table>
  <tr>
    <th><%= translate_helper("customer") %></th>
    <th><%= translate_helper("pickup_time") %></th>
    <th><%= translate_helper("trip_purpose") %></th>
    <th><%= translate_helper("trip_from") %></th>
    <th><%= translate_helper("trip_to") %></th>
    <th></th>
    <th></th>
  </tr>

<% @trips.each do |trip| %>
  <tr>
    <td><%= trip.customer.name %></td>
    <td><%= trip.pickup_time.to_s %></td>
    <td><%= trip.trip_purpose_name %></td>
    <td><%= trip.pickup_address.text %></td>
    <td><%= trip.dropoff_address.text %></td>
    <td><%= button_to translate_helper("trip_confirm"), trip_confirm_path(trip) %></td>
    <td><%= button_to translate_helper("trip_turn_down"), trip_turndown_path(trip) %></td>
  </tr>
<% end %>
</table>

<br />
