%table.table.table-striped.table-bordered.run-manifest-table{style: 'max-height: 300px; overflow-y: auto;'}
  %thead
    %tr
      %th= translate_helper(:run_manifest_table_header_action)
      %th= translate_helper(:run_manifest_table_header_customer)
      %th= translate_helper(:run_manifest_table_header_address)
      %th= translate_helper(:run_manifest_table_header_driver_notified)
      %th= translate_helper(:run_manifest_table_header_pickup_time)
      %th= translate_helper(:run_manifest_table_header_dropoff_time)
      %th= translate_helper(:run_manifest_table_header_eta)
      %th= translate_helper(:run_manifest_table_header_occupancy)
      %th= translate_helper(:run_manifest_table_header_comments)
      %th
  %tbody