%table.table.table-striped.table-condensed.table-bordered#runs_table{style: 'max-height: 300px; overflow-y: auto;'}
  %thead
    %tr
      %th= translate_helper(:run_table_header_name)
      %th= translate_helper(:run_table_header_type)
      %th= translate_helper(:run_table_header_vehicle)
      %th= translate_helper(:run_table_header_driver)
      %th= translate_helper(:run_table_header_start)
      %th= translate_helper(:run_table_header_end)
      %th= translate_helper(:run_table_header_trips)
      %th
  %tbody
    - @runs.each do |run|
      %tr
        %td
          = link_to run.name, '#', data: {run_id: run.id}, class: 'run_name_link'
        %td= run.repeating_run_id.present? ? translate_helper(:run_trip_type_recurring) : translate_helper(:run_trip_type_daily)
        %td= run.vehicle.try(:name)
        %td= run.driver.try(:name)
        %td= format_time_for_listing run.scheduled_start_time
        %td= format_time_for_listing run.scheduled_end_time
        %td= run.trips.count
        %td
          = link_to edit_run_path(run, from_dispath: true), style: 'padding-right: 5px;', title: 'Edit' do 
            %i.fa.fa-pencil
          = link_to cancel_run_path(run, from_dispath: true), title: 'Cancel', data: {confirm: 'Are you sure?'} do 
            %i.fa.fa-undo

:javascript
  $(function() {
    $(document).on('click', '.run_name_link', function(e) {
      var run_id = $(this).data('run-id');
      if($("#run_trips_panel_" + run_id).length > 0) {
        e.preventDefault();
        return false;
      } else {
        $.get("#{run_trips_trips_runs_path}?run_id=" + run_id);
      }
    });
  });