.pull-left
  = translate_helper("unassigned_trips")
- stats = []
- stats << "#{@unassigned_trips.count} unscheduled" if @unassigned_trips.any?
- stats << "#{@standby_trips.count} standby" if @standby_trips.any?
%span{style: 'font-size: small;'}
  - if stats.any?
    = "#{stats.join(', ')}"
  - else 
    = translate_helper(:empty_trips)