%table.table.table-striped.table-bordered#unassigned_trips_table{style: 'max-height: 200px; overflow-y: auto;'}
  %thead
    %tr
      %th= translate_helper(:unassigned_trips_table_header_customer)
      %th= translate_helper(:unassigned_trips_table_header_phone)
      %th= translate_helper(:unassigned_trips_table_header_pickup_time)
      %th= translate_helper(:unassigned_trips_table_header_appointment_time)
      %th= translate_helper(:unassigned_trips_table_header_pickup_address)
      %th= translate_helper(:unassigned_trips_table_header_dropoff_address)
      %th= translate_helper(:unassigned_trips_table_header_type)
      %th= translate_helper(:unassigned_trips_table_header_riders_count)
      %th= translate_helper(:unassigned_trips_table_header_fare)
      %th= translate_helper(:unassigned_trips_table_header_actions)
  %tbody