= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: 'trips_runs'
.col-md-2{style: 'padding: 0px 15px 0px 0px; margin-bottom: 230px;'}
  = render :partial => 'filters'
.col-md-10.dispatch-main{style: 'padding: 0px; margin-bottom: 230px;'}
  = render 'runs_panel'
.col-md-12#unassigned_trips_container
  = render 'unassigned_trips_panel'

:javascript
  // Local Storages
  // dispatch_loaded_run_ids = [] (list of run panels that are open)
  // dispatch_run_{id}_collapsed: 1/0 (1 if a specific run panel is collapsed)
  // dispatch_unassigned_trips_collapsed: 1/0 (1 if the unassigned trips panel is collapsed)

  // update one trip schedule status
  function schedule_trip(trip_id, run_id, prev_run_id) {
    // re-schedule a trip
    $.ajax({
      url: "#{schedule_trips_runs_path}",
      method: 'post',
      data: {
        trip_id: trip_id,
        run_id: run_id,
        prev_run_id: prev_run_id
      }
    });
  }

  // unschedule multiple trips
  function unschedule_trips(trip_ids, run_id, prev_run_id) {
    // re-schedule a trip
    $.ajax({
      url: "#{unschedule_trips_runs_path}",
      method: 'post',
      data: {
        trip_ids: trip_ids,
        run_id: run_id,
        prev_run_id: prev_run_id
      }
    });
  }

  function scroll_to_run_trips_panel(run_id) {
    $('html, body').animate({
      scrollTop: $("#run_trips_panel_" + run_id).offset().top
    }, 1000);
  }

  $(document).on('click', '.panel-heading span.panel-expand-collapse', function(e){
    var $this = $(this);
    if(!$this.hasClass('panel-collapsed')) {
      $this.parents('.panel').find('.panel-body').slideUp();
      $this.addClass('panel-collapsed');
      $this.find('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
    } else {
      $this.parents('.panel').find('.panel-body').slideDown();
      $this.removeClass('panel-collapsed');
      $this.find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
    }
  });

  $(document).on('click', '.panel-heading span.panel-expand-collapse-reverse', function(e){
    var $this = $(this);
    if(!$this.hasClass('panel-collapsed')) {
      $this.parents('.panel').find('.panel-body').slideUp();
      $this.addClass('panel-collapsed');
      $this.find('i').removeClass('fa-chevron-down').addClass('fa-chevron-up');
    } else {
      $this.parents('.panel').find('.panel-body').slideDown();
      $this.removeClass('panel-collapsed');
      $this.find('i').removeClass('fa-chevron-up').addClass('fa-chevron-down');
    }
  });

  $(document).on('click', '.panel-heading span.panel-close', function(e){
    var $panel = $(this).parents('.panel');
    $panel.hide('slow', function(){ $panel.remove(); });
  });

  // One checkbox to rule them all
  $(document).on('change', '.master-select-checkbox', function(e){
    $(this).parents('table').find('.trip-selected').prop('checked', $(this).prop('checked'));
  });

  // Batch unschedule trips
  $(document).on('click', '.unschedule_trip', function(e){
    var run_panel = $(this).parents('.panel');
    var prev_run_id = run_panel.data('run-id');
    var run_id = $(this).data('status-id');
    var trip_ids = [];
    run_panel.find('input:checked').each(function() {
      trip_ids.push($(this).parents('tr').data('trip-id'));
    });
    if(trip_ids.length > 0) {
      bootbox.confirm('Are you sure to change the status?', function(){
        unschedule_trips(trip_ids.join(','), run_id, prev_run_id);
      });
    } else {
      bootbox.alert('Please select trips first.');
    }
  });

  // stop # link jumping to page top
  $(document).on('click', '.non_jump_top', function(e){
    e.preventDefault();
  });

  $(function() {
    // by default, collapse Unassigned Trips panel
    $('#unassigned_trips_panel .panel-expand-collapse-reverse').click();
  });
  