= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: 'trips_runs'
.clearfix.row#page-header{style: 'padding: 0px;'}
  = link_to translate_helper("new_run_link_text"), new_run_path, :class=>'btn action-button pull-right'
  %h1= translate_helper("trips_runs") + ": " + format_time_as_title_for_listing_day(@run_trip_day)
  .clearfix

.col-md-3{style: 'padding: 0px 15px 0px 0px;'}
  = render :partial => 'filters'
.col-md-9{style: 'padding: 0px;'}
  = render 'trips/calendar', base_path: trips_path, resources: @runs_json, events: @trips_json,  currentDate: @run_trip_day.to_i * 1000
  .col-sm-12{style: 'padding: 0px 0px 10px 0px;'}
    .pull-left
      %button.btn.action-button#scheduleButton{style: 'display: none;'}
        = translate_helper(:schedule)
    .pull-right
      %button.btn.action-button#unscheduleButton{style: 'display: none;'}
        = translate_helper(:unschedule)
  = render :partial => 'trip_list'

:javascript
  $(document).ready(function() {
    var unscheduledRunId = #{Run::UNSCHEDULED_RUN_ID}

    function assignTripToRun(tripId, runId, prevRunId) {
      $.ajax({
        type: "POST",
        url: "#{schedule_trips_runs_path}",
        dataType: 'json',
        data: {
          trip_id: tripId,
          run_id: runId
        },
        success: function(resp) {
          if(!resp.success) {
            show_alert(resp.message);
            resetTripSchedule(tripId, prevRunId);
          } else {
            hide_alert();
            // update data-run-id for run dropdown in trips table 
            $('.trip-run-options[data-trip-id='+ tripId + '][data-run-id=' + prevRunId+ ']').attr('data-run-id',runId); 
            $('.trip-run-options[data-trip-id='+ tripId + '][data-run-id=' + runId+ ']').val(runId); 

            var calendar = $('#calendar').data('fullCalendar');
            calendar.removeEvents(resp.trip_event_json.id);
            calendar.renderEvent(resp.trip_event_json);

            manageSchedulingButtons();
          }
        },
        failure: function() {
          show_alert("#{translate_helper(:unknown_error)}");
          resetTripSchedule(tripId, prevRunId);
        }
      });
    }

    function resetTripSchedule(tripId, prevRunId) {
      $('.trip-run-options[data-run-id=' + prevRunId+ ']').val(prevRunId);
    }

    function getSelectedRunId() {
      return parseInt($('#calendar input[name=run_records]:checked').val());
    }

    function getSelectedTripId() {
      return parseInt($('#tripsTable input[name=trip_records]:checked').val());
    }

    function getSelectedTripRunId() {
      return parseInt($('#tripsTable input[name=trip_records]:checked').parents('tr').find('.trip-run-options').val());
    }

    function getSelectedTripPrevRunId() {
      return parseInt($('#tripsTable input[name=trip_records]:checked').parents('tr').find('.trip-run-options').attr('data-run-id') );
    }

    $('#scheduleButton').click(function() {
      assignTripToRun(getSelectedTripId(), getSelectedRunId(), getSelectedTripPrevRunId());
    });

    $('#unscheduleButton').click(function() {
      assignTripToRun(getSelectedTripId(), unscheduledRunId, getSelectedTripPrevRunId());
    });

    $('#tripsTable').on('change', '.trip-run-options', function() {
      assignTripToRun(parseInt($(this).attr('data-trip-id') ), parseInt($(this).val()), getSelectedTripPrevRunId() );
    });

    function manageSchedulingButtons() {
      var selectedRunId = getSelectedRunId();
      var selectedTripRunId = getSelectedTripRunId();

      if(
        $.isNumeric(selectedRunId) && $.isNumeric(selectedTripRunId) &&
        selectedRunId != unscheduledRunId && selectedTripRunId != selectedRunId) {
        $('#scheduleButton').show();
      } else {
        $('#scheduleButton').hide();
      }

      if(
        $.isNumeric(selectedTripRunId) && selectedTripRunId != unscheduledRunId) {
        $('#unscheduleButton').show();
      } else {
        $('#unscheduleButton').hide();
      }
    }

    $('#calendar').on('change', 'input[name=run_records]', function() {
      $('#calendar tr.row-highlight').removeClass('row-highlight');
      $('#calendar input[name=run_records]:checked').parents('tr').addClass('row-highlight');

      manageSchedulingButtons();
    });

    $('#tripsTable').on('change', 'input[name=trip_records]', function() {
      $('#tripsTable tr.row-highlight').removeClass('row-highlight');
      $('#tripsTable input[name=trip_records]:checked').parents('tr').addClass('row-highlight');

      manageSchedulingButtons();
    });

  });

