= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: 'trips_runs'
.clearfix.row#page-header{style: 'padding: 0px;'}
  - if can?(:edit, Run)
    = link_to translate_helper("new_run_link_text"), new_run_path, :class=>'btn action-button pull-right'
  %h1= translate_helper("trips_runs") + ": " + format_time_as_title_for_listing_day(@run_trip_day)
  .clearfix

.col-md-2{style: 'padding: 0px 15px 0px 0px;'}
  = render :partial => 'filters'
.col-md-10{style: 'padding: 0px;'}
  = render :partial => 'trip_list'

:javascript
  $(document).ready(function() {
    var unscheduledRunId = #{Run::UNSCHEDULED_RUN_ID}

    function assignTripToRun(tripId, runId, prevRunId) {
      $.ajax({
        type: "POST",
        url: "#{schedule_trips_runs_path}",
        dataType: 'json',
        data: {
          trip_id: tripId,
          run_id: runId
        },
        success: function(resp) {
          if(!resp.success) {
            show_alert(resp.message);
            resetTripSchedule(tripId, prevRunId);
          } else {
            hide_alert();
            // update data-run-id for run dropdown in trips table 
            $('.trip-run-options[data-trip-id='+ tripId + '][data-run-id=' + prevRunId+ ']').attr('data-run-id',runId); 
            $('.trip-run-options[data-trip-id='+ tripId + '][data-run-id=' + runId+ ']').val(runId); 
          }
        },
        failure: function() {
          show_alert("#{translate_helper(:unknown_error)}");
          resetTripSchedule(tripId, prevRunId);
        }
      });
    }

    function resetTripSchedule(tripId, prevRunId) {
      $('.trip-run-options[data-run-id=' + prevRunId+ ']').val(prevRunId);
    }

    function getSelectedTripId() {
      return parseInt($('#tripsTable input[name=trip_records]:checked').val());
    }

    function getSelectedTripRunId() {
      return parseInt($('#tripsTable input[name=trip_records]:checked').parents('tr').find('.trip-run-options').val());
    }

    function getSelectedTripPrevRunId() {
      return parseInt($('#tripsTable input[name=trip_records]:checked').parents('tr').find('.trip-run-options').attr('data-run-id') );
    }

    $('#tripsTable').on('change', '.trip-run-options', function() {
      assignTripToRun(parseInt($(this).attr('data-trip-id') ), parseInt($(this).val()), parseInt($(this).attr('data-run-id') ) );
    });

    $('#tripsTable').on('change', 'input[name=trip_records]', function() {
      $('#tripsTable tr.row-highlight').removeClass('row-highlight');
      $('#tripsTable input[name=trip_records]:checked').parents('tr').addClass('row-highlight');
    });
  });

