= render 'shared/highlight_active_tab_js', is_primary_nav: false, tab_class: (params[:provider_id].blank? ? 'admin' : 'provider')
#page-header.row
  .col-sm-12.col-md-6
    %h1= params[:provider_id].blank? ? translate_helper("system_driver_requirement_templates_index_heading") : translate_helper("provider_driver_requirement_templates_index_heading")
  .col-sm-12.col-md-6
    .pull-right
      = link_to translate_helper("new_driver_requirement_template_link_text"), new_driver_requirement_template_path(provider_id: params[:provider_id]), class: "btn action-button"
.row
  .col-sm-12
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th.col-sm-4= translate_helper("driver_requirement_template_name")
          %th.col-sm-2= translate_helper("driver_requirement_template_legal")
      %tbody
        - if @driver_requirement_templates.empty?
          %tr
            %td{:colspan => "2"}= translate_helper("driver_requirement_templates_empty")
        = render partial: 'driver_requirement_template', collection: @driver_requirement_templates
