= render 'shared/highlight_active_tab_js', is_primary_nav: false, tab_class: (params[:provider_id].blank? ? 'admin' : 'provider')
#page-header.row
  .col-sm-12.col-md-6
    %h1= translate_helper("show_driver_requirement_template_heading")
  .col-sm-12.col-md-6
    .pull-right
      = link_to translate_helper("delete_driver_requirement_template_button"), driver_requirement_template_path(@driver_requirement_template, provider_id: params[:provider_id]), method: :delete, data: {confirm: translate_helper(:confirm)}, class: "btn action-button"
      = link_to translate_helper("edit_driver_requirement_template_button"), edit_driver_requirement_template_path(@driver_requirement_template, provider_id: params[:provider_id]), class: "btn action-button"
      = link_to translate_helper(:back), driver_requirement_templates_path(provider_id: params[:provider_id]), class: "btn btn-default"
= render partial: "form"
