<table class="table table-striped table-condensed">
  <thead>
    <tr>
      <th class="col-sm-3"><%= translate_helper("document_associations_document_date_heading") %></th>
      <th class="col-sm-8"><%= translate_helper("document_associations_document_description_heading") %></th>
    </tr>
  </thead>
  <tbody>
    <% if document_associations.empty? %>
      <tr>
        <td colspan="2"><%= translate_helper("document_associations_documents_empty") %></td>
      </tr>
    <% end %>
    <% document_associations.each do |document_association| %>
      <tr>
        <td>
          <%= document_association.document.document_updated_at.to_s(:long) %>
        </td>
        <td>
          <%= document_association.document.description %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table><!-- END .table -->
