- remote ||= false
= nested_form_for [@vehicle_type, @vehicle_capacity], 
    remote: remote,
    html: {class: "vehicle-capacity-form"} do |f|
  - if @vehicle_capacity.errors.any?
    .panel.panel-danger
      .panel-heading= translate_helper("vehicle_capacity_form_error", count: @vehicle_capacity.errors.count)
      .panel-body
        %ul
          - @vehicle_capacity.errors.full_messages.each do |msg|
            %li= msg
  .row
    .col-md-12
      .panel.panel-primary
        .panel-body.form-horizontal
          .form-group
            = f.label :capacity_type_id, translate_helper("capacity_type_label"), class: "col-md-3 control-label"
            .col-md-9
              = f.collection_select :capacity_type_id, CapacityType.by_provider(current_provider).order(:name), :id, :name, { include_blank: true }, { class: "form-control", required: true}
          .form-group
            = f.label :capacity, translate_helper("vehicle_capacity_capacity"), class: "col-md-3 control-label"
            .col-md-9
              = f.number_field :capacity, class: "form-control", required: true, min: 0


  .row.form-actions= f.submit translate_helper("vehicle_capacity_form_submit"), class: "btn action-button"