= render 'shared/highlight_active_tab_js', is_primary_nav: false, tab_class: 'provider'
#page-header.row
  .pull-right
    = link_to translate_helper(:vehicle_types), vehicle_types_path, class: "btn action-button"
    - if can? :create, VehicleCapacity
      = link_to translate_helper("new_vehicle_capacity_link_text"), polymorphic_path([@vehicle_type, VehicleCapacity], action: :new), class: "btn action-button", remote: true
  %h1= @vehicle_type.try(:name)
  .col-sm-12{style: "padding-top: 10px;"}
    %table#capacities_table.table.table-striped.table-bordered
      %thead
        %tr
          %th= translate_helper("vehicle_capacity_type")
          %th= translate_helper("vehicle_capacity_capacity")
          %th
      %tbody
        = render partial: 'vehicle_capacity', collection: @vehicle_capacities

= render 'shared/modal_dialog', modal_id: "modal-dialog" 
