= render 'shared/highlight_active_tab_js', is_primary_nav: false, tab_class: 'provider'
#page-header.row
  .col-sm-12.col-md-6
    %h1= translate_helper("index_vehicle_maintenance_schedule_type_heading")
  .col-sm-12.col-md-6
    - if can? :create, VehicleMaintenanceScheduleType
      .pull-right
        = link_to translate_helper("new_vehicle_maintenance_schedule_type_link_text"), new_vehicle_maintenance_schedule_type_path, class: "btn action-button", remote: true
  .col-sm-12{style: "padding-top: 10px;"}
    %table#schedule_types_table.table.table-striped.table-bordered
      %thead
        %tr
          %th= translate_helper("vehicle_maintenance_schedule_type_name")
      %tbody
        = render partial: 'vehicle_maintenance_schedule_type', collection: @vehicle_maintenance_schedule_types

= render 'shared/modal_dialog', modal_id: "modal-dialog" 