<% remote ||= false %>
<%= nested_form_for [@vehicle, @vehicle_warranty], remote: remote do |f| %>
  <% if @vehicle_warranty.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading"><%= translate_helper("vehicle_warranty_form_error", count: @vehicle_warranty.errors.count) %></div>
      <div class="panel-body">
        <ul>
          <% @vehicle_warranty.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-body form-horizontal">
          <div class="form-group">
            <%= f.label :description, translate_helper("vehicle_warranty_form_description"), class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <%= f.text_field :description, class: "form-control" %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :notes, translate_helper("vehicle_warranty_form_notes"), class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <%= f.text_area :notes, class: "form-control", rows: 3 %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :expiration_date, translate_helper("vehicle_warranty_form_expiration_date"), class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <div class="input-group datepicker-icon">
                <%= f.text_field :expiration_date, class: "form-control datepicker" %>
                <div class="input-group-btn">
                  <button class="btn btn-default" type="button">
                    <%= image_tag "calendar-clock.png" %>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div><!-- END .panel-body -->
      </div><!-- END .panel -->
      
      <%= render partial: "document_associations/form_panel", locals: {f: f, documents: @vehicle_warranty.vehicle.documents} %>
    </div><!-- END .col-md-12 -->
  </div><!-- END .row -->
  
  <div class="row form-actions"><%= f.submit translate_helper("vehicle_warranty_form_submit"), class: "btn action-button" %></div>
<% end %>
