.panel.panel-primary#runs_panel
  .panel-heading
    .pull-right{style: 'padding-right: 0px;'}
      - if can?(:new, RepeatingRun)
        %span.dispatch-action
          = link_to new_repeating_run_path(from_dispatch: true), style: 'color: white;', title: translate_helper("new_repeating_run_text") do 
            %i.fa.fa-plus
      %span.panel-close-all-runs.dispatch-action{title: 'Close opened run panels'}
        %i.fa.fa-remove
      %span.panel-expand-collapse.dispatch-action{title: 'Collapse/expand'}
        %i.fa.fa-chevron-up
    %h3.panel-title.text-center
      .pull-left
        = translate_helper(:runs_panel_header)
      %span{style: 'font-size: small;'}
        - if @runs.any?
          = "Total runs: #{@runs.count}"
        - else
          = translate_helper(:empty_runs)
  .panel-body
    = render 'runs_table'