%table.table.table-striped.table-bordered.run-manifest-table{style: 'max-height: 300px; overflow-y: auto;'}
  %thead
    %tr
      %th
        %input.master-select-checkbox{type: "checkbox"}
      %th= translate_helper(:run_manifest_table_header_action)
      %th= translate_helper(:run_manifest_table_header_customer)
      %th= translate_helper(:run_manifest_table_header_address)
      %th= translate_helper(:run_manifest_table_header_scheduled_time)
      %th= translate_helper(:run_manifest_table_header_eta)
      %th= translate_helper(:run_manifest_table_header_occupancy)
      %th= translate_helper(:run_manifest_table_header_fare)
      %th= translate_helper(:run_manifest_table_header_comments)
      %th= translate_helper(:run_manifest_table_header_trip_result)
      %th= translate_helper(:run_manifest_table_header_customer_phone)
      %th= translate_helper(:run_manifest_table_header_actions)
  %tbody
    - if trips.empty?
      %tr
        %td{colspan: 14}= translate_helper(:empty_trips)
    - else
      - run_id = run.id
      - itins = get_itineraries(run, true, @day_of_week)
      - itins.each do |itin|
        - trip = itin[:trip]
        %tr.manifest-row{data: {trip_id: itin[:trip_id], id: itin[:id], leg_flag: itin[:leg_flag]}}
          %td
            %input.trip-selected{type: "checkbox"}
          %td{style: 'white-space: nowrap;'}
            = itin[:leg_flag] == 1 ? 'PU' : 'DO'
            - if itin[:is_new]
              %span.badge.new-trip-badge.pull-right{style: 'background-color: red;'}
                New
          %td= itin[:customer]
          %td= itin[:address]
          %td= format_time_for_listing(itin[:time])
          %td= itin[:eta]
          %td= itin[:capacity]
          %td= itin[:fare]
          %td= itin[:comments]
          %td= itin[:result]
          %td= simple_format(itin[:phone].join('<br>')) unless itin[:phone].empty?
          %td
            = link_to repeating_trip_path(itin[:trip_id], from_dispatch: true, run_id: run_id), style: 'padding-right: 5px;', title: "View details" do 
              %i.fa.fa-external-link
            - if can?(:edit, Trip)
              = link_to edit_repeating_trip_path(itin[:trip_id], from_dispatch: true, run_id: run_id), style: 'padding-right: 5px;', title: 'Edit' do 
                %i.fa.fa-pencil
