%table.table.table-striped.table-condensed.table-bordered#runs_table{:data => {:toggle => 'table',
    :pagination => 'false',
    :show_pagination_switch => 'false',
    :page_list => "[5, 10, 20]",
    :page_size => 5,
    :search => 'false',
    :show_export => 'false',
    :show_columns => 'false',
    :show_toggle => 'false'}}
  %thead
    %tr
      %th= translate_helper(:run_table_header_name)
      %th= translate_helper(:run_table_header_vehicle)
      %th= translate_helper(:run_table_header_driver)
      %th= translate_helper(:run_table_header_start)
      %th= translate_helper(:run_table_header_end)
      %th= translate_helper(:run_table_header_trips)
      %th= translate_helper(:run_table_header_actions)
  %tbody
    - @runs.each do |run|
      %tr{data: {run_id: run.id}}
        %td
          = link_to run.name, '#', data: {run_id: run.id}, class: 'run_name_link non_jump_top', title: 'Click to open manifest'
        - vehicle_overdue_check = get_vehicle_warnings(run.vehicle, run)
        %td{class: vehicle_overdue_check[:class_name], title: vehicle_overdue_check[:tips] }
          = link_to run.vehicle.try(:name), vehicle_path(run.vehicle), target: '_blank' if run.vehicle
        - driver_overdue_check = get_driver_warnings(run.driver, run)
        %td{class: driver_overdue_check[:class_name], title: driver_overdue_check[:tips] }
          = link_to run.driver.try(:user_name), driver_path(run.driver), target: '_blank' if run.driver
        %td= format_time_for_listing run.scheduled_start_time
        %td= format_time_for_listing run.scheduled_end_time
        %td.trips_count
          = run.weekday_assignments.for_wday(@day_of_week).count
        %td
          = link_to repeating_run_path(run, from_dispatch: true), style: 'padding-right: 5px;', title: "View details" do 
            %i.fa.fa-external-link
          - if can?(:edit, run)
            = link_to edit_repeating_run_path(run, from_dispatch: true), style: 'padding-right: 5px;', title: 'Edit' do 
              %i.fa.fa-pencil
          - if can?(:cancel, run)
            = link_to cancel_run_recurring_dispatchers_path(run_id: run.id), title: 'Cancel run', remote: true, data: {confirm: 'Are you sure to cancel this run?'} do 
              %i.fa.fa-undo