%table.table.table-striped.table-bordered#unassigned_trips_table
  %thead
    %tr
      %th
        %input#unassigned_trips_master_checkbox{type: "checkbox"}
      %th= translate_helper(:unassigned_trips_table_header_customer)
      %th= translate_helper(:unassigned_trips_table_header_phone)
      %th= translate_helper(:unassigned_trips_table_header_pickup_time)
      %th= translate_helper(:unassigned_trips_table_header_appointment_time)
      %th= translate_helper(:unassigned_trips_table_header_pickup_address)
      %th= translate_helper(:unassigned_trips_table_header_dropoff_address)
      %th= translate_helper(:unassigned_trips_table_header_riders_count)
      %th= translate_helper(:unassigned_trips_table_header_fare)
      %th= translate_helper(:unassigned_trips_table_header_comments)
      %th= translate_helper(:unassigned_trips_table_header_actions)
  %tbody
    - trips.each do |trip|
      %tr{data: {trip_id: trip.id}}
        %td
          %input.trip-selected{type: "checkbox"}
        %td= trip.customer.try(:name)
        %td= simple_format [trip.customer.phone_number_1, trip.customer.phone_number_2].compact.join('<br>')
        %td= format_time_for_listing(trip.pickup_time)
        %td= format_time_for_listing(trip.appointment_time) if trip.appointment_time
        %td= trip.pickup_address.try(:one_line_text)
        %td= trip.dropoff_address.try(:one_line_text)
        %td
          = trip.trip_size
          - if trip.ridership_mobilities.has_capacity.empty?
            %span.label.label-danger.pull-right
              Mobility?
        %td
        %td= trip.notes
        %td
          = link_to repeating_trip_path(trip, from_dispatch: true), style: 'padding-right: 5px;', title: "View details" do 
            %i.fas.fa-external-link-alt
          - if can?(:edit, trip)
            = link_to edit_repeating_trip_path(trip, from_dispatch: true), style: 'padding-right: 5px;', title: 'Edit' do 
              %i.fas.fa-pencil-alt

:javascript
  $(function() {
    configure_unassigned_trips_table();
  });