= form_for @planned_leave, remote: true do |f|
  .alert.alert-warning
    %span{style: 'font-size: large;'}= translate_helper(:planned_leave_unassign_driver_warning)
  %input{type: 'hidden', name: 'leavable_id', value: leavable.id}
  %input{type: 'hidden', name: 'leavable_type', value: leavable.class.name}
  - if @planned_leave.errors.any?
    .panel.panel-danger
      .panel-heading= translate_helper("planned_leave_form_error", count: @planned_leave.errors.count)
      .panel-body
        %ul
          - @planned_leave.errors.full_messages.each do |msg|
            %li= msg
  .row
    .form-group.col-sm-12
      = f.label :start_date, translate_helper("planned_leave_start_date"), class: "col-md-3 control-label"
      .col-md-9
        .input-group.datepicker-icon
          = f.text_field :start_date, class: "form-control datepicker", required: true
          .input-group-btn
            %button.btn.btn-default{:type => "button"}
              = image_tag "calendar-clock.png"
    .form-group.col-sm-12
      = f.label :end_date, translate_helper("planned_leave_end_date"), class: "col-md-3 control-label"
      .col-md-9
        .input-group.datepicker-icon
          = f.text_field :end_date, class: "form-control datepicker", required: true
          .input-group-btn
            %button.btn.btn-default{:type => "button"}
              = image_tag "calendar-clock.png"
    .form-group.col-sm-12
      = f.label :reason, translate_helper("planned_leave_form_reason"), class: "col-md-3 control-label"
      .col-md-9
        = f.text_area :reason, class: "form-control" 
