<%= form_for(@repeating_trip) do |f| %>
  <% if @repeating_trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repeating_trip.errors.count, "error") %> prohibited this repeating_trip from being saved:</h2>

      <ul>
      <% @repeating_trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :schedule_yaml %><br>
    <%= f.text_area :schedule_yaml %>
  </div>
  <div class="field">
    <%= f.label :provider_id %><br>
    <%= f.text_field :provider_id %>
  </div>
  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.text_field :customer_id %>
  </div>
  <div class="field">
    <%= f.label :pickup_time %><br>
    <%= f.datetime_select :pickup_time %>
  </div>
  <div class="field">
    <%= f.label :appointment_time %><br>
    <%= f.datetime_select :appointment_time %>
  </div>
  <div class="field">
    <%= f.label :guest_count %><br>
    <%= f.number_field :guest_count %>
  </div>
  <div class="field">
    <%= f.label :attendant_count %><br>
    <%= f.number_field :attendant_count %>
  </div>
  <div class="field">
    <%= f.label :group_size %><br>
    <%= f.number_field :group_size %>
  </div>
  <div class="field">
    <%= f.label :pickup_address_id %><br>
    <%= f.text_field :pickup_address_id %>
  </div>
  <div class="field">
    <%= f.label :dropoff_address_id %><br>
    <%= f.text_field :dropoff_address_id %>
  </div>
  <div class="field">
    <%= f.label :mobility_id %><br>
    <%= f.text_field :mobility_id %>
  </div>
  <div class="field">
    <%= f.label :funding_source_id %><br>
    <%= f.text_field :funding_source_id %>
  </div>
  <div class="field">
    <%= f.label :trip_purpose %><br>
    <%= f.text_field :trip_purpose %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes %>
  </div>
  <div class="field">
    <%= f.label :round_trip %><br>
    <%= f.check_box :round_trip %>
  </div>
  <div class="field">
    <%= f.label :driver_id %><br>
    <%= f.text_field :driver_id %>
  </div>
  <div class="field">
    <%= f.label :vehicle_id %><br>
    <%= f.text_field :vehicle_id %>
  </div>
  <div class="field">
    <%= f.label :cab %><br>
    <%= f.check_box :cab %>
  </div>
  <div class="field">
    <%= f.label :customer_informed %><br>
    <%= f.check_box :customer_informed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
