.form-group.col-sm-12
  .col-sm-3
    = f.label :start_date, translate_helper("start_date") 
  .col-sm-9
    = f.text_field :start_date, :size => 10, :value => format_time_for_listing_day(f.object.start_date), class: 'date-picker form-control', readonly: true
.form-group.col-sm-12
  .col-sm-3
    = f.label :end_date, translate_helper("end_date") 
  .col-sm-9
    = f.text_field :end_date, :size => 10, :value => format_time_for_listing_day(f.object.end_date), class: 'date-picker form-control', readonly: true
.form-group.col-sm-12
  .col-sm-3
    %label
      = translate_helper(:days_of_week)
  .col-sm-9
    - day_names = TranslationEngine.translate_text("date.day_names").split(",")
    = f.check_box :repeats_sundays 
    - if I18n.locale == :tags
      = 'S'
    - else
      = day_names[0][0] rescue 'S'
    &nbsp;
    = f.check_box :repeats_mondays 
    = day_names[1][0] rescue 'M' 
    &nbsp;
    = f.check_box :repeats_tuesdays 
    = day_names[2][0] rescue 'T' 
    &nbsp;
    = f.check_box :repeats_wednesdays
    = day_names[3][0] rescue 'W' 
    &nbsp;
    = f.check_box :repeats_thursdays 
    = day_names[4][0] rescue 'T'
    &nbsp;
    = f.check_box :repeats_fridays 
    = day_names[5][0] rescue 'F'
    &nbsp;
    = f.check_box :repeats_saturdays 
    = day_names[6][0] rescue 'S'
    &nbsp;
.form-group.col-sm-12
  .col-sm-3
    %label
      = translate_helper(:repeat_every)
  .col-sm-6.col-md-3
    = f.text_field :repetition_interval, :size => 2, class: 'col-sm-6 col-md-3 form-control'
    = translate_helper(:weeks)
.form-group.col-sm-12
  .col-sm-3
    %label
      = translate_helper(:repetition_comments)
  .col-sm-9
    = f.text_area :comments, class: 'form-control', maxlength: 30
