<p id="notice"><%= notice %></p>

<p>
  <strong>Schedule yaml:</strong>
  <%= @repeating_trip.schedule_yaml %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @repeating_trip.provider %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @repeating_trip.customer %>
</p>

<p>
  <strong>Pickup time:</strong>
  <%= @repeating_trip.pickup_time %>
</p>

<p>
  <strong>Appointment time:</strong>
  <%= @repeating_trip.appointment_time %>
</p>

<p>
  <strong>Guest count:</strong>
  <%= @repeating_trip.guest_count %>
</p>

<p>
  <strong>Attendant count:</strong>
  <%= @repeating_trip.attendant_count %>
</p>

<p>
  <strong>Group size:</strong>
  <%= @repeating_trip.group_size %>
</p>

<p>
  <strong>Pickup address:</strong>
  <%= @repeating_trip.pickup_address %>
</p>

<p>
  <strong>Dropoff address:</strong>
  <%= @repeating_trip.dropoff_address %>
</p>

<p>
  <strong>Mobility:</strong>
  <%= @repeating_trip.mobility %>
</p>

<p>
  <strong>Funding source:</strong>
  <%= @repeating_trip.funding_source %>
</p>

<p>
  <strong>Trip purpose:</strong>
  <%= @repeating_trip.trip_purpose %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @repeating_trip.notes %>
</p>

<p>
  <strong>Round trip:</strong>
  <%= @repeating_trip.round_trip %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @repeating_trip.driver %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @repeating_trip.vehicle %>
</p>

<p>
  <strong>Cab:</strong>
  <%= @repeating_trip.cab %>
</p>

<p>
  <strong>Customer informed:</strong>
  <%= @repeating_trip.customer_informed %>
</p>

<%= link_to 'Edit', edit_repeating_trip_path(@repeating_trip) %> |
<%= link_to 'Back', repeating_trips_path %>
