<div id="page-header" class="clearfix">
  <h1><%= translate_helper("new_user_heading") %></h1>
</div>

<%= form_for @user, :url=>url_for(:action=>:create_user) do |f| %>
  <% if @user.errors.any? || @errors.any? %>
    <div id="error_explanation">
      <h2>translate_helper("user_form_error_message", count: @user.errors.count)</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      <% @errors.each do |field, msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <ol class="section first">
      <li>
        <%= f.label :email, translate_helper("email") %>
        <%= f.text_field :email %>
      </li>

      <li>
        <%= f.label :permissions, translate_helper("permissions") %>
        <%= select :role, :level, Role.editable_role_array_by_user(current_user) %>
      </li>
    </ol>

    <div class="actions">
      <%= f.submit translate_helper("new_user_submit") %>
    </div>
  </fieldset>
<% end %>