<div id="page-header" class="clearfix">
  <h1><%= translate_helper("change_expiration_heading") %></h1>
</div>

<% if current_user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <h2><%= translate_helper("user_form_error_message", count: current_user.errors.count) %></h2>
    </h2>
    <ul>
      <% current_user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="col-sm-6 col-md-4">
  <%= form_for @user, :url => change_expiration_path(id: @user.id) do |f| %>
    <div class="form-group">

      <%= f.label :expires_at, translate_helper("user_expires_at") %>
      <div class="input-group datepicker-icon">
        <%= f.text_field :expires_at, value: format_time_for_listing_day(@user.expires_at), class: "form-control datepicker"%>
        <div class="input-group-btn">
          <button class="btn btn-default" type="button">
            <%= image_tag "calendar-clock.png" %>
          </button>
        </div>
      </div> 
      <p><small>Set an empty value to activate account</small></p>
    </div> 
      
    <div class="form-group">
      <%= f.label :inactivation_reason, translate_helper("user_inactivation_reason") %>
      <%= f.text_area :inactivation_reason %>
    </div>

    <div class="actions">
      <%= f.submit translate_helper("change_expiration_submit") %>
    </div>
  <% end %>
</div>

<script type='text/javascript'>

  $(function(){
    $('input[type=text]#user_expires_at').datetimepicker({
          buttonImage: "<%=  image_path 'calendar-clock.png' %>",
          buttonImageOnly: true,
          constrainInput: false,
          dateFormat: 'D yy-mm-dd',
          hourGrid: 6,
          minuteGrid: 15,
          showOn: "both",
          stepHour: 1,
          //stepMinute: 15,
          timeFormat: 'hh:mm tt',
    });
  });

</script>
