#page-header.clearfix
  %h1
    = "#{translate_helper('reset_password_heading')}:"
    = link_to @user.name, user_path(@user)
- if @user.errors.any?
  #error_explanation
    %h2
      %h2= translate_helper("user_form_error_message", count: @user.errors.count)
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg
  %hr
= form_for @user, :url => reset_password_user_path(@user) do |f|
  .row.col-sm-6
    .form-group.col-sm-12
      = f.label :password, translate_helper("password"), class: "col-md-2 control-label"
      .col-md-10
        = f.password_field :password, class: "form-control"

    .form-group.col-sm-12
      = f.label :password_confirmation, translate_helper("password_confirmation"), class: "col-md-2 control-label"
      .col-md-10
        = f.password_field :password_confirmation, class: "form-control"

    .form-group.col-sm-12
      = f.submit translate_helper("change_password_submit"), class: 'btn btn-primary'
