<div id="page-header" class="clearfix">
  <h1><%= translate_helper("change_email_heading") %></h1>
</div>

<% if current_user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <h2><%= translate_helper("user_form_error_message", count: current_user.errors.count) %></h2>
    </h2>
    <ul>
      <% current_user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for current_user, :url => change_email_path do |f| %>
<fieldset>
  <ol class="section first">
    <li>
      <%= f.label :current_email, translate_helper("current_email") %>
      <%= current_user.email %>
    </li>  
    <li>
      <%= f.label :email, translate_helper("new_email") %>
      <%= f.email_field :email %>
    </li>
  </ol>
  <div class="actions">
    <%= f.submit translate_helper("change_email_submit") %>
  </div>
</fieldset>
<% end %>