#page-header.clearfix
  %h1= translate_helper("change_password_heading")
- if current_user.errors.any?
  #error_explanation
    %h2
      %h2= translate_helper("user_form_error_message", count: current_user.errors.count)
    %ul
      - current_user.errors.full_messages.each do |msg|
        %li= msg
= form_for current_user, :url => change_password_path do |f|
  %fieldset
    %ol.section.first
      %li
        = f.label :current_password, translate_helper("current_password")
        = f.password_field :current_password
      %li
        = f.label :password, translate_helper("password")
        = f.password_field :password
      %li
        = f.label :password_confirmation, translate_helper("password_confirmation")
        = f.password_field :password_confirmation
    .actions
      = f.submit translate_helper("change_password_submit")
