:ruby
  @capacity_types_hash = CapacityType.by_provider(current_provider).order(:name).pluck(:id,:name).to_h

:css
  .new-trip-badge {
    background-color: red;
  }
  .capacity_warning {
    background-color: yellow;
  }

%table.table.table-striped.table-bordered.run-manifest-table{style: 'max-height: 300px; overflow-y: auto;'}
  %thead
    %tr
      %th
        - unless run.complete?
          %input.master-select-checkbox{type: "checkbox"}
      %th= translate_helper(:run_manifest_table_header_action)
      %th= translate_helper(:run_manifest_table_header_customer)
      %th= translate_helper(:run_manifest_table_header_address)
      %th= translate_helper(:run_manifest_table_header_scheduled_time)
      %th= translate_helper(:run_manifest_table_header_eta)
      - @capacity_types_hash.each do |c_id, c_name|
        %th= c_name
      %th= translate_helper(:run_manifest_table_header_fare)
      %th= translate_helper(:run_manifest_table_header_comments)
      %th= translate_helper(:run_manifest_table_header_trip_result)
      %th= translate_helper(:run_manifest_table_header_customer_phone)
      %th= translate_helper(:run_manifest_table_header_driver_notified)
      %th= translate_helper(:run_manifest_table_header_actions)
  %tbody
    - if trips.empty?
      %tr
        %td{colspan: 14}= translate_helper(:empty_trips)
    - else
      - vehicle_cannot_accommodate_warning = translate_helper(:vehicle_cannot_accommodate_warning)
      - run_id = run.id
      - itins = get_itineraries(run)
      - itins.each do |itin|
        - trip = itin[:trip]
        %tr.manifest-row{data: {trip_id: itin[:trip_id], id: itin[:id], leg_flag: itin[:leg_flag], customer_id: trip.customer.try(:id)}}
          %td
            - unless run.complete?
              %input.trip-selected{type: "checkbox"}
          %td{style: 'white-space: nowrap;'}
            = itin[:leg_flag] == 1 ? 'PU' : 'DO'
            - is_new = !trip.driver_notified && trip.date == Date.today
            %span.badge.new-trip-badge{style: (is_new ? "" : "display: none;")}
              New

            .pull-right
              - if itin[:is_recurring]
                %span.label.label-info
                  Recur
          %td= itin[:customer]
          %td= itin[:address]
          %td= format_time_for_listing(itin[:time])
          %td= itin[:eta]
          - @capacity_types_hash.each do |c_id, c_name|
            %td{class: itin[:capacity_warning] ? "capacity_warning" : "", title: itin[:capacity_warning] ? vehicle_cannot_accommodate_warning : ""}= (itin[:occupancy] && itin[:occupancy][c_id].to_i || 0)
          %td= itin[:fare]
          %td= itin[:comments]
          %td
            - if TripResult::CANCEL_CODES_BUT_KEEP_RUN.include?(trip.trip_result.try(:code))
              %span.label.label-danger
                = trip.trip_result.name
            - else
              = trip.trip_result.try(:name)
          %td= simple_format(itin[:phone].join('<br>')) unless itin[:phone].empty?
          %td
            = form_for trip, url: trip_notify_driver_path(trip), remote: true, method: :patch, html: { class: 'change-trip-driver-notified' } do |f|
              = f.check_box :driver_notified, :onclick => "$(this).parents('form').submit()"
          %td
            = link_to trip_path(itin[:trip_id], from_dispatch: true, run_id: run_id), style: 'padding-right: 5px;', title: "View details" do 
              %i.fa.fa-external-link
            - if can?(:edit, Trip)
              = link_to edit_trip_path(itin[:trip_id], from_dispatch: true, run_id: run_id), style: 'padding-right: 5px;', title: 'Edit' do 
                %i.fa.fa-pencil

:javascript
  $(function() {
    $(document).on('change', 'tr.manifest-row input.trip-selected', function() {
      console.log('selection changed');
      var trip_id = $(this).parents('tr.manifest-row').data('trip-id');
      $('tr.manifest-row[data-trip-id="' + trip_id + '"] input.trip-selected').prop('checked', $(this).is(':checked'));
    });
  });