.panel.panel-primary#runs_panel
  .panel-heading
    .pull-right{style: 'padding-right: 0px;'}
      - if can?(:new, Run)
        %span.dispatch-action
          = link_to new_run_path(from_dispatch: true, date: @run_trip_day), title: translate_helper("new_run_link_text") do 
            %i.fa.fa-plus
      %span.panel-close-all-runs.dispatch-action{title: 'Close opened run panels'}
        %i.fa.fa-remove
      %span.panel-expand-collapse.dispatch-action{title: 'Collapse/expand'}
        %i.fa.fa-chevron-up
    %h3.panel-title
      = translate_helper(:runs_panel_header)
      %span.trips-stats
        - stats = []
        - stats << "#{@runs.recurring.count} recurring" if @runs.recurring.any?
        - stats << "#{@runs.daily.count} daily" if @runs.daily.any?
        - if stats.any?
          = "Total runs: #{stats.join(', ')}"
        - else
          = translate_helper(:empty_runs)
  .panel-body.vertical-resizable-panel
    = render 'runs_table'