%tr{data: {id: leave.try(:id)}}
  %td
    = leave.start_date.strftime('%a, %m/%d/%Y')
  %td
    = leave.end_date.strftime('%a, %m/%d/%Y')
  %td
    = leave.reason
  - if can?(:edit, leavable)
    %td
      .pull-right
        = link_to edit_planned_leave_path(leave, leavable_id: leavable.id, leavable_type: leavable.class.name), remote: true, title: 'Edit' do 
          %i.fa.fa-edit.fa-2x
        = link_to planned_leave_path(leave, leavable_id: leavable.id, leavable_type: leavable.class.name), remote: true, method: 'delete', data: { confirm: "Are you sure to delete it?" }, title: 'Delete' do 
          %i.fa.fa-remove.fa-2x{style: 'color: red;'}