:ruby
  if time
    hour = time.hour 
    is_pm = hour >= 12
  end

.form-inline.time-field{class: field_name}
  = f.hidden_field field_name, value: time.try(:to_s, :time_only), class: 'time_field_value'
  = text_field_tag :hour, time.try(:strftime, "%I"), placeholder: 'HH', size: 3, maxlength: 2, class: 'form-control time_field_hour'
  %b= ':'
  = text_field_tag :minute, time.try(:strftime, "%M"), placeholder: 'MM', size: 3, maxlength: 2, class: 'form-control time_field_minute'
  %button.form-control.am-pm{type: 'button', role: 'button', data: {is_pm: is_pm ? 'true' : 'false'}}
    = is_pm ? 'PM' : 'AM'