= render 'shared/highlight_active_tab_js', is_primary_nav: false, tab_class: 'admin'

%ul
  - if can? :manage, ApplicationSetting
    %li= link_to translate_helper("application_settings_link_text"), application_settings_path
  - if can? :manage, Provider
    %li= link_to translate_helper("providers_link_text"), providers_path
  - if can? :manage, DriverRequirementTemplate
    %li= link_to translate_helper("system_driver_requirement_templates_link_text"), driver_requirement_templates_path
  - if can? :manage, VehicleRequirementTemplate
    %li= link_to translate_helper("system_vehicle_requirement_templates_link_text"), vehicle_requirement_templates_path
  - if can? :manage, LookupTable
    %li= link_to translate_helper("lookup_tables_link_text"), lookup_tables_path
  - if can? :manage, Translation
    %li= link_to translate_helper("translation_engine_link_text"), translation_engine.translations_path
