.form-group
  .form-label
    = translate_helper(:ada_eligible)
  .form-field
    = f.select :ada_eligible, [[translate_helper(:eligible), true], [translate_helper(:not_eligible), false]], {include_blank: true}, {class: 'form-control customer-eligibility'}
.form-group.ineligible-reason{style: @customer.ada_eligible == false ? '' : 'display: none;'}
  .form-label
    = translate_helper(:ineligible_reason)
  .form-field
    = f.text_area :ada_ineligible_reason, class: 'form-control ineligible-reason-text'
  %fieldset.col-sm-10.pull-right.ada-questions{style: @customer.ada_eligible == true ? '' : 'display: none;'}
    - AdaQuestion.by_provider(current_provider_id).each do |question|
      = render 'ada_question_item', item: question