#addFundingAuthorizationNumberDialog.modal.fade.col-sm-12{:role => "dialog", "aria-hidden" => 'true', :tabindex => "-1"}
  .modal-dialog
    .modal-content
      = form_for FundingAuthorizationNumber.new, :url=>'#' do |f|
        .modal-header
          .pull-right
            = button_tag translate_helper(:ok), type: :submit, style: "margin-right: 5px;", class: "btn action-button"
            = button_tag class: 'btn action-button', data: {dismiss: 'modal'} do
              = translate_helper(:cancel)
          .modal-title{:style => "text-align:left;"}
            %strong
              = translate_helper(:add_funding_authorization_number_dialog_title)
        .modal-body.row{:style => "text-align:left;"}
          .form-group.col-sm-12
            .col-sm-3
              = f.label :number, translate_helper("funding_authorization_number_name")
            .col-sm-9  
              = f.text_field :number, class: 'form-control', maxlength: 20, required: true
          .form-group.col-sm-12
            .col-sm-3
              = f.label :funding_source, translate_helper("funding_source")
            .col-sm-9  
              = f.select :funding_source, FundingSource.all.pluck(:name,:id), {include_blank: true}, {class: 'form-control', required: true}
          .form-group.col-sm-12
            .col-sm-3
              = f.label :contact_info, translate_helper(:funding_authorization_number_contact_info) 
            .col-sm-9
              = f.text_area :contact_info, class: 'form-control'
