:css
  .error {
    color: red;
  }

- defined?(edit_mode) ? edit_mode : edit_mode = :edit 
#addAddressDialog.modal.fade.col-sm-12{:role => "dialog", "aria-hidden" => 'true', :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        .pull-right
          - if edit_mode == :show
            = button_tag class: 'btn action-button', data: {dismiss: 'modal'} do
              = translate_helper(:ok)
          - else 
            = button_tag translate_helper(:save), type: :submit, style: "margin-right: 5px;", class: "btn action-button", id: 'saveAddress'
            = button_tag class: 'btn action-button', data: {dismiss: 'modal'} do
              = translate_helper(:cancel)
        .modal-title{:style => "text-align:left;"}
          %strong
            = translate_helper(:customer_saved_address_dialog_title)
      .modal-body
        .address-form#customer-address-form
          = render 'addresses/validate_form', :prefix=>'customer', address: Address.new

= render 'new_address_js'

:javascript 
  $(document).ready(function() {
    if(#{edit_mode == :show}) {
      $(".address-form input").attr("disabled","disabled");
      $('.ui-dialog button').hide();
    }

    $('#addCustomerCommonAddress').click(function(e) {
      e.preventDefault();
      var form = $("#customer-address-form");
      $('#addAddressDialog').modal('show');
      $(".address-form input").removeAttr("disabled").removeAttr("readonly");
      form.find('form')[0].reset();
      form.find('input[type=hidden][name!=prefix]').val('');
      form.find('.error').html('');
      form.find('.full_address').show();
      form.find('.non_geocoding_address').hide();
    });

    $('#customerCommonAddressTable').on('click', '.deleteCustomerAddress', function(e) {
      e.preventDefault();

      $(this).parents('tr').remove();
    });

    $('#saveAddress').on('click', function() {
      $("#customer-address-form form").trigger('submit');
    });

    $('#customerCommonAddressTable').on('click', '.viewAddress', function(e) {
      e.preventDefault();

      $('#addAddressDialog').modal('show');
      var form = $("#customer-address-form");

      if(#{edit_mode == :edit}) {
        form.find('form')[0].reset();
        form.find('input[type=hidden][name!=prefix]').val('');
        form.find('.error').html('');
        $(".address-form input.address_search").attr("disabled","disabled");
        $(".address-form input.address_non_street_mailing_address").attr("disabled","disabled");
        $(".address-form .non_geocoding_address input").attr("readonly","readonly");
      }
      address_obj = $(this).parents('tr').data('address');
      if(address_obj && address_obj.the_geom) {
        $('.address_non_street_mailing_address').prop('checked',false);
      } else {
        $('.address_non_street_mailing_address').prop('checked',true);
      }
      $('.address_non_street_mailing_address').change();
      populate_address_form( 'customer', address_obj);
    });
  });