- edit_mode = :edit if !defined? edit_mode
- is_editing = edit_mode == :edit || edit_mode == :new

.panel.panel-primary#customer_common_addresses_panel
  .panel-heading
    %h3.panel-title
      = translate_helper(:customer_addresses_panel)
  .panel-body{style: 'padding: 5px;'}
    %table.table.table-striped.table-bordered#customerCommonAddressTable{style: 'max-height: 300px; overflow-y: auto;'}
      %thead
        %tr
          - if is_editing
            %th{width: 50}
          %th
            = translate_helper(:address_code)
          %th
            = translate_helper(:address)
          %th
            = translate_helper(:is_mailing_address)
      %tbody
        - @customer.addresses.each do |address|
          %tr{data: {"address-id": address.id.to_s, "address-text": address.address_text, address: address.attributes.merge({label: address.address_text}).to_json}}
            - if is_editing
              %td
                = button_tag :type => 'button', class: 'deleteCustomerAddress btn-danger' do 
                  = translate_helper(:delete)
            %td.address_name
              = address.name
              = link_to " (" + (is_editing ? 'Edit Details' : 'View Details') + ")", '#', class: 'viewAddress'
            %td.address_text
              = address.address_text
            %td
              = radio_button_tag(:mailing, address.id, address == @customer.address)
    - if is_editing
      .pull-right
        %button.btn.action-button#addCustomerCommonAddress
          = translate_helper(:add)


    