
<table class="customer-list table table-striped table-bordered" >
  <thead>
    <tr>
      <th></th>
      <th><%=translate_helper("name")%></th>
      <th><%=translate_helper("phone")%></th>
      <th><%=translate_helper("alternate_phone")%></th>
      <th><%=translate_helper("email")%></th>
      <th><%=translate_helper("customer_active")%></th>
    </tr>
  </thead>

  <tbody>
  <% @customers.each do |customer| %>
    <tr>
      <td class="plurality"><%= link_to customer.group ? content_tag(:span, "Group", :class=>'group') : content_tag(:span, "Individual", :class=>'individual'), customer %></td>
      <td><%= link_to customer.name, customer %></td>
      <td><%= format_phone_number(customer.phone_number_1) %></td>
      <td><%= format_phone_number(customer.phone_number_2) %></td>
      <td><%= customer.email %></td>
      <td><%= customer.active_status_text %></td>
    </tr>
    <% end %>
  </tbody>
</table>
