
<table class="customer-list">
  <thead>
    <tr>
      <th></th>
      <th><%=translate_helper("name")%></th>
      <th><%=translate_helper("phone")%></th>
      <th><%=translate_helper("alternate_phone")%></th>
      <th><%=translate_helper("email")%></th>
      <th><%=translate_helper("activated_date")%></th>
      <% if show_inactivated_date %>
        <th><%=translate_helper("inactivated_date")%></th>
      <% end %>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @customers.each do |customer| %>
    <tr>
      <td class="plurality"><%= link_to customer.group ? content_tag(:span, "Group", :class=>'group') : content_tag(:span, "Individual", :class=>'individual'), customer %></td>
      <td><%= link_to customer.name, customer %></td>
      <td><%= customer.phone_number_1 %></td>
      <td><%= customer.phone_number_2 %></td>
      <td><%= customer.email %></td>
      <td><%= customer.activated_date %></td>
      <% if show_inactivated_date %>
      <td><%= customer.inactivated_date %></td>
      <% end %>
      <td><%= link_to translate_helper("new_trip"), new_trip_path(:customer_id=>customer.id), :class=>'new-trip' %></td>
      <td><%= link_to translate_helper("edit"), edit_customer_path(customer), :class=>'edit' %></td>
      <td><% if can_delete? customer %><%= link_to translate_helper("delete"), customer, :confirm => translate_helper("confirm"), :method => :delete, :class=>'delete' %><% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>
