- edit_mode = :edit if !defined? edit_mode

.panel.panel-primary#customer_details_panel
  .panel-heading
    %h3.panel-title
      = translate_helper(:customer_details_panel)
  .panel-body{style: 'padding: 5px;'}
    - if @dup 
      .form-group
        .form-label
          = f.label :ignore_dups, translate_helper(:ignore_duplicates) 
        .form-field
          = check_box_tag :ignore_dups 
    - if edit_mode == :show
      .form-group
        .form-label
          = f.label :id, translate_helper(:customer_id_label) 
        .form-field
          = @customer.id
      .form-group
        .form-label
          = f.label :token, translate_helper(:customer_token_label) 
        .form-field
          = @customer.token
    .form-group
      .form-label
        = f.label :photo, translate_helper(:customer_form_photo) 
      .form-field
        - if @customer.photo.present? && !@customer.photo.new_record?
          = image_tag @customer.photo.image.url(:thumb)
        - unless edit_mode == :show
          = f.fields_for :photo do |image_upload| 
            = image_upload.file_field :image, class: "form-control"  
    .form-group.firstname
      .form-label
        = f.label :first_name, translate_helper(:first_name) 
      .form-field
        = f.text_field :first_name, class: 'form-control'
    .form-group.middlename
      .form-label
        = f.label :middle_initial, translate_helper(:middle_initial) 
      .form-field
        = f.text_field :middle_initial, class: 'form-control'
    .form-group.lastname
      .form-label
        = f.label :last_name, translate_helper(:last_name) 
      .form-field
        = f.text_field :last_name, class: 'form-control'
    .form-group
      .form-label
        = f.label :gender, translate_helper(:gender) 
      .form-field
        = f.collection_select :gender, [[:male, translate_helper(:male)], [:female, translate_helper(:female)], [:other, translate_helper(:other_gender)]], :first, :last, {include_blank: true}, {class: 'form-control'}
    .form-group
      .form-label
        = f.label :phone_number_1, translate_helper(:phone_number) 
      .form-field
        - if edit_mode == :show
          = format_phone_number(@customer.phone_number_1)
        - else
          = f.text_field :phone_number_1, class: 'form-control'
    .form-group
      .form-label
        = f.label :phone_number_2, translate_helper(:alternate_phone_number) 
      .form-field
        - if edit_mode == :show
          = format_phone_number(@customer.phone_number_2)
        - else
          = f.text_field :phone_number_2, class: 'form-control'
    .form-group
      .form-label
        = f.label :email, translate_helper(:email) 
      .form-field
        = f.text_field :email, class: 'form-control'
    .form-group.birth_date
      .form-label
        = f.label :birth_date, translate_helper(:date_of_birth) 
      .form-field
        - date_order_parameters = translate_helper("date_order_parameter").split(",").collect do |param| param.to_sym end 
        = f.date_select :birth_date, :start_year => 1896, :use_short_month => true, :include_blank => true, order: date_order_parameters rescue nil
    .form-group
      .form-label
        = f.label :is_elderly, translate_helper(:is_elderly) 
      .form-field
        = f.check_box :is_elderly
    .form-group.ethnicity
      .form-label
        = f.label :ethnicity, translate_helper(:ethnicity) 
      .form-field
        = f.select :ethnicity, @ethnicity_names, {include_blank: true}, {class: 'form-control'}
    .form-group
      .form-label
        = f.label :default_service_level, translate_helper(:default_service_level) 
      .form-field
        = f.select :service_level_id, @service_levels, {:include_blank => true}, {class: 'form-control'}

    .form-group
      .form-label
        = f.label :default_funding_source_id, translate_helper(:default_funding_source) 
      .form-field
        = f.collection_select :default_funding_source_id, @funding_sources, :id, :name, {:include_blank => true }, { class: 'form-control' }
    - if is_admin_or_system_admin?
      .form-group
        .form-label
          = f.label :emergency_contact_notes, translate_helper(:emergency_contact_notes) 
        .form-field
          = f.text_area :emergency_contact_notes, class: 'form-control'
    .form-group
      .form-label
        = f.label :private_notes, translate_helper(:private_notes) 
      .form-field
        = f.text_area :private_notes, class: 'form-control'
    .form-group
      .form-label
        = f.label :public_notes, translate_helper(:public_notes) 
      .form-field
        = f.text_area :public_notes, class: 'form-control'
    - if !@customer.active?
      .form-group
        .form-label
          = f.label :inactivated_reason, translate_helper(:inactivated_reason) 
        .form-field
          = f.text_field :inactivated_reason, class: 'form-control'
