.panel.panel-primary#eta_settings_panel
  .panel-heading
    %h3.panel-title
      = translate_helper(:eta_related_settings)
  .panel-body{style: 'padding: 5px;'}
    .form-group
      .form-label
        = f.label :passenger_load_min, translate_helper("passenger_load_min")
      .form-field
        = f.number_field  :passenger_load_min, min: 0, required: true, size: 3, class: 'form-control'
    .form-group
      .form-label
        = f.label :passenger_unload_min, translate_helper("passenger_unload_min")
      .form-field
        = f.number_field :passenger_unload_min, min: 0, required: true, size: 3, class: 'form-control'

    
