<%= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: 'customers' %>
<% edit_mode = :edit if !defined? edit_mode%>
<% is_group = false if !defined? is_group %>

<% if @trips.present? && can?(:destroy, @customer) %>
  <div id="confirm-destroy" style="display:none;">
    <%= form_for @customer, :html => { :method => "delete" } do |form| %>
      <fieldset>
        <legend><% translate_helper("reassociate_customer_trips") %></legend>
        <ol class="section">
          <li>
          <%= label_tag translate_helper("customer_name") %>
          <%= autocomplete_field_tag 'customer_name', '', autocomplete_customers_path, :size => 30, :delay => 500, :id_element => "#customer_id", "submit-buttons" => "#show_details #new_trip" %>
          <%= hidden_field_tag 'customer_id' %>
          </li>
        </ol>
      </fieldset>
    <% end %>
  </div>
  
<% end %>

<%= simple_form_for @customer, html: { class: 'customer_form', id: 'customerForm' } do |f| %>
  <%= hidden_field_tag 'addresses' %>
  <%= hidden_field_tag 'mailing_address_index' %>
  <%= hidden_field_tag 'donations' %>
  <%= hidden_field_tag 'travel_trainings' %>
  <%= hidden_field_tag 'funding_authorization_numbers' %>
  <%= f.hidden_field :group, value: is_group %>
  <%= render 'form_header', edit_mode: edit_mode, f: f %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= translate_helper("customer_form_error_message", count: @customer.errors.count)%></h2>
      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm-12 col-md-6">
    <%= render 'details_panel', f: f, edit_mode: edit_mode %>
    <%= render 'travel_trainings_panel', f:f, edit_mode: edit_mode %>
    <%= render 'funding_authorization_numbers_panel', f:f, edit_mode: edit_mode %>
  </div>

  <div class="col-sm-12 col-md-6">
    <%= render 'common_addresses_panel', edit_mode: edit_mode %>
    <%= render 'eligibility_panel', f: f, edit_mode: edit_mode %>
    <%= render 'providers_panel', f: f, edit_mode: edit_mode %>
    <%= render 'donations_panel', f: f, edit_mode: edit_mode  %>
    <%= render 'comments_panel', f: f, edit_mode: edit_mode %>
    <%= render 'others_panel', f: f, edit_mode: edit_mode %>
    <% if edit_mode == :show %>
      <% logs = TrackerActionLog.for(@customer).order(created_at: :desc) %>
      <%= render 'shared/action_log_panel', logs: logs if logs.any? %>
    <% end %>
  </div>
<% end %>

<%= render 'add_donation_dialog' if edit_mode == :edit || edit_mode == :new %>
<%= render 'add_address_dialog', edit_mode: edit_mode %>
<%= render 'add_travel_training_dialog' if edit_mode == :edit || edit_mode == :new %>
<%= render 'add_funding_authorization_number_dialog' if edit_mode == :edit || edit_mode == :new %>
<%= render 'shared/hide_invisible_form_fields_js', model_name: "customer", table_name: 'customers', provider_id:  current_provider.try(:id) %>
<script>
// hide middle/last names for group customer
  var updateGroupField = function() {
    if ( <%= is_group %> ){
      $('.middlename, .lastname, .ethnicity, .birth_date').hide();
      $('.firstname label').html("<%=translate_helper(:group_name)%>:");
    } else {
      $('.middlename, .lastname, .ethnicity, .birth_date').show();
      $('.firstname label').html("<%=translate_helper(:first_name)%>:");
    }
  };
  updateGroupField();
  $('input#customer_group').click(updateGroupField);

  $('#customerForm').submit(function() {
    if($('#customerCommonAddressTable tbody tr').length == 0) {
      show_alert("<%= translate_helper(:must_have_one_address)%>");
      return false;
    }

    var mailingAddressIndex = 0;

    // serializing addresses
    var rowIndex = -1;
    var addresses = [];
    $('#customerCommonAddressTable tbody tr').each(function() {
      rowIndex ++;

      if($(this).find('input[name=mailing]').prop('checked')) {
        mailingAddressIndex = rowIndex;
      }

      addresses.push($(this).data('address'));
    });

    $('#customerForm input[name=mailing_address_index]').val(mailingAddressIndex);
    $('#customerForm input[name=addresses]').val(JSON.stringify(addresses));


    // serializing donations
    var donations = [];
    $('#customerDonationsTable tbody tr').each(function() {
      donations.push($(this).data('donation'));
    });

    $('#customerForm input[name=donations]').val(JSON.stringify(donations));
    
    
    // serializing travel trainings
    var travelTrainings = [];
    $('#customerTravelTrainingsTable tbody tr').each(function() {
      travelTrainings.push($(this).data('travelTraining'));
    });

    $('#customerForm input[name=travel_trainings]').val(JSON.stringify(travelTrainings));

    // serializing funding numbers
    var fundingNumbers = [];
    $('#customerFundingAuthorizationNumbersTable tbody tr').each(function() {
      fundingNumbers.push($(this).data('fundingNumber'));
    });

    $('#customerForm input[name=funding_authorization_numbers]').val(JSON.stringify(fundingNumbers));
  });
</script>
