- edit_mode = :edit if !defined? edit_mode

.panel.panel-primary#customer_providers_panel
  .panel-heading
    %h3.panel-title
      = translate_helper(:customer_providers_panel)
  .panel-body
    - if edit_mode == :show || !can?(:update_authorized_providers, @customer)
      %ul
        - default_provider_name = @customer.provider.try(:name)
        - @customer.authorized_providers.pluck(:name).sort.each do |provider_name|
          - if provider_name == default_provider_name
            %li
              %b= provider_name
              = "(#{translate_helper('default')})"
          - else
            %li= provider_name
    - else
      = f.association :authorized_providers, collection: Provider.active.order("lower(name)"), as: :check_boxes, label: false, :item_wrapper_class => 'col-md-12', :label_html => { :class => 'col-md-12', :wrapper => false }

:javascript
  $(document).ready(function() {
    $("#customer_authorized_provider_ids_#{@customer.provider.try(:id)}").prop('checked', 'checked').prop('disabled', 'disabled').next('label').css('font-weight', 'bold');
  });
  