<div id="page-header">
  <h1><%= translate_helper("editing_customer", customer_name: @customer.name) %></h1>
</div>

<%= link_to translate_helper("cancel"), @customer, :class=>'cancel'  %>

<%= form_for @customer, :url=>customer_inactivate_path(@customer), :html=>{:method=>:post} do |f| %>

  <p class="activation-dates">
    <% if @customer.inactivated_date %>

      <% if @customer.activated_date %>
        <strong><%= translate_helper("activated_date")%></strong><% @customer.activated_date %>
      <% end %>

      <span class="separator">|</span>

      <strong><%=translate_helper("inactivated_date")%></strong> <%= @customer.inactivated_date %>

    <% else %>

      <% if @customer.activated_date %>
        <strong>translate_helper("activated_date")</strong> <%= @customer.activated_date %>
      <% end %>

      <span class="separator">|</span>

      <%= f.label :inactivated_reason, translate_helper("inactivation_reason") %>
      <%= f.text_field :inactivated_reason %>
      <%= f.submit translate_helper("inactivate") %>

    <% end %>
  </p>

<% end %>

<%= render 'form' %>

<hr />

<%= link_to translate_helper("back"), customers_path, :class=>'action-bttn' %>
