= form_for @query, :url=>url_for(:action=>:cancellations_report), :html=>{:method=>:get} do |f| 
  %fieldset
    = f.date_select  :start_date, :order => [:month,:day,:year] rescue nil
    = translate_helper("through") 
    = f.date_select  :before_end_date, :order => [:month,:day,:year] rescue nil
    = f.label :customer_id, "#{translate_helper(:customer)}:"
    = f.collection_select :customer_id, @active_customers, :id, :name, {include_blank: 'All'}

    = render 'reports/forms/v2_reports/common_controls', has_multiple_report_types: true, f: f