= form_for @query, :url=>url_for(:action=>:customers_report), :html=>{:method=>:get} do |f| 
  %fieldset
    = f.label :mobility_id, "#{translate_helper(:mobility)}:"
    = f.collection_select :mobility_id, @mobilities, :id, :name, {include_blank: 'All'}

    = render 'reports/forms/v2_reports/common_controls', has_multiple_report_types: true, f: f