<h2 class="section-header">Driver Manifests</h2>

<%= form_for @driver_query, :url=>url_for(:action=>:daily_manifest), :html=>{:method=>:get} do |f| %>
  <fieldset>
    <h3><%= translate_helper("daily_manifest_label") %> </h3>
    <%= f.date_select  :start_date %>
    <%= f.collection_select :driver_id, @drivers_with_cab, :id, :name %>
    <%= f.submit translate_helper("show") %>
  </fieldset>
<% end %>