:ruby
  action_name = @saved_report ? :show_saved_report : @custom_report.name
  
= form_for @query, :url=>url_for(:action=>action_name), :html=>{:method=>:get} do |f| 
  %fieldset
    %label
      = "#{translate_helper(:report_format)}:"
      = f.select :report_format, options_for_select([['HTML', 'html'],['CSV', 'csv'],['PDF', 'pdf']], @query.report_format || 'html')

    %label
      = "#{translate_helper(:report_type)}:"
      = f.select :report_type, options_for_select([['Permanent Inactive Drivers Report', 'perm_inacitve'],['Temporary Inactive Drivers Report', 'detail']], @query.report_type || 'temp_inactive')

    = f.submit translate_helper("run"), class: 'btn action-button'
    = render 'reports/forms/save_report_controls', custom_report_id: @custom_report.id