<%= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: @parent.class.name.to_s.downcase.pluralize %>

<div id="page-header" class="row">
  <h1 class="page-title"><%= translate_helper("document_form_edit_heading") %></h1>
  <div class="action-buttons">
    <% if can? :manage, @document %>
      <button class="btn action-button" id="document_form_submit">
        <%= translate_helper("save") %>
      </button>
      <%= link_to translate_helper("cancel"), @parent, class: "btn action-button" %>
    <% end %>
  </div>
</div>

<%= render partial: "form" %>

<%= javascript_tag do %>
  $(document).ready(function(){
    $("form.edit_document .form-actions").hide();
    
    $("#document_form_submit").on("click", function(){
      $("form.edit_document").submit();
    });
  });
<% end %>