<div id="page-header" class="clearfix">
  <h1><%= translate_helper("edit_multi_cab_heading", formatted_week: (@week_start.strftime "%m-%d-%Y")) %></h1>
</div>

<%= form_tag update_multiple_cab_trips_path, :method => :put do %>
  <table id="cab_trips">
    <tr class="head">
      <th><%= translate_helper("pickup_time")%></th>
      <th><%= translate_helper("customer_name")%></th>
      <th><%= translate_helper("in_district")%></th>
      <th><%= translate_helper("trip_purpose")%></th>
      <th><%= translate_helper("round_trip")%></th>
      <th><%= translate_helper("guest_count")%></th>
      <th><%= translate_helper("attendant_count")%></th>
      <th><%= translate_helper("result")%></th>
      <th><%= translate_helper("trips_reimbursement_cost")%></th>
      <th></th>
    </tr>
    <% if @cab_trips.size > 0 %>
      <% @cab_trips.each do |trip| %>
        <%= fields_for 'cab_trips[]', trip do |trip_fields| %>
          <%= render :partial => 'trips/trip_form', :locals => {:trip_fields => trip_fields, :trip => trip, :show_edit_run_link => false} %>
        <% end %>
      <% end %>
    <% else %>
      <tr><td colspan="9"><%=translate_helper("no_cab_trips_on_this_date")%></td></th>
    <% end %>
  </table>
  <div class="actions">
    <%= submit_tag translate_helper("update") %>
  </div>
<% end %>