<div id="page-header">
  <h1><%=translate_helper("listing_cab_runs")%></h1>
</div>

<div class="wc-nav ui-buttonset" data-current-week-start="<%= @week_start.to_i * 1000 %>" data-start-time="<%= @week_start.to_i * 1000 %>">
  <button class="wc-prev ui-button ui-widget ui-state-default ui-button-text-icon-primary ui-button-icon-only ui-corner-left" role="button" aria-disabled="false" title="previous">
    <span class="ui-button-icon-primary ui-icon ui-icon-seek-prev"></span>
    <span class="ui-button-text"><%=translate_helper("previous")%></span>
  </button>
  <button class="wc-today ui-button ui-widget ui-state-default ui-button-text-icon-primary" role="button" aria-disabled="false">
    <span class="ui-button-icon-primary ui-icon ui-icon-home"></span>
    <span class="ui-button-text"><%=translate_helper("this_week")%></span>
  </button>
  <button class="wc-next ui-button ui-widget ui-state-default ui-button-text-icon-primary ui-button-icon-only ui-corner-right" role="button" aria-disabled="false" title="next">
    <span class="ui-button-icon-primary ui-icon ui-icon-seek-next"></span>
    <span class="ui-button-text"><%=translate_helper("next")%></span>
  </button>
</div>

<h2>
  Cab runs between 
  <span id="start_date">
    <%= @week_start.strftime "%m-%d-%Y" %>
  </span> and 
  <span id="end_date">
    <%= @week_end.strftime "%m-%d-%Y" %>
  </span>
</h2>

<table id="cab_trips">
  <tr class="head">
    <th><%=translate_helper("date")%></th>
    <th></th>
  </tr>
  <%= render "grouped_cab_trips" %>
</table>