- # common
= render 'reports/common_csv_header.csv.haml'

- if @is_perm_inactive_report
  = render "reports/#{@custom_report.name}/perm_inactive.csv.haml"
- else
  = render "reports/#{@custom_report.name}/temp_inactive.csv.haml"
  

  