<div id="page-header" class="clearfix">
  <h1><%= translate_helper("show_ethnicity_heading") %></h1>
</div>

<p class="profile-actions selfclear">
  <% if can? :edit, @provider_ethnicity %>
  <%= link_to translate_helper("edit_ethnicity_link_text"), edit_provider_ethnicity_path(@provider_ethnicity), :class=>'edit edit-provider-ethnicity' %>
  <% end %>
</p>

<div class="provider-ethnicity-profile selfclear">

<dl>
  <dt><%= translate_helper("edit_ethnicity_provider_label") %></dt>
  <dd><%= @provider_ethnicity.provider_id %></dd>

  <dt><%= translate_helper("edit_ethnicity_name_label") %></dt>
  <dd><%= @provider_ethnicity.name %></dd>
</dl>

<% if current_user && can?(:edit, Provider) %>
<hr />
<%= link_to translate_helper("back"), provider_path(current_user.current_provider), :class=>'action-bttn' %>
<% end %>
