- # common
= render 'reports/common_csv_header.csv.haml'

- if @vehicles
  - compliance_headers = [translate_helper("vehicle_compliance_form_due_date"), translate_helper("vehicle_compliance_form_event"), translate_helper("vehicle_compliance_form_compliance_date")]
  - repair_headers = [translate_helper("service_date"), translate_helper("invoice_date"), translate_helper("odometer"), translate_helper("vendor_name"), translate_helper("invoice_amount"), translate_helper("services_performed")]
  - maintenance_headers = [translate_helper("vehicle_maintenance_compliance_form_due_string"), translate_helper("vehicle_maintenance_compliance_form_event"), translate_helper("vehicle_maintenance_compliance_form_compliance_date"), translate_helper("vehicle_maintenance_compliance_form_compliance_mileage")]
  - warranty_headers = [translate_helper("vehicle_warranty_form_expiration_date"), translate_helper("vehicle_warranty_form_description")]
  - @vehicles.each do |vehicle|
    = CSV.generate_line([""], {:row_sep => nil}).html_safe
    = CSV.generate_line(["Vehicle Name", vehicle.name, !vehicle.active_for_date?(Date.today) ? vehicle.active_status_text : ""], {:row_sep => nil}).html_safe
    = CSV.generate_line([translate_helper(:vehicle_form_license_plate_label), vehicle.license_plate], {:row_sep => nil}).html_safe
    = CSV.generate_line([translate_helper(:vehicle_form_model_label), vehicle.model], {:row_sep => nil}).html_safe
    = CSV.generate_line([translate_helper(:vehicle_form_last_odometer_reading), vehicle.last_odometer_reading], {:row_sep => nil}).html_safe
    - unless @is_summary_report
      - total_mileage = "#{number_with_delimiter(vehicle.last_odometer_reading - vehicle.initial_mileage)} mi." if vehicle.last_odometer_reading && vehicle.initial_mileage
      = CSV.generate_line([translate_helper(:total_mileage), total_mileage || ""], {:row_sep => nil}).html_safe


    = CSV.generate_line([""], {:row_sep => nil}).html_safe
    - legal_compliances = @legal_compliances[vehicle.id]
    = CSV.generate_line([translate_helper("legal_vehicle_compliances_heading") ], {:row_sep => nil}).html_safe
    = CSV.generate_line(compliance_headers, {:row_sep => nil}).html_safe
    - unless legal_compliances.blank?
      - legal_compliances.each do |c|
        = CSV.generate_line([format_date(c.due_date), c.event, format_date(c.compliance_date)], {:row_sep => nil}).html_safe  
    - else
      = CSV.generate_line(["No record"], {:row_sep => nil}).html_safe


    = CSV.generate_line([""], {:row_sep => nil}).html_safe
    - non_legal_compliances = @non_legal_compliances[vehicle.id]
    = CSV.generate_line([translate_helper("vehicle_compliances_heading") ], {:row_sep => nil}).html_safe
    = CSV.generate_line(compliance_headers, {:row_sep => nil}).html_safe
    - unless non_legal_compliances.blank?
      - non_legal_compliances.each do |c|
        = CSV.generate_line([format_date(c.due_date), c.event, format_date(c.compliance_date)], {:row_sep => nil}).html_safe  
    - else
      = CSV.generate_line(["No record"], {:row_sep => nil}).html_safe

    - unless @is_summary_report

      = CSV.generate_line([""], {:row_sep => nil}).html_safe
      - repair_events = @repair_events[vehicle.id]
      = CSV.generate_line([translate_helper("vehicle_maintenance_events_heading") ], {:row_sep => nil}).html_safe
      = CSV.generate_line(repair_headers, {:row_sep => nil}).html_safe
      - unless repair_events.blank?
        - repair_events.each do |c|
          = CSV.generate_line([format_date(c.service_date), format_date(c.invoice_date), c.odometer, c.vendor_name, number_to_currency(c.invoice_amount), c.services_performed], {:row_sep => nil}).html_safe  
      - else
        = CSV.generate_line(["No record"], {:row_sep => nil}).html_safe


      = CSV.generate_line([""], {:row_sep => nil}).html_safe
      - vehicle_maintenance_compliances = @vehicle_maintenance_compliances[vehicle.id]
      = CSV.generate_line([translate_helper("vehicle_maintenance_compliances_heading") ], {:row_sep => nil}).html_safe
      = CSV.generate_line(maintenance_headers, {:row_sep => nil}).html_safe
      - unless vehicle_maintenance_compliances.blank?
        - vehicle_maintenance_compliances.each do |c|
          = CSV.generate_line([due_string(c), c.event, format_date(c.compliance_date), c.compliance_mileage.blank? ? "" : number_with_delimiter(c.compliance_mileage)], {:row_sep => nil}).html_safe  
      - else
        = CSV.generate_line(["No record"], {:row_sep => nil}).html_safe


      = CSV.generate_line([""], {:row_sep => nil}).html_safe
      - vehicle_warranties = @vehicle_warranties[vehicle.id]
      = CSV.generate_line([translate_helper("vehicle_warranties_heading") ], {:row_sep => nil}).html_safe
      = CSV.generate_line(warranty_headers, {:row_sep => nil}).html_safe
      - unless vehicle_warranties.blank?
        - vehicle_warranties.each do |c|
          = CSV.generate_line([format_date(c.expiration_date), c.description], {:row_sep => nil}).html_safe  
      - else
        = CSV.generate_line(["No record"], {:row_sep => nil}).html_safe