<form id="refresh" class="">
  <div class="actions" style="border:0; z-index: 1000">
    <%= submit_tag translate_helper("dispatch_submit"), :onclick => "d.refresh(); return false;" -%>
  </div>
</form>

<div id="page-header" style="min-height: 35px">
  <h1><%= translate_helper("dispatcher_heading")%></h1>
  <form id="search" class="">
    <div class="actions" style="border:0;">
      <%= text_field_tag "address", nil, :title => translate_helper("locate_address") -%>
      <%= submit_tag translate_helper("search"), :onclick => "locate(); return false;" -%>
      <span>
        <small>[<a href="javascript:d.clearSearchMarkers()"><%= translate_helper("clear_all_markers")%></a>]</small>
      </span>
      <span id="search-message"></span>
      <span id="search-spinner"></span>
    </div>
  </form>
</div>
<div class="clearfix"></div>

<div class="column_wrapper">
  <div class="left_column ui-layout-west">
    <div id="tree"><%= translate_helper("loading") %></div> &nbsp;
  </div>

  <div id="map-container" class="ui-layout-center">&nbsp;</div>
</div>

<script type="text/javascript" charset="utf-8">
  if ( window.location.protocol == "https:" )
    document.write('<scr' + 'ipt type="text/javascript" src="https://maps-api-ssl.google.com/maps/api/js?v=3.12&sensor=false"></scr' + 'ipt>');
  else
    document.write('<scr' + 'ipt type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.12&sensor=false"></scr' + 'ipt>');
</script>

<%= javascript_include_tag "styledmarker.js" %>
<%= javascript_include_tag "jquery.jstree.js" %>
<%= javascript_include_tag "jquery.layout.js" %>
<%= javascript_include_tag "dispatcher.js" %>
<%= stylesheet_link_tag "jstree-apple/style.css" %>
<%= stylesheet_link_tag "jquery-layout-default.css" %>

<script type="text/javascript" charset="utf-8">
  function locate() {
    f = $("#address");
    if (f.val() == f.attr("title")) {
      return false;
    }
    d.locateAddress(f.val());
  }
  
  var myLayout
  
  $(document).ready(function() {
    myLayout = $('.column_wrapper').layout({ 
      applyDefaultStyles: false, 
      size: 300,
      minSize: 200
    });
    
    var bounds = null;
    var viewport = null;
    <% if current_user.current_provider.region_nw_corner &&
          current_user.current_provider.region_se_corner %>
    bounds = {
      north: <%= current_user.current_provider.region_nw_corner.y %>,
      west:  <%= current_user.current_provider.region_nw_corner.x %>,
      south: <%= current_user.current_provider.region_se_corner.y %>,
      east:  <%= current_user.current_provider.region_se_corner.x %>
    };
    <% end %>
    <% if current_user.current_provider.viewport_center &&
          current_user.current_provider.viewport_zoom %>
    viewport = {
      center_lat: <%= current_user.current_provider.viewport_center.y %>,
      center_lng: <%= current_user.current_provider.viewport_center.x %>,
      zoom:       <%= current_user.current_provider.viewport_zoom %>
    };
    <% end %>
    d = new Dispatcher("tree", "map-container", bounds, viewport);
    hinted_field($("#address"));
  });
</script>
