
      <li class="selfclear">
        <%= form.label :name, translate_helper("address_name") %>
        <%= form.text_field :name %>
      </li>

      <li class="selfclear">
        <%= form.label :building_name, translate_helper("building_name") %>
        <%= form.text_field :building_name %>
      </li>

      <li class="selfclear">
        <%= form.label :address, translate_helper("address") %>
        <%= form.text_field :address %>
      </li>

      <li class="selfclear">
        <%= form.label :city, translate_helper("city") %>
        <%= form.text_field :city %>
      </li>

      <li class="selfclear">
        <%= form.label :state, translate_helper("state") %>
        <%= form.text_field :state, :size=>2 %>
      </li>

      <li class="selfclear">
        <%= form.label :zip, translate_helper("zip") %>
        <%= form.text_field :zip %>
      </li>

      <li class="selfclear">
        <%= form.label :notes, translate_helper("address_notes") %>
        <%= form.text_area :notes %>
      </li>
      
      <%= form.hidden_field :provider_id %>

      <% if editing_address %>
      <li class="selfclear">
        <%= form.label :phone_number, translate_helper("phone_number") %>
        <%= form.text_field :phone_number %>
      </li>
      
      <li class="selfclear">
        <%= form.label :in_district, translate_helper("in_district") %>
        <%= form.select :in_district, [[translate_helper("unspecified"),nil], [translate_helper("yes"), true], [translate_helper("no"), false]] %>
      </li>
      
      <li class="selfclear">
        <%= form.label :default_trip_purpose, translate_helper("default_trip_purpose") %>
        <%= form.select :trip_purpose_id, TripPurpose.all.map { |tp| [tp.name, tp.id] }, :include_blank => true %>
      </li>
      
      <li class="selfclear">
        <%= form.label :inactive, translate_helper("inactive") %>
        <%= form.check_box :inactive %>
      </li>
      <% end %>
