
= address_form.hidden_field :provider_id
.form-group
  .form-label
    = address_form.label :name, translate_helper("address_name")
  .form-field
    = address_form.text_field :name, maxlength: 30, disabled: readonly
.form-group
  .form-label
    = label_tag :address, translate_helper("address")
  .form-field
    = address_form.text_field :address, disabled: readonly
.form-group
  .form-label
    = label_tag :city, translate_helper("city_state_zip")
  .form-field.row.no-gutters.city-state-zip
    .col-md-5
      = address_form.text_field :city, placeholder: 'City', disabled: readonly
    .col-md-2
      = address_form.text_field :state, size: 2, placeholder: 'UT', data: {convert: 'uppercase'}, disabled: readonly
    .col-md-5
      = address_form.text_field :zip, placeholder: 'Zip', disabled: readonly
.form-group
  .form-label
    = address_form.label :notes, translate_helper("address_notes")
  .form-field
    = address_form.text_area :notes, rows: 3, disabled: readonly
