<div id="page-header">
  <h1>translate_helper("editing_address")</h1>
</div>

<div class="profile-actions selfclear">
  <div class="manage">
    <%= delete_trippable_link(@address) %>
  </div>
</div>

<%= form_for @address do |form| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2>translate_helper("address_form_error_message", count: @address.errors.count)</h2>
      <h2><%= pluralize(@address.errors.count, "error") %> </h2>
      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
    <ol class="section first">
      <%= render 'form', :form => form, :editing_address => true %>
    </ol>
  </fieldset>
  
  <div class="actions">
    <%= form.submit translate_helper("submit") %>
  </div>
<% end %>

<% if @address.trips.present? && can?(:destroy, @address) %>
  <div id="confirm-destroy" style="display:none;">
    <%= form_for @address, :html => { :method => "delete" } do |form| %>
      <fieldset>
        <legend><%=translate_helper("reassociate_trips")%></legend>
        <ol class="section">
          <li>
          <%= label_tag translate_helper("address_search") %>
          <%= autocomplete_field_tag 'address_term', '', autocomplete_addresses_path, :size => 30, :id_element => "#address_id" %>
          <%= hidden_field_tag 'address_id' %>
          </li>
        </ol>
      </fieldset>
    <% end %>
  </div>
<% end %>