<%= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: 'admin' %>

<div id="page-header" class="row">
  <div class="col-sm-12 col-md-6">
    <h1><%= translate_helper("recurring_driver_compliances_index_heading") %></h1>
  </div>
  <div class="col-sm-12 col-md-6">
    <% if can? :manage, @driver %>
      <div class="pull-right">
        <%= link_to translate_helper("new_recurring_driver_compliance_link_text"), new_recurring_driver_compliance_path, class: "btn btn-default btn-sm" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <table class="table table-striped table-bordered" id="documents-table">
      <thead>
        <tr>
          <th class="col-md-5"><%= translate_helper("recurring_driver_compliance_form_event_name") %></th>
          <th class="col-md-2"><%= translate_helper("recurring_driver_compliance_form_start_date") %></th>
          <th class="col-md-2"><%= translate_helper("recurring_driver_compliance_recurrence_schedule_heading") %></th>
          <th class="col-md-3"><%= translate_helper("recurring_driver_compliance_compliance_date_based_scheduling_heading") %></th>
        </tr>
      </thead>
      <tbody>
        <% if @recurring_driver_compliances.empty? %>
          <tr>
            <td colspan="4"><%= translate_helper("recurring_driver_compliances_empty") %></td>
          </tr>
        <% end %>
        <%= render partial: 'recurring_driver_compliance', collection: @recurring_driver_compliances %>
      </tbody>
    </table>
  </div>
</div>