- # common
= render 'reports/common_csv_header.csv.haml'

- if @report_data.empty?
  = CSV.generate_line(["No record found"], {:row_sep => nil}).html_safe
- else
  = CSV.generate_line(["Below is the list of failed inspections:"], {:row_sep => nil}).html_safe
  - @report_data.each do |vehicle_id, vehicle_data|
    = CSV.generate_line([""], {:row_sep => nil}).html_safe
    = CSV.generate_line(["Vehicle: #{@vehicle_names[vehicle_id]}"], {:row_sep => nil}).html_safe
    - vehicle_data.each do |run_id, inspections|
      - run_data = @run_data[run_id]
      = CSV.generate_line(["#{run_data[0]}, #{format_date(run_data[1])}"], {:row_sep => nil}).html_safe
      
      - inspections.each do |insp|
        = CSV.generate_line(["", insp], {:row_sep => nil}).html_safe
      - driver_notes = run_data[2]
      - if driver_notes
        = CSV.generate_line(["Driver notes", driver_notes], {:row_sep => nil}).html_safe

