- url = is_provider_only ? add_value_provider_lookup_table_path(table) : add_value_lookup_table_path(table)
= button_tag :type => 'button', id: 'addLookupTableValue', "data-target" => "#addLookupTableValueDialog", "data-toggle" => "modal", :class => "btn action-button" do
  = translate_helper(:add)
#addLookupTableValueDialog.modal.fade.col-sm-12{"aria-describedby" => translate_helper(:add_value), :role => "dialog", "aria-hidden" => 'true', :tabindex => "-1"}
  .modal-dialog
    .modal-content
      = form_for :lookup_table, url: url, method: :post do |f|
        .modal-header
          = button_tag class: 'btn action-button pull-right', data: {dismiss: 'modal'} do
            = translate_helper(:cancel)
          = button_tag translate_helper(:ok), type: :submit, style: "margin-right: 5px;", class: "btn action-button pull-right"
          .modal-title{:style => "text-align:left;"}
            %strong
              = translate_helper(:site_title)
        .modal-body.row{:style => "text-align:left;"}
          .col-sm-12.lookup_table_value
            = f.label "lookup_table[value]", translate_helper("add_lookup_table_value")
            = text_field_tag "lookup_table[value]", nil, class: 'form-control'
          .col-sm-12.lookup_table_code{style: 'display: none;'}
            = f.label "lookup_table[code]", translate_helper("add_lookup_table_code")
            = text_field_tag "lookup_table[code]", nil, class: 'form-control'
          .col-sm-12.lookup_table_description{style: 'display: none;'}
            = f.label "lookup_table[description]", translate_helper("add_lookup_table_description")
            = text_area_tag "lookup_table[description]", nil, class: 'form-control'
:javascript
  $(document).ready(function() {
    $('#addLookupTableValueDialog').on('show.bs.modal', function (e) {

      var form = $(this).find('form');
      var currentTable = $('#lookupTableList option:selected');

      if(!currentTable.data('code-column')) {
        form.find('.lookup_table_code').hide();
      } else {
        form.find('.lookup_table_code').show();
      }

      if(!currentTable.data('description-column')) {
        form.find('.lookup_table_description').hide();
      } else {
        form.find('.lookup_table_description').show();
      }

      
    });
  });

