- url = is_provider_only ? destroy_value_provider_lookup_table_path(table) : destroy_value_lookup_table_path(table)

= button_tag :type => 'button', id: 'deleteLookupTableValue', "data-target" => "#deleteLookupTableValueDialog", "data-toggle" => "modal", disabled: 'disabled', :class => "btn btn-danger action-button" do
  = translate_helper(:delete)

- confirm_delete_message = translate_helper(:confirm_delete_message)
#deleteLookupTableValueDialog.modal.fade.col-sm-12{"aria-describedby" => translate_helper(:delete_value), :role => "dialog", "aria-hidden" => 'true', :tabindex => "-1"}
  .modal-dialog
    .modal-content
      = form_for table, url: url, method: :put do |f|
        .modal-header
          = button_tag class: 'btn action-button pull-right', data: {dismiss: 'modal'} do
            = translate_helper(:cancel)
          = button_tag translate_helper(:ok), type: :submit, style: "margin-right: 5px;", class: "btn action-button pull-right"
          .modal-title{:style => "text-align:left;"}
            %strong
              = translate_helper(:site_title)
        .modal-body{:style => "text-align:left;"}
          = confirm_delete_message

:javascript
  $(document).ready(function() {
    var confirm_delete_message = "#{confirm_delete_message}";
    $('#deleteLookupTableValueDialog').on('show.bs.modal', function (e) {
      var form = $(this).find('form');
      var baseUrl = "#{url}";
      var currentValue = $('#lookupTable').DataTable().row($('#lookupTable .selected')).data();
      var newUrl = baseUrl + "?model_id=" + $('#lookupTable .selected').data('model-id');
      form.prop('action', newUrl);
      form.find('.modal-body').html(confirm_delete_message.replace('%{value}', "<b>" + (currentValue.length > 0 ? currentValue[0] : 'selected item') + "</b>"));
    });
  });