- table_id = table.try(:id)
%select.form-control.lookup-table-list#lookupTableList{onChange:"window.location.href=this.value"}
  - tables.each do |table|
    - url = is_provider_only ? provider_lookup_table_path(table) : lookup_table_path(table)
    - if table.id == table_id
      %option{value: "#{url}", "data-code-column": "#{table.code_column_name}", "data-description-column": "#{table.description_column_name}", selected: true}
        = table.caption
    - else
      %option{value: "#{url}", "data-code-column": "#{table.code_column_name}", "data-description-column": "#{table.description_column_name}"}
        = table.caption


  