= button_tag :type => 'button', id: 'showLookupTableValue', "data-target" => "#showLookupTableValueDialog", "data-toggle" => "modal", style: 'display: none;', :class => "btn btn-danger action-button" do
  = translate_helper(:show_value)

- confirm_show_value_message = translate_helper(:confirm_show_lookup_value_message)
#showLookupTableValueDialog.modal.fade.col-sm-12{"aria-describedby" => translate_helper(:show_value), :role => "dialog", "aria-hidden" => 'true', :tabindex => "-1"}
  .modal-dialog
    .modal-content
      = form_for table, url: show_value_lookup_table_path(table), method: :put do |f|
        .modal-header
          = button_tag class: 'btn action-button pull-right', data: {dismiss: 'modal'} do
            = translate_helper(:cancel)
          = button_tag translate_helper(:ok), type: :submit, style: "margin-right: 5px;", class: "btn action-button pull-right"
          .modal-title{:style => "text-align:left;"}
            %strong
              = translate_helper(:site_title)
        .modal-body{:style => "text-align:left;"}
          = confirm_show_value_message

:javascript
  $(document).ready(function() {
    var confirm_show_value_message = "#{confirm_show_value_message}";
    $('#showLookupTableValueDialog').on('show.bs.modal', function (e) {
      var form = $(this).find('form');
      var baseUrl = "#{show_value_lookup_table_path(table)}";
      var currentValue = $('#lookupTable').DataTable().row($('#lookupTable .selected')).data();
      var newUrl = baseUrl + "?model_id=" + $('#lookupTable .selected').data('model-id');
      form.prop('action', newUrl);
      form.find('.modal-body').html(confirm_show_value_message.replace('%{value}', currentValue));
    });
  });