- is_code_column_configured = table.code_column_name.present?
- is_description_column_configured = table.description_column_name.present?
.col-sm-12{style: 'padding: 10px 0px;'}
  - if current_user.super_admin?
    - if table.add_value_allowed
      = render partial: 'add_value_button', locals: {table: table, is_provider_only: false}
    - if table.edit_value_allowed
      = render partial: 'edit_value_button', locals: {table: table, is_provider_only: false}
    - if table.delete_value_allowed
      = render partial: 'delete_value_button', locals: {table: table, is_provider_only: false}
  = render partial: 'hide_value_button', locals: {table: table}
  = render partial: 'show_value_button', locals: {table: table}

%table.table.table-condensed.table-striped.table-bordered.table-hover#lookupTable
  %thead
    %th
      = table.value_column_name.titleize
    - if is_code_column_configured
      %th
        = table.code_column_name.titleize
    - if is_description_column_configured
      %th
        = table.description_column_name.titleize
    - if table.name == 'vehicle_inspections'
      %th Flagged?
      %th Mechanical?
    - if table.name == 'funding_sources'
      %th NTD Reportable?
  %tbody
    - hidden_ids = HiddenLookupTableValue.hidden_ids table.name, current_provider_id
    - table.values.each do |item|
      - row_class = hidden_ids.index(item.id) ? 'hidden-lookup-value' : ''
      %tr{data: {"model-id": item.id}, class: row_class}
        %td
          = item[table.value_column_name]
        - if is_code_column_configured
          %td
            = item[table.code_column_name]
        - if is_description_column_configured
          %td
            = item[table.description_column_name]
        - if table.name == 'vehicle_inspections'
          %td
            = form_for item, url: mark_flagged_vehicle_inspection_path(item), remote: true, method: :patch do |f|
              = f.check_box :flagged, :onclick => "$(this).parents('form').submit()"
          %td 
            = form_for item, url: mark_mechanical_vehicle_inspection_path(item), remote: true, method: :patch do |f|
              = f.check_box :mechanical, :onclick => "$(this).parents('form').submit()"
        - if table.name == 'funding_sources'
          %td
            = form_for item, url: mark_ntd_reportable_funding_source_path(item), remote: true, method: :patch do |f|
              = f.check_box :ntd_reportable, :onclick => "$(this).parents('form').submit()"

:javascript
  $(document).ready(function(){
    var enableEditingButtons = function() {
      $('#editLookupTableValue').removeAttr('disabled');
      $('#deleteLookupTableValue').removeAttr('disabled');
    };

    var disableEditingButtons = function() {
      $('#editLookupTableValue').prop('disabled', 'disabled');
      $('#deleteLookupTableValue').prop('disabled', 'disabled');
    };

    var hideVisibilityButtons = function() {
      $('#showLookupTableValue').hide();
      $('#hideLookupTableValue').hide();
    };

    var enableShowButton = function() {
      $('#showLookupTableValue').show();
      $('#hideLookupTableValue').hide();
    };

    var enableHideButton = function() {
      $('#hideLookupTableValue').show();
      $('#showLookupTableValue').hide();
    };

    var table = $('#lookupTable').dataTable();

    // select & deselect table row
    $('#lookupTable tbody').on( 'click', 'tr', function () {
      if ( $(this).hasClass('selected') ) {
        $(this).removeClass('selected');
        disableEditingButtons();
        hideVisibilityButtons();
      }
      else {
        table.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
        enableEditingButtons();

        if($(this).hasClass('hidden-lookup-value')) {
          enableShowButton();
        } else {
          enableHideButton();
        }
      }
    } );
    
  });