<%= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: 'runs' %>
<% edit_mode = :edit if !defined? edit_mode%>
<%= form_for @run, :html => (@remote ? {"data-remote" => true} : {} ) do |f| %>
  <%= render 'form_header', edit_mode: edit_mode, f: f %>
  <% if @run.errors.any? %>
    <div id="error_explanation">
      <h2><%= translate_helper("run_form_error_message", count: @run.errors.count)%></h2>

      <ul>
      <% @run.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-sm-12 col-md-6">
    <%= render 'date_time_panel', f: f, edit_mode: edit_mode %>
  </div>
  <div class="col-sm-12 col-md-6">
    <%= render 'vehicle_panel', f: f %>
    <%= render 'driver_panel', f: f %>
  </div>
  <div class="col-sm-12">
    <% if edit_mode != :new %>
      <%= render 'trip_list', f: f %>
    <% end %>
  </div>
  
<% end %>