%table
  %tr
    %th
    %th= translate_helper("run_name_column")
    %th= translate_helper("run_date_column")
    %th= translate_helper("run_start_time_column")
    %th= translate_helper("run_end_time_column") 
    %th= translate_helper("run_vehicle_column") 
    %th= translate_helper("run_driver_column") 
    %th= translate_helper("run_result_column") 
    %th= translate_helper("trips_reimbursement_cost") 

  - @runs.each do |run|
    = render "row", :run => run
