<tr>
  <td><% if can? :show, run %><%= link_to translate_helper("view"), run_path(run) %><% end %></td>
  <td><%= run.name %></td>
  <td><%= run.date.to_s(:long) %></td>
  <td><%= run.scheduled_start_time.try(:to_s,:time_only) %></td>
  <td><%= run.scheduled_end_time.try(:to_s,:time_only) %></td>
  <td><%= run.vehicle ? run.vehicle.name : translate_helper('no_vehicle') %></td>
  <td><%= run.driver  ? run.driver.name : translate_helper('no_driver') %></td>
  <td><%= run.complete ? translate_helper('complete') : translate_helper('incomplete') %></td>
  <td><%= reimbursement_cost_for_trips run.provider, run.trips %></td>
</tr>
