.panel.panel-primary#run_vehicle_panel
  .panel-heading
    %h3.panel-title
      = translate_helper(:vehicle)
  .panel-body{style: 'padding: 5px;'}
    .form-group
      .form-label
        = f.label :vehicle, translate_helper("vehicle") 
      .form-field
        = f.collection_select :vehicle_id, @vehicles, :id, :name, {include_blank: true}, {class: 'form-control'}

    - if !@is_repeating_run && edit_mode == :edit
      .form-group.use_vehicle_garage{style: 'display: none;'}
        .form-label
          = label_tag :use_vehicle_garage, translate_helper(:use_vehicle_garage) 
        .form-field
          = check_box_tag :use_vehicle_garage, true

- unless @is_repeating_run
  :javascript
    $(function() {
      var prev_vehicle_id = $('#run_vehicle_id').val();
      $('#run_vehicle_id').change(function() {
        var new_vehicle_id = $(this).val();
        if(!new_vehicle_id || new_vehicle_id == prev_vehicle_id) {
          $('.use_vehicle_garage').hide();
          $('#use_vehicle_garage').prop("checked", false);
        } else {
          $('.use_vehicle_garage').show();
        }
      });
    });