<%= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: 'runs' %>
<div id="page-header">
  <h1><%= translate_helper("run_index_heading") %></h1>
</div>

<div class="wc-nav ui-buttonset" data-current-week-start="<%= @week_start.to_i * 1000 %>" data-start-time="<%= @week_start.to_i * 1000 %>">
  <button class="wc-prev ui-button ui-widget ui-state-default ui-button-text-icon-primary ui-button-icon-only ui-corner-left" role="button" aria-disabled="false" title="previous">
    <span class="ui-button-icon-primary ui-icon ui-icon-seek-prev"></span>
    <span class="ui-button-text"><%= translate_helper("previous") %></span>
  </button>
  <button class="wc-today ui-button ui-widget ui-state-default ui-button-text-icon-primary" role="button" aria-disabled="false">
    <span class="ui-button-icon-primary ui-icon ui-icon-home"></span>
    <span class="ui-button-text"><%= translate_helper("this_week") %></span>
  </button>
  <button class="wc-next ui-button ui-widget ui-state-default ui-button-text-icon-primary ui-button-icon-only ui-corner-right" role="button" aria-disabled="false" title="next">
    <span class="ui-button-icon-primary ui-icon ui-icon-seek-next"></span>
    <span class="ui-button-text"><%= translate_helper("next") %></span>
  </button>
</div>


<h2>
  <%= translate_helper("runs_between") %> 
  <span id="start_date">
    <%= @week_start.strftime "%m-%d-%Y" %>
  </span> <%= translate_helper("and") %>  
  <span id="end_date">
    <%= @week_end.strftime "%m-%d-%Y" %>
  </span>
</h2>
<table id="runs">
  <tr class="head">
    <th><%= translate_helper("date") %></th>
    <th><%= translate_helper("scheduled_start_time") %></th>
    <th><%= translate_helper("scheduled_end_time") %></th>
    <th><%= translate_helper("vehicle") %></th>
    <th><%= translate_helper("driver") %></th>
    <th><%= translate_helper("complete") %></th>
    <th></th>
  </tr>
  <% if @runs.size > 0 %>
    <% @runs.each do |run| %>
      <%= render "row", :run => run %>
    <% end %>
  <% else %>
    <%= render "no_runs" %>
  <% end %>
</table>

<%= link_to translate_helper("new_run_link_text"), new_run_path, :class=>'action-bttn new' %>
