:ruby
  if @runs.any?
    # basics
    ticks = get_availability_chart_ticks(15)

    max_hour = current_provider.driver_availability_max_hour || 22
    max_hour_label = format_hour_label(max_hour) 

    row_data = @runs.reorder(nil).default_order.map{|r| {
      id: r.id,
      name: r.name,
      date: r.date,
      start_time_diff: (r.scheduled_start_time - r.scheduled_start_time.at_beginning_of_day) / 3600.0,
      end_time_diff: (r.scheduled_end_time - r.scheduled_end_time.at_beginning_of_day) / 3600.0,
      driver_id: r.driver_id,
      driver_available: r.driver && r.driver.available_between?(r.date, r.scheduled_start_time, r.scheduled_end_time),
      driver_name: r.driver.try(:user_name)
    }}
  end

:css
  .availability_forecast_run_view_panel .panel-heading{
    background-color: gray;
    border-color: gray;
  }

  .run-availability-table {
    margin-bottom: 0px;
    border-collapse: separate !important;
    border-spacing: 0 1em !important;
  }

  .run-availability-table tr.odd {
    background: transparent;
  }

  .run-availability-table td {
    border-top: none !important;
  }

  .run-availability-table td.disabled {
    color: lightgray;
  }

  .run-availability-table td {
    padding: 0px 5px !important;
  }

  .run-availability-table td.chart_cell.is_filled {
    background-color: #df96e2 !important;
  }

  .run-availability-table td.chart_cell.is_driver_filled {
    background-color: #be10c5 !important;
  }

  .run-availability-table td.chart_cell.driver_not_available {
    background-color: #f16969 !important;
  }

  .hour_tick_label {
    display: inline-block;
    padding: 0px;
    margin: 0px 0px 0px -5px;
  }

  .run-availability-table a.link_disabled {
    pointer-events: none;
    cursor: default;
  }

  .run-availability-table a.link_disabled i {
    color: lightgrey !important;
  }


.panel.panel-primary.availability_forecast_run_view_panel
  .panel-heading
    .pull-right{style: 'padding-right: 0px;'}
      %span.panel-expand-collapse{title: 'Collapse/expand'}
        %i.fa.fa-chevron-up
    %b= "#{@runs.size} Runs: #{@total_assigned_run_count} Assigned, #{@total_unassigned_run_count} Unassigned"
  .panel-body.form-horizontal{style: 'padding:0px;'}
    .table-responsive{style: 'overflow: visible;'}
      - if @runs.any?
        %table.table.table-condensed.run-availability-table#run_availability_table
          %thead
            %th
            - tick_count = ticks.size
            %th{colspan: tick_count, style: 'padding: 0px;'}
              %div{style: 'width: 100%; white-space:nowrap;'}
                - label_tick_count = ticks.select{|x| !x[1].blank?}.size
                - last_label_tick = ticks.reverse.select{|x| !x[1].blank?}.first
                - divided_by = label_tick_count - 1 + (max_hour - last_label_tick[0]).to_f / get_availability_tick_hour_gap
                - ticks.each_with_index do |tick, index|
                  - next if tick[1].blank? || tick == last_label_tick
                  %span.hour_tick_label{style: "width: #{100/divided_by.to_f}%;"}= tick[1]
                - last_pct = 100/divided_by.to_f * (max_hour - last_label_tick[0]).to_f / get_availability_tick_hour_gap
                %span.hour_tick_label{style: "width: #{last_pct}%;"}
                  = last_label_tick[1] if last_pct > 5
                %span.hour_tick_label= max_hour_label
            
            - if can?(:edit, Run)
              %th

          %tbody
            - row_data.each do |r|
              %tr{data: {id: r[:id], name: r[:name], driver_id: r[:driver_id], driver_name: r[:driver_name], start_time: r[:start_time_diff], end_time: r[:end_time_diff]}}
                %td{style: 'width: 100px !important; white-space: normal !important;'}
                  = link_to r[:name], run_path(r[:id]), target: '_blank'
                - ticks.each do |tick|
                  - class_name = !(r[:start_time_diff] >= tick[0]) && !(r[:end_time_diff] <= tick[0]) ? "is_filled" : ""
                  - title = "Time range: #{format_hour_label(r[:start_time_diff])}-#{format_hour_label(r[:end_time_diff])}"
                  - if !class_name.blank? && !r[:driver_id].blank?
                    - class_name = 'is_driver_filled'
                    - unless r[:driver_available]
                      - class_name += " driver_not_available" 
                      - title += " (Driver Not Available)"
                  %td.chart_cell{style: "white-space: nowrap !important; color: white;", title: title, class: class_name || "", data: {time_flag: tick[0]}}
                - if can?(:edit, Run)
                  %td.pull-right
                    = link_to '#', method: 'patch', remote: true, class: r[:driver_id].blank? ? "unassign_driver_link link_disabled" : "unassign_driver_link" do 
                      %i.fa.fa-remove{style: 'color: red;'}
                    .dropdown{style: 'display: inline-block !important;'}
                      %button{type: 'button', data: {toggle: 'dropdown'}}
                        Assign
                        %span.caret
                      %ul.dropdown-menu.pull-right.drivers_dropdown{style: 'z-index: 10000;'}
                        - @drivers_available_for_runs[r[:id]].each do |d|
                          %li
                            %a{href:'#', data: {driver_id: d[:id], driver_name: d[:name]}}
                              = d[:name]

 
- if @runs.any?
  :javascript
    $(function() {
      // fixed table header
      $('#run_availability_table').floatThead({
        scrollContainer: function($table){
          return $table.closest('.table-responsive');
        }
      });

      setTimeout(function() {
        $('#run_availability_table tr').each(function() {
          $(this).find('td.is_driver_filled:first').text($(this).data('driver-name'));
        });
      }, 200);

      function unassign_driver_from_run(driver_id, run_id) {
        $.ajax({
          url: "#{unassign_driver_run_path('xxx')}".replace('xxx', run_id),
          data: {
            driver_id: driver_id
          },
          method: 'patch'
        });
      }

      $('#run_availability_table').on('click', '.unassign_driver_link', function(e) {
        e.preventDefault();
        var run_id = $(this).parents('tr').data('id');
        var run_name = $(this).parents('tr').data('name');
        var driver_id = $(this).parents('tr').data('driver-id');
        var driver_name = $(this).parents('tr').data('driver-name');

        var msg = "Please confirm you wish to remove <b>" + driver_name + "</b> as the driver of run <b>" + run_name + "</b>"
        bootbox.confirm(msg, function(result){
          if(result) {
            unassign_driver_from_run(driver_id, run_id);
          }
        });

        return false;
      });
    });