<fieldset class="driver-history-fields fields">
  <%= f.hidden_field :id %>
  
  <p>
    <%= f.label :event, translate_helper("driver_history_form_event") %>
    <%= f.text_field :event %>
  </p>

  <p>
    <%= f.label :notes, translate_helper("driver_history_form_notes") %>
    <%= f.text_area :notes %>
  </p>

  <p>
    <%= f.label :event_date, translate_helper("driver_history_form_event_date") %>
    <%= f.text_field :event_date, data: {behavior: 'date-picker'} %>
  </p>
  
  <p><%= f.link_to_remove translate_helper("driver_histories_remove_link_title") %></p>
</fieldset>