<tr class="fields driver-compliance-fields">
  <td>
    <%= f.hidden_field :id %>
    <%= f.text_field :event, class: "form-control" %>
  </td>
  <td>
    <%= f.text_field :notes, class: "form-control" %>
  </td>
  <td>
    <div class="input-group datepicker-icon">
      <%= f.text_field :due_date, class: "form-control datepicker" %>
      <div class="input-group-btn">
        <button class="btn btn-default" type="button">
          <%= image_tag "calendar-clock.png" %>
        </button>
      </div>
    </div>
  </td>
  <td>
    <div class="input-group datepicker-icon">
      <%= f.text_field :compliance_date, class: "form-control datepicker" %>
      <div class="input-group-btn">
        <button class="btn btn-default" type="button">
          <%= image_tag "calendar-clock.png" %>
        </button>
      </div>
    </div>
  </td>
  <td>
    <%= f.link_to_remove "X", class: "btn btn-danger btn-sm" %>
  </td>
</tr>