= form_for @driver do |f|
  - if @driver.errors.any?
    .panel.panel-danger
      .panel-heading= translate_helper("driver_form_error", count: @driver.errors.count)
      .panel-body
        %ul
          - @driver.errors.full_messages.each do |msg|
            %li= msg
  .row
    .col-sm-12.col-md-6
      .panel.panel-primary.driver-details
        .panel-heading= translate_helper("driver_form_details_heading")
        .panel-body.form-horizontal
          .form-group.driver-photo
            .form-field
              - if @driver.photo.present? && !@driver.photo.new_record?
                = image_tag @driver.photo.image.url(:thumb)
              - unless @readonly
                = f.fields_for :photo do |image_upload|
                  = image_upload.file_field :image, class: 'inputfile'
                  = label_tag 'driver_photo_attributes_image', class: 'btn' do
                    %i.fas.fa-upload
                    %span Browse
                  -# the above approach the the file field follows this demo https://tympanus.net/Tutorials/CustomFileInputs/
                    
                    
          - if @readonly
            .form-group.driver-name
              .form-label
                = f.label :name, translate_helper("driver_form_name")
              .form-field
                = @driver.user_name
                - if @driver.user.present? && !@driver.user.deleted? && can?(:edit, @driver.user)
                  = link_to edit_user_path(@driver.user), title: translate_helper("edit"), class: "inline-edit" do
                    %i.fas.fa-pencil-alt
          .form-group.driver-phone
            .form-label
              = f.label :phone_number, translate_helper("phone_number")
            .form-field
              - if @readonly
                = format_phone_number(@driver.phone_number)
              - else
                = f.text_field :phone_number
          .form-group.driver-alt-phone
            .form-label
              = f.label :alt_phone_number, translate_helper("alt_phone_number")
            .form-field
              - if @readonly
                = format_phone_number(@driver.alt_phone_number)
              - else
                = f.text_field :alt_phone_number
          - if @readonly
            .form-group
              .form-label
                = f.label :email, translate_helper("driver_form_email")
              .form-field
                = @driver.user.try(:email) || @driver.email
                - if @driver.user.present? && !@driver.user.deleted? && can?(:edit, @driver.user)
                  = link_to edit_user_path(@driver.user), title: translate_helper("edit"), class: "inline-edit" do
                    %i.fas.fa-pencil-alt
          .form-group
            .form-label
              = f.label :paid, translate_helper("paid")
            .form-field
              - if @readonly && @driver.paid.to_s == "true"
                Paid
              - elsif @readonly && @driver.paid.to_s == "false"
                Volunteer 
              - else
                = f.select :paid, [["Paid", "true"], ["Volunteer", "false"]], { selected: @driver.paid.to_s }
          .form-group
            .form-label
              = f.label :user_id, translate_helper("driver_form_associated_user")
            .form-field
              - if @readonly
                = @driver.user.name_with_username
              - else
                = f.collection_select :user_id, @available_users, :id, :name_with_username, { include_blank: true }
        / END .panel-body
      / END .panel
      = render 'address_panel', f: f

      - @driver.build_emergency_contact if @driver.emergency_contact.nil?
      = f.fields_for :emergency_contact, @driver.emergency_contact do |contact_form|
        = render 'drivers/emergency_contact_panel', f: contact_form
    / END .col-md-6

    .col-sm-12.col-md-6
      - if @driver.persisted?
        .panel.panel-primary
          .panel-heading= translate_helper("driver_documents_heading")
          %table#documents-table.table.table-condensed
            %thead
              %tr
                %th.col-sm-3= translate_helper("document_form_upload_date")
                %th= translate_helper("document_form_description")
                %th.col-sm-2= translate_helper("document_form_file_size")
                %th.col-sm-1
            %tbody
              - if @readonly and @driver.documents.empty?
                %tr
                  %td{:colspan => "4"}= translate_helper("driver_documents_empty")
              = render partial: 'documents/document', collection: @driver.documents.unassociated.default_order
        / END .panel
        .panel.panel-primary
          .panel-heading= translate_helper("driver_histories_heading")
          %table#driver_histories-table.table.table-condensed
            %thead
              %tr
                %th.col-sm-3= translate_helper("driver_history_form_event_date")
                %th= translate_helper("driver_history_form_event")
                - unless @readonly
                  %th.col-sm-1
            %tbody
              - if @readonly and @driver.driver_histories.empty?
                %tr
                  %td{:colspan => "2"}= translate_helper("driver_histories_empty")
              = render partial: 'driver_histories/driver_history', collection: @driver.driver_histories.default_order
          - unless @readonly
            .panel-footer
              .clearfix
                = link_to translate_helper("driver_histories_add_link_title"), new_driver_driver_history_path(@driver), class: "btn action-button pull-right", remote: true
        / END .panel
        = render 'legal_requirements_panel'
        = render 'non_legal_requirements_panel'

        - if @readonly
          - logs = TrackerActionLog.for(@driver).order(created_at: :desc)
          = render 'shared/action_log_panel', logs: logs if logs.any?
        / END .panel
    / END .col-md-6
  / END .row
  - unless @readonly
    .row.form-actions= f.submit translate_helper("driver_form_submit"), class: "btn action-button"
 
= render 'shared/hide_invisible_form_fields_js', model_name: "driver", table_name: 'drivers', provider_id:  current_provider.try(:id)

- if @readonly
  = render 'shared/readonly_modal_dialog', modal_id: "modal-dialog" 
  / = render 'shared/selects_to_text_javascript'
- else 
  = render 'shared/modal_dialog', modal_id: "modal-dialog" 