.panel.panel-primary
  .panel-heading
    = translate_helper("driver_compliances_heading")
  .panel-body{style: 'padding: 0px;'}
    .col-sm-12
      .checkbox.pull-right
        %label
          %input#show_past_non_legal{type: 'checkbox'}
            %b= translate_helper(:show_past)
    = render 'driver_compliances_table', driver_compliances: @driver.driver_compliances.incomplete.non_legal.default_order, legal: false
  - unless @readonly
    .panel-footer
      .clearfix
        = link_to translate_helper("driver_compliances_add_link_title"), new_driver_driver_compliance_path(@driver), class: "btn action-button pull-right", remote: true
:javascript
  $(function() {
    $('#show_past_non_legal').change(function() {
      $.ajax({url: "#{driver_driver_compliances_path(@driver)}?readonly=#{@readonly}&show_past=" + $(this).is(':checked')});
    });
  });