= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: 'drivers'
#page-header.row
  .col-sm-12.col-md-6
    %h1= translate_helper("edit_driver_heading")
  .col-sm-12.col-md-6
    - if can? :manage, @driver
      .pull-right
        %button#driver_form_submit.btn.action-button
          = translate_helper("save")
        = link_to translate_helper("cancel"), @driver, class: "btn action-button"
= render partial: "form"

:javascript
  $(document).ready(function(){
    $("form.edit_driver .form-actions").hide();
    
    $("#driver_form_submit").on("click", function(){
      $("form.edit_driver").submit();
    });
  });
