= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: 'drivers'
#page-header.row
  .col-sm-12.col-md-6
    %h1= translate_helper("index_driver_heading")
  .col-sm-12.col-md-6
    - if can? :create, Driver
      .pull-right
        = link_to translate_helper("new_driver_link_text"), new_driver_path, class: "btn action-button"
.row
  .col-sm-12.col-md-6
    %table#documents-table.table.table-striped.table-bordered
      %thead
        %tr
          %th.col-sm-4= translate_helper("driver_form_name")
          %th.col-sm-2= translate_helper("driver_form_active")
          %th.col-sm-2= translate_helper("paid")
          %th.col-sm-2= translate_helper("driver_form_available")
          %th.col-sm-2= translate_helper("driver_overdue_events")
          %th.col-sm-2= translate_helper("driver_completed_run_hours")
      %tbody
        - if @drivers.empty?
          %tr
            %td{:colspan => "5"}= translate_helper("drivers_empty")
        - else
          = render partial: 'driver', collection: @drivers.includes(:user).references(:user).reorder("lower(users.last_name)", "lower(users.first_name)") 
