= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: 'drivers'
#page-header
  %h1.page-title= translate_helper("new_driver_heading")
  .action-buttons
    - if can? :manage, @driver
      .pull-right
        %button#driver_form_submit.btn.action-button
          = translate_helper("save")
        = link_to translate_helper("cancel"), drivers_path, class: "btn action-button"
= render :partial=>"form"

:javascript
  $(document).ready(function(){
    $("form.new_driver .form-actions").hide();
    
    $("#driver_form_submit").on("click", function(){
      $("form.new_driver").submit();
    });
  });
