.panel.panel-primary
  .panel-heading= translate_helper("vehicle_form_capacity_heading")
  .panel-body.form-horizontal
    .form-group
      = f.label :vehicle_type_id, translate_helper("vehicle_form_vehicle_type_label"), class: "col-md-2 control-label"
      .col-md-10
        = f.collection_select :vehicle_type_id, VehicleType.for_provider(current_provider_id).default_order, :id, :name, { include_blank: true }, { class: "form-control", disabled: @readonly }
        .vehicle-capacity-configurations
          - if @vehicle.vehicle_type && @vehicle.vehicle_type.vehicle_capacity_configurations.any?
            = render 'vehicle_capacity_configurations/list', vehicle_capacity_configurations: @vehicle.vehicle_type.vehicle_capacity_configurations
    .form-group
      = f.label :seating_capacity, translate_helper("vehicle_form_seating_capacity_label"), class: "col-md-2 control-label"
      .col-md-10
        = f.number_field :seating_capacity, min: 1, class: "form-control", disabled: @readonly
    .form-group
      = f.label :mobility_device_accommodations, translate_helper("vehicle_form_mobility_device_accommodations_label"), class: "col-md-2 control-label"
      .col-md-10
        = f.number_field :mobility_device_accommodations, min: 0, class: "form-control", disabled: @readonly

- if !@readonly
  :javascript
    $(function() {
      $('#vehicle_vehicle_type_id').change(function() {
        var new_type_id = $(this).val();
        if(new_type_id) {
          $.ajax({
            url: "#{list_vehicle_type_vehicle_capacity_configurations_path('xxx')}".replace('xxx', new_type_id)
          });
        } else {
          $(".vehicle-capacities").html("");
        }
      });
    });