= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: 'vehicles'
#page-header.row
  .col-sm-12.col-md-6
    %h1= translate_helper("edit_vehicle_heading")
  .col-sm-12.col-md-6
    - if can? :manage, @vehicle
      .pull-right
        %button#vehicle_form_submit.btn.action-button
          = translate_helper("save")
        = link_to translate_helper("cancel"), @vehicle, class: "btn action-button"
= render partial: "form"

:javascript
  $(document).ready(function(){
    $("form.edit_vehicle .form-actions").hide();
    
    $("#vehicle_form_submit").on("click", function(){
      $("form.edit_vehicle").submit();
    });
  });
