= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: 'vehicles'
#page-header.row
  .col-sm-12.col-md-6
    %h1= translate_helper("index_vehicle_heading")
  .col-sm-12.col-md-6
    - if can? :create, Vehicle
      .pull-right
        = link_to translate_helper("new_vehicle_link_text"), new_vehicle_path, class: "btn action-button"
.row
  .col-sm-12.pull-right
    .checkbox
      %label
        %input#show_active_only{type: 'checkbox'}
          = translate_helper(:show_inactive)
  .col-sm-12
    %table#vehicles-table.table.table-striped.table-bordered
      %thead
        %tr
          %th.col-sm-2= translate_helper("name")
          %th= translate_helper("vehicle_year")
          %th= translate_helper("vehicle_make")
          %th= translate_helper("vehicle_model")
          %th= translate_helper("license_plate")
          %th.col-sm-2= translate_helper("vin")
          %th.col-sm-2= translate_helper("vehicle_location")
          %th= translate_helper("vehicle_form_active_label")
          %th= translate_helper("vehicle_form_last_odometer_reading")
          %th= translate_helper("vehicle_overdue_events")
          %th= translate_helper("vehicle_expired_warranties")
      %tbody
        - if @vehicles.empty?
          %tr
            %td{:colspan => "12"}= translate_helper("no_vehicles")
        = render partial: 'vehicle', collection: @vehicles

:javascript
  $(function() {
    $('#show_active_only').prop('checked', #{params[:show_inactive] == 'true'});
    $('#show_active_only').change(function() {
      window.location.href = "#{vehicles_path}?show_inactive=" + $(this).is(':checked')
    });
  });