= render 'shared/highlight_active_tab_js', is_primary_nav: true, tab_class: 'vehicles'
#page-header
  %h1.page-title= translate_helper("new_vehicle_heading")
  - if can? :manage, @vehicle
    .action-buttons
      %button#vehicle_form_submit.btn.action-button
        = translate_helper("save")
      = link_to translate_helper("cancel"), vehicles_path, class: "btn action-button"
= render :partial=>"form"

:javascript
  $(document).ready(function(){
    $("form.new_vehicle .form-actions").hide();
    
    $("#vehicle_form_submit").on("click", function(){
      $("form.new_vehicle").submit();
    });
  });