- pickup_addr = trip.pickup_address
- dropoff_addr = trip.dropoff_address
- customer = trip.customer

%tr{style: 'font-weight: bold; font-size: 12pt;'}
  %td= translate_helper("driver_manifest_pickup") 
  %td{style: 'width: 420px;'} 
    %p{style: 'white-space: nowrap;'}= trip.customer.try(:name)
    - if pickup_addr
      %p{style: 'white-space: nowrap;'}= "#{pickup_addr.name}"
      %p.col-sm-12{style: 'padding: 0px;'}
        %span.pull-left{style:'max-width: 250px;'} 
          = pickup_addr.address
        %span.pull-right
          = pickup_addr.city
      - if pickup_addr.notes
        %br
        %p= pickup_addr.notes
  %td{style: 'text-align: right;'}= format_time_for_listing(trip.pickup_time)
  %td{style: 'text-align: right;'}
    = format_time_for_listing(trip.appointment_time) if trip.appointment_time

%tr
  %td= (trip.notes.blank? ? "" : translate_helper("driver_manifest_trip_notes") )
  %td= trip.notes
  %td{style: 'min-width: 150px; text-align: right;'}
    = translate_helper("driver_manifest_time_arrive")   
    &nbsp;(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)
  %td{style: 'min-width: 150px; text-align: right;'}  
    = translate_helper("driver_manifest_time_depart") 
    &nbsp;(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)

- mobility = trip.mobility || customer.try(:mobility)
- if mobility
  %tr
    %td= translate_helper("driver_manifest_customer") 
    %td= mobility.name + "  1"
    %td
    %td

- if trip.guest_count && trip.guest_count > 0
  %tr
    %td= translate_helper("driver_manifest_guests") 
    %td= trip.guest_count
    %td
    %td

- if trip.attendant_count && trip.attendant_count > 0
  %tr
    %td= translate_helper("driver_manifest_attendants") 
    %td= trip.attendant_count
    %td
    %td

%tr
  %td{style: 'border-bottom: 1px solid black;'}= translate_helper("driver_manifest_total_passengers") 
  %td= trip.trip_size
  %td{style: 'text-align: right; padding-bottom: 0px; vertical-align: bottom !important;'}= translate_helper("driver_manifest_donation_$") 
  %td{style: 'border-bottom: 1px solid black;'} 

- if trip.mobility_device_accommodations && trip.mobility_device_accommodations > 0
  %tr
    %td= translate_helper("driver_manifest_mobility_devices")  
    %td= trip.mobility_device_accommodations
    %td
    %td

- if customer && customer.mobility_notes.present?
  %tr
    %td= translate_helper("driver_manifest_mobility_notes") 
    %td= customer.mobility_notes
    %td
    %td

- if (later_customer_trips = later_trips_for_customer(customer, trip)).any?
  %tr
    %td{colspan: 4}
      - later_customer_trips.each do |later_trip| 
        %p
          = translate_helper("later_trips")  
          = " at"
          = format_time_for_listing(later_trip.pickup_time)
          = " (" 
          = later_trip.run ? ("Run # " + later_trip.run.try(:name)) : "Cab" 
          = ")"

%tr
  %td{colspan:"4", style: "border-bottom: 2px solid darkgray;"}

%tr{style: 'font-weight: bold; font-size: 12pt;'}
  %td{style: 'padding-top: 12px;'}= translate_helper("driver_manifest_dropoff") 
  %td{style: 'width: 420px;'} 
    %p{style:'padding-top: 15px; white-space: nowrap;'}= trip.customer.try(:name) 
    - if dropoff_addr
      %p{style: 'white-space: nowrap;'}= "#{dropoff_addr.name}"
      %p.col-sm-12{style: 'padding: 0px;'}
        %span.pull-left{style:'max-width: 250px;'} 
          = dropoff_addr.address
        %span.pull-right
          = dropoff_addr.city
      - if dropoff_addr.notes
        %br
        %p= dropoff_addr.notes
  %td
  %td{style: 'text-align: right;'}
    = format_time_for_listing(trip.appointment_time) if trip.appointment_time

%tr
  %td= (trip.notes.blank? ? "" : translate_helper("driver_manifest_trip_notes") )
  %td= trip.notes
  %td{style: 'min-width: 150px; text-align: right;'}
    = translate_helper("driver_manifest_time_arrive")   
    &nbsp;(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)
  %td{style: 'min-width: 150px; text-align: right;'}  
    = translate_helper("driver_manifest_time_depart") 
    &nbsp;(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)

- unless is_last_trip
  %tr
    %td{colspan:"4", style: "border-bottom: 3px solid black;"}



