- pickup_addr = trip.pickup_address
- dropoff_addr = trip.dropoff_address
- customer = trip.customer

%tr{style: 'font-weight: bold; font-size: 15px;'}
  %td{style: 'font-size: 24px;'} Pick Up
  %td 
    - if customer
      %p= trip.customer.try(:name) 
    - if pickup_addr
      %p= pickup_addr.text
      - if pickup_addr.notes
        %p= pickup_addr.notes
  %td= format_time_for_listing(trip.pickup_time)
  %td= format_time_for_listing(trip.appointment_time)

%tr
  %td= (trip.notes.blank? ? "" : "Trip Notes:")
  %td= trip.notes
  %td Time Arrive (&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)
  %td Time Depart (&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)

- mobility = trip.mobility || customer.try(:mobility)
- if mobility
  %tr
    %td Customer
    %td= mobility.name + "  1"
    %td
    %td

%tr
  %td Guests
  %td= trip.guest_count
  %td
  %td

%tr
  %td Attendants
  %td= trip.attendant_count
  %td
  %td

%tr
  %td{style: 'border-bottom: 1px solid black;'} Total Passengers
  %td= trip.group_size
  %td Donation $
  %td{style: 'border: 1px solid black;'} 

%tr
  %td Mobility Devices 
  %td= trip.mobility_device_accommodations || 0
  %td
  %td

- if customer && customer.mobility_notes.present?
  %tr
    %td Mobility Notes
    %td= customer.mobility_notes
    %td
    %td

%tr{style: 'font-weight: bold; font-size: 15px; padding-top: 10px;'}
  %td{style: 'font-size: 24px;'} Drop Off
  %td 
    - if customer
      %p= trip.customer.try(:name) 
    - if dropoff_addr
      %p= dropoff_addr.text
      - if dropoff_addr.notes
        %p= dropoff_addr.notes
  %td
  %td

%tr
  %td= (trip.notes.blank? ? "" : "Trip Notes:")
  %td= trip.notes
  %td Time Arrive (&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)
  %td Time Depart (&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)

- if (later_customer_trips = later_trips_for_customer(customer, trip)).any?
  %tr
    %td
      - later_customer_trips.each do |later_trip| 
        %p
          = translate_helper("later_trips")  
          " at" 
          = format_time_for_listing(later_trip.pickup_time)
          " with" 
          = later_trip.run ? (later_trip.run.driver.try(:name) ||  translate_helper("no_driver") ) : "Cab" 



