- pickup_addr = trip.pickup_address
- dropoff_addr = trip.dropoff_address
- customer = trip.customer

%tr
  %td Pickup
  %td 
    - if customer
      %p= trip.customer.try(:name) 
    - if pickup_addr
      %p= pickup_addr.text
      - if pickup_addr.notes
        %p= pickup_addr.notes
  %td= format_time_for_listing(trip.pickup_time)
  %td= format_time_for_listing(trip.appointment_time)

%tr
  %td Trip Notes:
  %td= trip.notes
  %td Time Arrive (         )
  %td Time Depart (         )

- if trip.mobility
  %tr
    %td Customer
    %td= trip.mobility.name + "  1"
    %td
    %td

%tr
  %td Guests
  %td= trip.guest_count
  %td
  %td

%tr
  %td Attendants
  %td= trip.attendant_count
  %td
  %td

%tr
  %td{style: 'border-bottom: 1px solid black;'} Total Passengers
  %td{style: 'border-bottom: 1px solid black;'}= trip.group_size
  %td Donation $
  %td{style: 'border: 1px solid black;'} 

%tr
  %td Mobility Devices 
  %td= trip.mobility_device_accommodations
  %td
  %td

- if trip.mobility
  %tr
    %td Mobility Notes
    %td= trip.mobility.notes
    %td
    %td

%tr
  %td Drop Off
  %td 
    - if customer
      %p= trip.customer.try(:name) 
    - if dropoff_addr
      %p= dropoff_addr.text
      - if dropoff_addr.notes
        %p= dropoff_addr.notes
  %td
  %td

%tr
  %td Trip Notes:
  %td= trip.notes
  %td Time Arrive (         )
  %td Time Depart (         )

- if (later_customer_trips = later_trips_for_customer(customer, trip)).any?
  %tr
    %td
      - later_customer_trips.each do |later_trip| 
        %p
          = translate_helper("later_trips")  
          " at" 
          = format_time_for_listing(later_trip.pickup_time)
          " with" 
          = later_trip.run ? (later_trip.run.driver.try(:name) ||  translate_helper("no_driver") ) : "Cab" 



