<% remote ||= false %>
<%= nested_form_for [@vehicle, @vehicle_maintenance_event], remote: remote do |f| %>
  <% if @vehicle_maintenance_event.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading"><%= translate_helper("vehicle_maintenance_event_form_error", count: @vehicle_maintenance_event.errors.count) %></div>
      <div class="panel-body">
        <ul>
          <% @vehicle_maintenance_event.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-body form-horizontal">
          <div class="form-group">
            <%= f.label :service_date, translate_helper("service_date"), class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <div class="input-group datepicker-icon">
                <%= f.text_field :service_date, class: "form-control datepicker", disabled: @readonly %>
                <% unless @readonly %>
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="button">
                      <%= image_tag "calendar-clock.png" %>
                    </button>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :odometer, translate_helper("odometer"), class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <%= f.text_field :odometer, class: "form-control", disabled: @readonly %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :vendor_name, translate_helper("vendor_name"), class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <%= f.text_field :vendor_name, class: "form-control", disabled: @readonly %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :invoice_date, translate_helper("invoice_date"), class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <div class="input-group datepicker-icon">
                <%= f.text_field :invoice_date, class: "form-control datepicker", disabled: @readonly %>
                <% unless @readonly %>
                  <div class="input-group-btn">
                    <button class="btn btn-default" type="button">
                      <%= image_tag "calendar-clock.png" %>
                    </button>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :invoice_number, translate_helper("invoice_number"), class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <%= f.text_field :invoice_number, class: "form-control", disabled: @readonly %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :invoice_amount, translate_helper("invoice_amount"), class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <%= f.text_field :invoice_amount, class: "form-control", disabled: @readonly %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :reimbursable, translate_helper("reimbursable"), class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <%= f.select :reimbursable, [["Yes", "true"], ["No", "false"]], {:selected => @vehicle_maintenance_event.reimbursable.to_s }, class: "form-control", disabled: @readonly %>
            </div>
          </div>  
          <div class="form-group">
            <%= f.label :services_performed, translate_helper("services_performed"), class: "col-md-3 control-label" %>
            <div class="col-md-9">
              <%= f.text_area :services_performed, class: "form-control", rows: 3, disabled: @readonly %>
            </div>
          </div>
        </div><!-- END .panel-body -->
      </div><!-- END .panel -->
      
      <%= render partial: "document_associations/form_panel", locals: {f: f, documents: @vehicle_maintenance_event.vehicle.documents} %>
    </div><!-- END .col-md-12 -->
  </div><!-- END .row -->
  
  <% unless @readonly %>
    <div class="row form-actions"><%= f.submit translate_helper("maintenance_form_submit"), class: "btn action-button" %></div>
  <% end %>
<% end %>
