= render 'shared/highlight_active_tab_js', is_primary_nav: false, tab_class: 'admin'

- editable = can? :manage, MobilityCapacity
.col-sm-12{style: 'padding: 10px;'}
  - mobility_type_table = LookupTable.find_by_name('mobilities')
  - if mobility_type_table
    %h2.section-header= translate_helper("configure_mobility_types")
    = link_to translate_helper("mobility_types_link_text"), lookup_table_path(mobility_type_table), target: '_blank'
    %hr

  - capacity_type_table = LookupTable.find_by_name('capacity_types')
  - if capacity_type_table
    %h2.section-header= translate_helper("configure_capacity_types")
    = link_to translate_helper("capacity_types_link_text"), lookup_table_path(capacity_type_table), target: '_blank'
    %hr

  %h2= translate_helper(:mobility_capacities_link_text)
  - if editable
    .pull-right{style: 'padding-bottom: 5px;'}
      = link_to translate_helper("edit"), batch_edit_mobility_capacities_path, class: "btn action-button"
  %table.table.table-bordered.table-hover.table-condensed.inline-editing-table#mobility_capacities_table
    %thead
      %tr.report-header
        %th
          = translate_helper("mobility")
        - @capacity_types.pluck(:name).each do |ct_name|
          %th
            = ct_name
    %tbody
      - @mobility_types.each do |mt|
        %tr{data: {mobility_id: mt.id}}
          %td= mt.name
          - @capacity_types.pluck(:id).each do |ct_id|
            - mc = @mobility_capacity_mappings[[mt.id, ct_id]]
            %td.input-column
              = mc && mc.first.try(:capacity) || 0
