<table class="trip">
  <tr class="customer">
    <td class="name">
      <%= trip.customer.name %><span class='address_separator'></span>
      <%= format_phone_number(trip.customer.phone_number_1) %><span class='address_separator'></span>
      <%= format_phone_number(trip.customer.phone_number_2) %>
    </td>
    <td class="mobility">
      <%= trip.mobility.try(:name) %>
      <% if trip.customer.mobility_notes.present? %>
        &mdash; <%= trip.customer.mobility_notes %>
      <% end %>
    </td>
  </tr>
  <tr class="addresses">
    <td class="pickup">
      <% pickup_address_notes =  trip.pickup_address_notes || trip.pickup_address.try(:notes)%>
      PU: <%= (trip.pickup_address.try(:text) || translate_helper("pickup_unspecified")).to_s + (pickup_address_notes.blank? ? "" : " (" + pickup_address_notes + ")") %>
    </td>
    <td class="dropoff">
      <% dropoff_address_notes =  trip.dropoff_address_notes || trip.dropoff_address.try(:notes)%>
      DO: <%= (trip.dropoff_address.try(:text) || translate_helper("dropoff_unspecified")).to_s  + (dropoff_address_notes.blank? ? "" : " (" + dropoff_address_notes + ")") %>
    </td>
  </tr>
  <% if trip.notes.present? %>
    <tr>
      <td colspan="2" class="notes">
        <%= translate_helper("trip_notes_label") %> <%= trip.notes %>
      </td>
    </tr>
  <% end %>
  <% if show_status %>
    <tr>
      <td class="notes">
        <%= translate_helper("trip_run_label") + trip.run_text %><span class='address_separator'></span>
      </td>
      <td>
        <%= translate_helper("trip_result_label") % trip.trip_result_name || translate_helper("pending") %>
      </td>
    </tr>
  <% end %>
  <% if (later_customer_trips = later_trips_for_customer(trip.customer, trip)).any? %>
    <tr>
      <td colspan="2" class="later-rides">
        <% later_customer_trips.each do |trip| %>
          <p>
            <%= translate_helper("later_trips") %> at 
            <%= trip.pickup_time.strftime('%l:%M %P') %> with 
            <%= trip.run ? (trip.run.driver.try(:user_name) || translate_helper("no_driver")) : "Cab" %>
          </p>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
