<%= render 'custom_report_header'%>

<div class="filter-form" style="padding-top: 10px;">
  <%= form_for @query, :url=>url_for(:action=>:cab), :html=>{:method=>:get} do |f| %>
    <fieldset class="select-month">
      <p>
        <%= f.date_select  :start_date, :discard_day=>true rescue nil%>
        <%= f.submit translate_helper("cab_report_submit") %>
      </p>
    </fieldset>
  <% end %>
</div>

<table>
  <tr>
    <th><%= translate_helper("date_and_time") %></th>
    <th><%= translate_helper("return") %></th>
    <th><%= translate_helper("name") %></th>
    <th><%= translate_helper("trip_purpose") %></th>
    <th><%= translate_helper("pick_up_point") %></th>
    <th><%= translate_helper("destination") %></th>
  </tr>
  <% for trip in @trips %>
    <tr>
      <td><%= trip.pickup_time.time %></td>
      <td></td>
      <td><%= trip.customer.name %></td>
      <td><%= trip.trip_purpose_name %></td>
      <td><%= trip.pickup_address.try(:text) || translate_helper("unspecified_address") %></td>
      <td><%= trip.dropoff_address.try(:text) || translate_helper("unspecified_address") %></td>
    </tr>
    <% if trip.round_trip %>
      <tr>
        <td><%= trip.pickup_time.time %></td>
        <td class="center">&#x2713;</td>
        <td><%= trip.customer.name %></td>
        <td><%= trip.trip_purpose_name %></td>
        <td><%= trip.dropoff_address.try(:text) || translate_helper("unspecified_address") %></td>
        <td><%= trip.pickup_address.try(:text) || translate_helper("unspecified_address") %></td>
      </tr>
    <% end %>
  <% end %>
</table>
