<%= content_for :title, (translate_helper("crtr_report_title") + "#{@query.try(:start_date).try(:strftime, ": %B %Y")}#{@query.try(:start_date).try(:strftime, " - %B %Y")}") %>
<div id="page-header">
<h1><%= translate_helper("crtr_verify_runs")%><%= @query.try(:start_date).try(:strftime, ": %B %Y") %><%= @query.try(:start_date).try(:strftime, " - %B %Y") %></h1>
</div>

<% if @query %> 
  <%= form_for @query, :url=>url_for(:action=>:customer_receiving_trips_in_range), :html=>{:method=>:get} do |f| %>
    <fieldset class="select-month">
      <p>
        <%= f.date_select  :start_date, :order => [:month,:day,:year] %>
        <%= translate_helper("crtr_through")%> 
        <%= f.date_select  :before_end_date, :order => [:month,:day,:year] %>
        <%= f.submit translate_helper("Update") %>
      </p>
    </fieldset>
  <% end %>
<% end %>

<table>
  <tr>
    <th><%= translate_helper("customer") %></th>
    <th><%= translate_helper("date_of_birth") %></th>
    <th><%= translate_helper("trips_received") %></th>
    <th><%= translate_helper("trip_purposes") %></th>
    <th><%= translate_helper("trip_funding_sources") %></th>
  </tr>
  
  <% @customers.each do |customer| %>
    <tr>
      <td>
        <%= link_to customer.name, customer %>
      </td>
      <td>
        <%= customer.birth_date.try(:strftime, '%m-%d-%Y') %>
      </td>
      <td>
        <%= customer.trips.count %>
      </td>
      <td>
        <%= customer.trips.includes(:trip_purpose).pluck("trip_purposes.name").uniq.sort.join(', ') %>
      </td>
      <td>
        <%= customer.trips.collect{|t| t.funding_source.try(:name)}.compact.uniq.sort.join(', ') %>
      </td>
    </tr>
  <% end %>
</table>
