= content_for :title, translate_helper("driver_manifest_title") + " #{@date.strftime('%v')}" 
= render 'custom_report_header'
.row
  .col-xs-6{style: 'font-size: 18px; font-weight: bold; padding-left: 0px;'}
    .col-sm-12
      = "Date: #{@date.strftime('%A')}"
    .col-sm-12
      = format_date(@date)
  .col-xs-6
    %img.pull-right{src: "/uta_logo.png", height:40, width:151}
.row
  %h1{style: 'text-align: center;'}
    %u
      = translate_helper("driver_manifest_heading")

       
