<%= render 'custom_report_header'%>
<%= content_for :title, translate_helper("service_summary_title",provider:@provider.name,start_date:@start_date.strftime("%B %Y")) %>

<div class="filter-form" style="padding-top: 10px;">
<%= form_for @query, :url=>url_for(:action=>:service_summary), :html=>{:method=>:get} do |f| %>
  <fieldset class="select-month">

        <%= f.label  :start_date, translate_helper(:service_summary_start_date)%>

        <%= f.date_select  :start_date, :order => [:month, :day, :year] rescue nil%>

        <%= f.label  :end_date, translate_helper(:service_summary_end_date)%>

        <%= f.date_select  :end_date, :order => [:month, :day, :year] rescue nil%>

      <%= f.submit translate_helper("update"), class: 'btn action-button' %>

  </fieldset>
<% end %>
</div>

<%= render :partial => 'header' %>

<table>
  <tr>
    <th colspan="5" class="table-header print-only">
      <%= translate_helper("service_summary_section_one_heading") %>
    </th>
  </tr>
  <tr>
    <th colspan="2">
    </th>
    <th colspan="3" class="service-header">
      <%= translate_helper("stf_service_label") %>
    </th>
  </tr>
  <tr>
    <th class="line-number">
      <%= translate_helper("line_number_label") %>
    </th>
    <th>
    </th>
    <th class="data">
      <%= translate_helper("in_district") %>
    </th>
    <th class="data">
      <%= translate_helper("out_of_district") %>
    </th>
    <th class="data">
      <%= translate_helper("total") %>
    </th>
  </tr>

  <tr>
    <th></th>
    <th class="section-header"><%= translate_helper("trips") %></th>
    <td colspan="3" class="greyed-out"></td>
  </tr>

  <% i = 0 %>
  <% for row in @trips_by_purpose %>
    <tr>
      <th><%= i += 1 %></th>
      <td><%= row['purpose'] %></td>
      <td class="numeric"><%= row['in_district'] %></td>
      <td class="numeric"><%= row['out_of_district'] %></td>
      <td class="numeric total"><%= row['in_district'] + row['out_of_district'] %></td>
    </tr>
  <% end %>

  <tr>
    <th><%= i += 1 %></th>
    <td class="total-label"><%= translate_helper("total_trips") %></td>
    <td class="numeric total"><%= @total['in_district'] %></td>
    <td class="numeric total"><%= @total['out_of_district'] %></td>
    <td class="numeric total"><%= @total['in_district'] + @total['out_of_district'] %></td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td><%= translate_helper("total_miles_driven") %></td>
    <td colspan="2" class="greyed-out"></td>
    <td class="numeric"><%= @total_miles_driven %></td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td><%= translate_helper("turndowns") %></td>
    <td colspan="2" class="greyed-out"></td>
    <td class="numeric"><%= @turndowns %></td>
  </tr>

  <tr>
    <th></th>
    <th class="section-header"><%= translate_helper("drivers") %></th>
    <td colspan="3" class="greyed-out"></td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td><%= translate_helper("driver_hours_volunteer") %></td>
    <td colspan="2" class="greyed-out"></td>
    <td class="numeric"><%= @volunteer_driver_hours %></td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td><%= translate_helper("driver_hours_paid") %></td>
    <td colspan="2" class="greyed-out"></td>
    <td class="numeric"><%= @paid_driver_hours %></td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td class="total-label"><%= translate_helper("total_driver_hours") %></td>
    <td colspan="2" class="greyed-out"></td>
    <td class="numeric total"><%= @paid_driver_hours + @volunteer_driver_hours %></td>
  </tr>

  <tr>
    <th></th>
    <th class="section-header"><%= translate_helper("volunteer_hours") %></th>
    <td colspan="3" class="greyed-out"></td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td><%= translate_helper("volunteer_hours_escort") %></td>
    <td colspan="2" class="greyed-out"></td>
    <td class="numeric">
      <%= @monthly.volunteer_escort_hours %>
    </td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td><%= translate_helper("volunteer_hours_administrative") %></td>
    <td colspan="2" class="greyed-out"></td>
    <td class="numeric">
      <%= @monthly.volunteer_admin_hours %>
    </td>
  </tr>

  <tr>
    <th></th>
    <th class="section-header"><%= translate_helper("ride_information") %></th>
    <td colspan=3 class="greyed-out"></td>
  </tr>

  <tr>
    <th><%= i += 1 %></th>
    <td><%= translate_helper("unduplicated_riders") %></td>
    <td colspan="2" class="greyed-out"></td>
    <td class="numeric"><%= @undup_riders %></td>
  </tr>

</table>

<%= render :partial => 'footer' %>
