<%= render 'custom_report_header'%>
<%= content_for :title, translate_helper("vehicle_operations_title",provider:@provider.name,start_date:@start_date.strftime("%B %Y")) %>

<div class="filter-form" style="padding-top: 10px;">
<%= form_for @query, :url=>url_for(:action=>:vehicles_monthly), :html=>{:method=>:get} do |f| %>
  <fieldset class="select-month">
    <p>
      <%= f.date_select  :start_date, :order => [:month,:year] rescue nil%>
      <%= f.submit translate_helper("vehicle_operations_submit") %>
    </p>
  </fieldset>
<% end %>
</div>

<%= render :partial => 'header' %>

<div class="report selfclear">
  <table>
    <tr>
      <th colspan="8" class="table-header print-only">
        <%= translate_helper("vehicle_operations_heading") %>
      </th>
    </tr>
    <tr>
      <th colspan="2">
        <%= translate_helper("vehicle_operations_ymm_label") %>
      </th>
      <th class="data">
        <%= translate_helper("total_trips") %>
      </th>
      <th class="data">
        <%= translate_helper("hours_in_operation") %>
      </th>
      <th class="data">
        <%= translate_helper("average_rides_per_hour") %>
      </th>
      <th class="data">
        <%= translate_helper("start_odometer") %>
      </th>
      <th class="data">
        <%= translate_helper("end_odometer") %>
      </th>
      <th class="data">
        <%= translate_helper("mileage") %>
      </th>
    </tr>

    <% @vehicles.each do |vehicle| %>
      <tr>
        <th colspan="2"><%= "#{vehicle.year}/#{vehicle.make}/#{vehicle.model} (#{vehicle.name})" %></th>
        <td class="numeric"><%= @total_rides[vehicle] %></td>
        <td class="numeric"><%= @total_hours[vehicle] %></td>
        <td class="numeric">
          <% if @total_hours[vehicle] == 0 %>
           0.0
          <% else %>
           <%= "%.1f" % (@total_rides[vehicle].to_f / @total_hours[vehicle].to_f)  %>
          <% end %>
        </td>
        <td class="numeric"><%= @beginning_odometer[vehicle] == -1 ? 'N/A' : @beginning_odometer[vehicle] %></td>
        <td class="numeric"><%= @ending_odometer[vehicle] == -1 ? 'N/A' : @ending_odometer[vehicle] %></td>
        <td class="numeric"><%= @ending_odometer[vehicle] == -1 || @beginning_odometer[vehicle] == -1 ? 'N/A' : @ending_odometer[vehicle] - @beginning_odometer[vehicle] %></td>
      </tr>
      <tr>
        <th><%= translate_helper("vin") %></th>
        <td><%= vehicle.vin %></td>
        <td colspan="6" rowspan="3"></td>
      </tr>
      <tr>
        <th><%= translate_helper("license_plate") %></th>
        <td><%= vehicle.license_plate %></td>
      </tr>
      <tr>
        <th><%= translate_helper("garaged_location") %></th>
        <td><%= vehicle.garaged_location %></td>
      </tr>
    <% end %>

  </table>
</div>

<%= render :partial => 'footer' %>
