- @run_dates.each do |date|
  %h2= format_date(date)
  %table.table.table-bordered
    %thead
      %tr
        %th{style: 'width: 150px;'}= translate_helper("run_name_column")
        %th= translate_helper("run_incomplete_reason")
    %tbody
      - @data_by_date[date].each do |data|
        %tr
          %td{style: 'width: 150px;'}= data[0]
          %td= data[1]

