- @run_dates.each do |date|
  %h2= format_date(date)
  %table.table.table-bordered
    %thead
      %tr
        %th{style: 'width: 150px;'}= translate_helper("run_name_column")
        %th= translate_helper("run_incomplete_reason")
    %tbody
      - @data_by_date[date].each do |data|
        - run_name = data[0]
        - run_id = data[1]
        - incomplete_reason = data[2]
        %tr
          %td{style: 'width: 150px;'}
            = link_to run_name, run_url(run_id)
          %td= incomplete_reason

