#footer{:role => "contentinfo", :aria => {:label => 'Footer'}}
  .footer-text
    = translate_helper("footer_content")
  .version-lang
    %span.version
      - unless Rails.env.production?
        = "Version #{ENV['APP_VERSION'] || Rails.application.config.version}"
      - else
        = "Version #{Rails.application.config.version}"
    %span.locale
      - if current_user.present?
        = links_to_each_locale(can? :manage, Translation)
      -else
        = links_to_each_locale(false)
/ end of footer