#footer{:role => "contentinfo", :aria => {:label => 'Footer'}}
  #footer_text
    = translate_helper("footer_content")
  #versionLang.col-xs-12
    .pull-left
      - unless Rails.env.production?
        %span#versionInfo
          = "Version #{ENV['APP_VERSION'] || Rails.application.config.version}"
      - else
        %span#versionInfo= "Version #{Rails.application.config.version}"
    .pull-right
      - if current_user.present?
        - if can? :manage, Translation
          = link_to "En", request.env['PATH_INFO'] + "?tags=false"
          = link_to "Tags", request.env['PATH_INFO'] + "?tags=true"
/ end of footer