<!DOCTYPE html>
<html>
<head>
  <title>
    <%= content_for?(:title) ? yield(:title) : "RidePilot" %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body class="<%= bodytag_class %>">
  <div id="session-timeout-warning" style="display: none;">
    You will be logged off in <span><!-- countdown place holder
    --></span>&nbsp;seconds due to inactivity.
    <a id="session-resume" href="#">Click here to stay logged in.</a>
  </div>
  <div id="header">
    <div class="wrap selfclear">
      <%= link_to "RidePilot", root_path, :id => "logo" %>
      <div id="login-area">
        <% if current_user %>
          <a href="#"><%= current_user.email %></a> 
          <span class="separator">|</span>
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
          <span class="separator">|</span>
          Logged in to 
          <% if @provider_map.size > 1 %>
          <%= form_tag change_provider_path %>
            <select name="provider_id" onchange="form.submit();">
              <%= options_for_select(@provider_map, selected = current_user.current_provider_id) %>
            </select>
            <%= hidden_field_tag "come_from", request.fullpath %>
          </form>
          <% else %>
            <%= current_user.current_provider.name %>
          <% end %>
        <% end %>
      </div>
    </div><!-- /.wrap -->
  </div><!-- /#header -->

  <div id="crossbar">
    <div class="wrap selfclear">
      <ul id="primary-nav" class="selfclear">
        <% if show_scheduling? %><li class="trips"><%= link_to "Trips", trips_path %></li><% end %>
        <% if show_scheduling? %><li class="runs"><%= link_to "Runs", runs_path %></li><% end %>
        <% if show_scheduling? %><li class="cab_trips"><%= link_to "Cab trips", cab_trips_path %></li><% end %>
        <% if show_scheduling? %><li class="customers"><%= link_to "Customers", customers_path %></li><% end %>
        <% if show_scheduling? %><li class="reports"><%= link_to "Reports", reports_path %></li><% end %>
        <% if show_dispatch?   %><li class="dispatch"><%= link_to "Dispatch", dispatch_path %></li><% end %>
      </ul>
      <ul id="secondary-nav" class="selfclear">
        <% if current_user && can?(:read, current_user) %>
          <li class="admin"><%= link_to "Admin", root_path %></li>
        <% end %>
        <% if current_user && can?(:read, Provider) %>
          <li class="vehicles-drivers-users"><%= link_to "Settings", provider_path(current_user.current_provider) %></li>
        <% end %>
      </ul>
    </div><!-- /.wrap -->
  </div><!-- /#crossbar -->

  <div id="main">
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= content_for?(:menu_bar) ? yield(:menu_bar) : '' %>
    <%= yield %>
  </div>

  <%= render partial: 'layouts/footer' %>
  <%= yield :footer%>

  <% if current_user %>
    <%= javascript_tag do %>
      $(document).ready(function(){
        idleTimer = new IdleTimer();
        idleTimer.start();
      });
    <% end %>
  <% end %>
</body>
</html>
